$main-color: #5048d7;
$trend-color: #5b54c6;
$primary-color: #7682f8;
$secondary-color: #f2f1ff;

.modal {

  h3 {
    font-family: "NanumSquareB";
    font-size: clamp(15px, 2.5vw, 16px);
  }

  input {
    &:not([type="radio"], [type="checkbox"]) {
      background-color: #f3f6f9;
      border: 1px solid #f3f6f9;
      min-height: 32px;
    }
  }

  .checkbox {
    label {
      &::before {
        width: 18px;
        height: 18px;
      }

      &::after {
        height: 5px;
        width: 9px;
        left: 6px;
      }
    }
  }

  &[type="number"] {
    text-align: right;
  }

  li {
    &.options {
      max-width: 650px;

      input {
        &:first-of-type:checked {
          ~ .inputs {
            display: none;
          }

          ~ .options:first-of-type {
            display: flex;
          }
        }
        &:nth-of-type(2):checked {
          ~ .options:nth-of-type(2) {
            display: flex;
          }
        }
        &:nth-of-type(3):checked {
          ~ .options:nth-of-type(3) {
            display: flex;
          }
        }
      }

      .options {
        display: none;
        width: 100%;
        padding: 0.5rem;
        justify-content: flex-start;
        background-color: #f3f6f9;
        border-radius: 0.5rem;

        div {
          display: flex;
          align-items: center;
        }
      }
    }
  }

  dl {
    display: flex;
    flex-direction: column;
    font-size: 14px;

    &.caution {
      dd {
        font-size: 14px;
        padding-left: 0;

        &::before {
          content: none;
        }
      }

      dt {
        margin-top: 1rem;
        font-size: 13px;
        font-weight: 600;
      }
    }

    dd {
      position: relative;
      padding-left: 0.5rem;
      line-height: 1.5;

      &::before {
        content: "\00B7";
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
      }
    }
  }

  section {
    padding: 0;
    border-radius: 0;
    background-color: transparent;
    box-shadow: 0 0 0;
  }

  header {
    button {
      &.btn-grayscale {
        min-height: 24px;
      }
    }
  }

  .ico-refresh {
    background-position: center;
    background-size: 20px;
    aspect-ratio: 1;
    padding: 0 !important;
  }

  .right-arrow {
    padding: 0;

    &::after {
      border-color: #a3a6a9;
    }

    &:hover {
      color: $main-color;
      background-color: transparent;
    }
  }

  .search {
    flex-wrap: wrap !important;
    margin-top: 0.5rem;
  }

  .alert {
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24' viewBox='0 0 24 24' width='24'%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3Cpath fill='orangered' d='M20 2H4c-1.1 0-1.99.9-1.99 2L2 22l4-4h14c1.1 0 2-.9 2-2V4c0-1.1-.9-2-2-2zm-7 9h-2V5h2v6zm0 4h-2v-2h2v2z'/%3E%3C/svg%3E")
      no-repeat left 0.8rem top 0.8rem;
    background-size: 1.5rem;
    color: orangered;
    border: 1px solid;
    padding: 0.75rem 0.75rem 0.75rem 3rem;
    border-radius: 0.5rem;
    word-break: keep-all;
  }

  .selector {
    flex-wrap: nowrap;
    gap: 0.5rem !important;

    h5 {
      font-size: 17px;
    }

    label {
      flex-direction: column;
      text-align: center;
      justify-content: center;

      &:hover {
      }
    }
  }

  .process {
    display: flex;
    justify-content: center;

    li {
      flex: 1 1 auto;
      word-break: keep-all;
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 0.75rem;
      width: calc(100% / 3);
      text-align: center;

      &::before {
        content: "";
        width: 0.75rem;
        height: 0.75rem;
        border-radius: 50%;
        display: block;
        background-color: #c3c6c9;
      }

      &::after {
        content: "";
        position: absolute;
        display: block;
        top: 5px;
        width: 70%;
        height: 1px;
        background-color: #e3e6e9;
        z-index: -1;
      }

      &.is-active {
        color: $main-color;

        &::before {
          scale: 1.1;
          border: 2px solid $main-color;
          box-shadow: 0 3px 9px -2px $main-color;
          background-color: white;
        }

        ~ li {
          &::before {
            border: 2px solid #d3d6d9;
            background-color: white;
          }
        }
      }

      &:first-of-type {
        &::after {
          left: 50%;
        }
      }

      &:last-of-type {
        &::after {
          right: 50%;
        }
      }
    }
  }

  &.search-item {
    .information {
      width: 25rem;
    }
  }

  .tabs {
    li {
      font-size: 15px;
    }
  }

  .tab-content {
    flex-direction: column;
  }

  .list {
    flex: 1 1 auto;
    gap: 0.5rem;
    border: 0;
    padding: 0;

    &.edit {
      &.accounts {
        input {
          width: 100%;
        }

        div {
          &:first-of-type {
            flex: 1;
          }

          &:last-of-type {
            flex: 2;
          }
        }
      }

      li {
        border: 0;
        min-height: 36px;
      }

      input {
        flex: 1 1 auto;
        background-color: transparent;
        border: 1px solid #e3e6e9;
        padding-right: 3.5rem;
      }
    }

    &.list-form {
      padding: 0.5rem;
      gap: 0;

      .asterisk {
        &::before {
          top: calc(50% - 10px);
          left: -8px;
          font-size: 13px;
        }
      }

      input[type="number"],
      input[id*="price"],
      input[id*="Price"] {
        max-width: 120px;
        text-align: right;
      }

      fieldset {
        padding: 0;
        border: 0;
        margin-top: 2rem;

        legend {
          font-size: 14px;
          text-align: left;
          padding: 0;
          margin-bottom: 5px;
          font-family: "NanumSquareB";
        }

        ul {
          &:not(:last-of-type) {
            border-bottom: 1px solid #e3e6e9;
          }
        }

        .inputs {
          border-top: 1px solid #eee;
        }
      }

      li {
        border: 0;
        padding: 0.5rem 0;
        justify-content: flex-start;
        gap: 5px .5rem;

        > div {
          justify-content: flex-start;
        }
      }

      .row {
        border-bottom: 1px solid #eee;

        &:first-of-type {
          border-top: 1px solid #eee;
        }

        > :first-child {
          flex: 0 0 130px;
          justify-content: flex-start;
          align-items: center;
          gap: 3px;
        }

        .tag {
          min-width: auto;
        }
      }

      .inputs {
        gap: 5px 0.5rem;
        width: 100%;
        justify-content: flex-start;

        input[type="number"] {
          max-width: 120px;
          text-align: right;
        }

        > div {
          width: 100%;
          margin-left: 0;
          justify-content: flex-start;

          div:first-of-type {
            text-align: right;
          }
        }

        .target {
          display: flex;
          flex-wrap: wrap;
          gap: 0.5rem;

          > div {
            width: 100%;
            display: flex;
            align-items: center;
            gap: 5px;
          }
        }

        .input-ranking:checked {
          ~ .ranking {
            display: flex;
          }

          ~ .target {
            display: none;
          }
        }

        .input-target:checked {
          ~ .ranking {
            display: none;
          }

          ~ .target {
            display: flex;
          }
        }
      }
    }

    li {
      display: flex;
      align-items: center;
      gap: 5px 0.5rem;
      min-height: 36px;
      border: 1px solid #e7e8e9;
      border-radius: 3px;
      flex-direction: row;
      justify-content: space-between;
      padding: 0 0.5rem;
      position: relative;

      &.title {
        border: 0;
        background-color: #f3f6f9;
      }

      &.checked {
        background-color: #f1f2fe;
      }

      div {
        flex: 1 1 auto;
      }

      > div:first-child {
        flex: 1 1 auto;

        label {
          flex: 1 1 auto;
        }
      }

      [title="키워드"] {
        width: 200px !important;
      }

      .keyword {
        display: flex !important
      }

      .count {
        flex: 0 0 auto;
        background-color: rgba(112, 128, 144, 0.1);
        color: slategray;
        border-radius: 50px;
        padding: 3px 10px 3px 0.5rem;
        font-size: 12px;
        display: flex;
        gap: 3px;
        align-items: center;

        &::before {
          content: "";
          background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24' viewBox='0 0 24 24' width='24'%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3Cpath fill='rgb(112 128 144 / 50%)' d='M14 2H6c-1.1 0-1.99.9-1.99 2L4 20c0 1.1.89 2 1.99 2H18c1.1 0 2-.9 2-2V8l-6-6zm2 16H8v-2h8v2zm0-4H8v-2h8v2zm-3-5V3.5L18.5 9H13z'/%3E%3C/svg%3E")
            no-repeat left center;
          display: inline-block;
          background-size: 100%;
          width: 12px;
          height: 12px;
        }
      }
    }

    .rows {
      min-height: auto;

      &:empty {
        min-height: 6rem;
      }
    }

    + .caution {
      margin-top: 0.5rem;
    }
  }

  .lists {
    display: flex;
    flex-wrap: wrap;
    overflow-y: auto;
    gap: 0.75rem;
    align-items: flex-start;

    .list {
      li {
        &.title {
          min-height: 36px;
        }
      }
    }
  }

  &:is(.modal-confirm, .modal-alert) {
    &.is-active {
      z-index: 1001 !important;
    }

    .modal-header {
      border-bottom: 0;
      z-index: 100;
    }
  }

  .modal-header {
    padding: 0.5rem 1rem;
    border-bottom: 1px solid #e3e6e9;

    &.no-title {
      border-bottom: 0;

      h3 {
        opacity: 0;
      }
    }
  }

  .modal-content {
    header {
      padding: 0 0.5rem;
      min-height: 32px;
      align-items: center;

      .checkbox {
        align-items: center;
      }
    }
  }

  .section-agreement {
    .list {
      li {
        padding: 0.75rem 0.5rem;
        &:not(.title) {
          border: 1px solid #e3e6e9;
          border-radius: 0.5rem;
          transition: background-color 0.25s;
        }

        a {
          content: "";
          background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24' viewBox='0 0 24 24' width='24'%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3Cpath fill='%23a3a6a9' d='M19 19H5V5h7V3H5c-1.11 0-2 .9-2 2v14c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2v-7h-2v7zM14 3v2h3.59l-9.83 9.83 1.41 1.41L19 6.41V10h2V3h-7z'/%3E%3C/svg%3E")
            center;
          background-size: 100%;
          width: 18px;
          height: 18px;
          display: inline-block;
          cursor: pointer;
          transition: 0.25s;
        }

        &:hover:not(.title) {
          background-color: #f3f6f9;
          border-color: #f3f6f9;
        }
      }
    }
  }

  .section-done {
    border: 1px solid #d3d6d9;
    padding: 0.75rem;
    border-radius: 0.5rem;

    p {
      display: flex;
      gap: 0.5rem;
      position: relative;

      &::before {
        content: "";
        display: block;
        border-radius: 50%;
        margin-right: 3px;
        width: 1.25rem;
        height: 1.25rem;
        background-color: lightseagreen;
        transition: 0.2s;
      }

      &::after {
        content: "";
        width: 10px;
        height: 6px;
        position: absolute;
        top: calc(50% - 2px);
        left: 7px;
        border: 2px solid white;
        border-top: none;
        border-right: none;
        background: transparent;
        opacity: 1;
        transform: rotate(-45deg) translateY(-50%);
      }

      &.failed {
        &::before {
          background-color: orangered;
        }

        &::after {
          border: 0;
          width: 12px;
          height: 12px;
          background-image: linear-gradient(white 0 0), linear-gradient(white 0 0);
          background-position: center;
          background-size:
            100% 2px,
            2px 100%;
          background-repeat: no-repeat;
          transform: rotate(45deg);
          top: 4px;
          left: 4px;
        }
      }
    }
  }

  .section-html {
    border: 1px solid #d3d6d9;
    padding: 0.75rem;
    border-radius: 0.5rem;
  }

  .section-impact {
    background-color: #f3f6f9;
    padding: 1rem;
    width: fit-content;
    margin: 0.5rem auto;
    border-radius: 0.25rem;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    header {
      a {
        width: 100%;
      }
    }
  }

  .section-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.75rem;
    border-radius: 0.25rem;
    background-color: #f3f6f9;
  }

  &-confirm {
    .dialog {
      width: 400px;
    }
  }

  &-list {
    .list {
      border: 0;
      background-color: white;
      gap: 0;

      input {
        width: 100%;
      }

      .title {
        margin-bottom: 0.75rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
      }

      .current {
        color: $main-color;
      }

      .row {
        &:first-of-type {
          li {
            border-top: 1px solid #e3e6e9;
          }
        }

        li {
          flex-direction: column;
          border-right: 0;
          justify-content: center;
          padding: 0.75rem 0.5rem !important;
          border-bottom: 1px solid #e3e6e9;

          &:first-of-type {
            flex: 0 0 auto;
            width: 120px;
            color: #565e72;
            align-items: flex-start;
          }

          &:last-of-type {
            flex: 1 1 auto;
            align-items: flex-start;
            gap: 0.75rem;
          }

          &.categories {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            gap: 0.25rem;
          }

          .row {
            flex-direction: column;
            align-items: flex-start;
          }
        }
      }
    }
  }

  &-failed {
    .list {
      border: 0;
      padding-bottom: 0;

      li {
        width: auto;
        min-height: 24px;
        padding: 0 !important;
        text-align: left;

        &::before {
          flex-basis: 80px;
        }
      }

      ul {
        flex-direction: column;
        padding: 0.5rem;
        border: 1px solid #e3e6e9;
        border-radius: 5px;
      }
    }
  }

  &.change-details {
    .list {
      li {
        > :first-child {
          flex: 0 0 80px;
        }
      }
    }
  }

  &-location,
  &-sync {
    .dialog {
      width: min(960px, 50vw);
    }

    .section-impact {
      margin: 0;

      .inputs {
        border: 1px solid #e3e6e9;
        padding: 0 1rem;
        border-radius: 3px;
      }
    }

    .list {
      width: calc(100% / 3 - 0.5rem);
      gap: 0;
      padding: 0;
      overflow-y: unset;
      max-height: none;
      border: 1px solid #e3e6e9;
      border-radius: 0.5rem;

      span {
        font-size: 12px;
        color: #c3c6c9;

        &.located {
          color: $main-color;
        }
      }

      li {
        width: 100%;
        justify-content: space-between !important;
        padding: 0 0.5rem !important;
        border: 0;
        min-height: 40px;

        &.title {
          background-color: #f3f6f9;
        }
      }
    }
  }

  &-location {
    .list {
      flex-basis: calc(100% / 2 - 0.5rem);
    }
  }

  &-desired-keyword {
    .keyword {
      border: 0;
      gap: 5px !important;
    }

    .inputs {
      li {
        &:last-of-type {
          flex: 1 1 auto;
        }
      }
    }

    .list {
      li {
        div {
          width: 84px;
          text-align: center;
          justify-content: center;
        }
      }
    }
  }

  &-gender-age {
    .list {
      li {
        justify-content: center;

        &:first-of-type {
          flex: 0 0 40%;

          &:not(.title li) {
            justify-content: flex-start;
          }
        }

        &:empty::after {
          content: none;
        }
      }
    }
    .rows {
      &:not(:last-of-type) {
        padding-bottom: 0.5rem;
        border-bottom: 1px solid #e3e6e9;
      }
    }
  }

  &-management-templates {
    li {
      border: 0;
    }

    .row {
      &.title {
        li {
          justify-content: center !important;
        }
      }
    }

    .tags {
      .tag {
        &:first-of-type {
          color: lightgray;
        }
      }
    }

    .list {
      padding: 0;
      border: 0;

      li {
        justify-content: center;

        div {
          &:nth-of-type(1) {
            justify-content: flex-start;
          }

          &:nth-of-type(2),
          &:nth-of-type(3) {
            flex: 0 0 100px;
          }
        }
      }
    }
  }

  &-history {
    .dialog {
      width: min(1200px, 60vw);
    }

    .list {
      div {
        width: 80px;
        justify-content: center;
        display: flex;
      }
    }
  }

  &-chart {
    .dialog {
      min-width: 45rem;
    }

    .modal-content {
      .title {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .times {
          margin-left: 0.5rem;
          color: $main-color;
        }
      }
    }

    .chart {
      border: 1px solid #e3e6e9;
      padding: 1rem;
      border-radius: 5px;
    }
  }

  &-advanced {
    &.part {
      h5 {
        width: 120px;
      }

      .dialog {
        width: min(1000px, 60vw);
      }

      .advanced-search {
        flex-direction: column;
        gap: 1.5rem;

        li {
          flex-direction: row !important;
        }

        ul {
          border-right: 0 !important;
          padding-bottom: 0 !important;
          flex: 0 0 auto !important;
        }
      }
    }

    footer {
      justify-content: flex-end;
    }

    section {
      overflow: unset;

      &:first-of-type:not(.sections section) {
        flex: 0 0 auto;
        flex-direction: row;
      }
    }

    .legend {
      display: flex;
      justify-content: center;
      gap: 1rem;

      li {
        display: flex;
        align-items: center;
        gap: 5px;

        &::before {
          content: "";
          width: 18px;
          height: 12px;
          display: inline-block;
          outline: 1px solid #e3e6e9;
        }

        &:first-of-type {
          &::before {
            outline: 0;
            border-top: 2px solid $main-color;
            background-color: $secondary-color;
          }
        }

        &:last-of-type:not(:first-of-type) {
          &::before {
            content: none;
          }
        }

        &.limit {
          &::before {
            border-top: 2px solid tomato;
            background-color: rgba(255, 99, 71, 0.1);
          }
        }
      }
    }

    .advanced-search {
      background-color: #f3f6f9;
      padding: 1rem 0;
      opacity: 1;
      max-height: none;
      visibility: visible;
      position: relative;
      top: auto;

      ul {
        &:first-of-type {
          li {
            gap: 0.5rem;
            flex-direction: column;
            align-items: flex-start;

            .inputs {
              min-height: auto;
            }
          }
        }
      }

      li {
        &.inputs {
          flex: 0 0 auto;
          align-items: flex-start;
          gap: 0;
          flex-wrap: nowrap;

          h5 {
            padding-top: 5px;
          }

          div {
            display: flex;
          }

          > div {
            display: flex;
            flex-wrap: wrap;
            gap: 0.5rem;
          }

          .ranking {
            width: 100%;
          }

          .target {
            display: flex;
            flex-wrap: wrap;
            gap: 0.5rem;

            > div {
              width: 100%;
              display: flex;
              align-items: center;
              gap: 5px;
            }
          }

          .input-ranking:checked {
            ~ .ranking {
              display: flex;
            }

            ~ .target {
              display: none;
            }
          }

          .input-target:checked {
            ~ .ranking {
              display: none;
            }

            ~ .target {
              display: flex;
            }
          }
        }

        .options {
          margin-left: 0;
        }
      }

      + .caution {
        flex: 0 0 auto;
        width: min(450px, 100%);
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        p {
          line-height: 1.25;
          font-size: 13px;
        }

        .impact {
          color: orangered;
        }
      }
    }

    .section-advanced-settings {
      flex: 1 1 auto;
      min-height: 200px;
      overflow-y: hidden;
    }

    .dialog {
      width: fit-content;
    }

    .sections {
    }
  }

  &-sortable {
    &#selectColumns_google {
      li {
        width: calc(100% / 5 - 7px);
      }
    }

    li:nth-of-type(1),
    li:nth-of-type(2),
    li:nth-of-type(3),
    li:nth-of-type(4),
    li:nth-of-type(5) {
      .checkbox {
        label {
          padding: 0.5rem 1.75rem 0.5rem 0.5rem;
        }
      }
    }
    .dialog {
      width: 50vw;
    }

    .ico-pin {
      display: none;
    }

    .checkbox {
      svg {
        left: 0.65rem;
      }

      label {
        border: 1px solid #e3e6e9;
        padding: 5px 0.5rem;
        border-radius: 3px;
        font-size: 13px;

        &::before {
          background-color: transparent;
          border-color: transparent;
        }

        &::after {
          width: 12px;
          height: 7px;
          left: 0.75rem;
        }

        &:is(input:checked + label) {
          border-color: rgba(80, 72, 215, 0.5);

          &::before {
            background-color: transparent;
            border-color: transparent;
          }

          &::after {
            border-color: $main-color;
          }
        }
      }

      .check-all {
        + label {
          padding-right: 0.75rem;
        }
      }
    }

    .inputs {
      flex-direction: row;
      flex-wrap: wrap;
      gap: 0.5rem;
      overflow-y: auto;

      button {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        z-index: 3;
      }

      li {
        user-select: none;
        flex: 0 0 auto;
        width: calc(100% / 7 - 7px);
        position: relative;
        min-width: 120px;

        &.over {
          &::before {
            content: "";
            height: 80%;
            width: 2px;
            background-color: slategray;
            display: inline-flex;
            padding: 0 1rem;
          }
        }

        &:nth-of-type(1),
        &:nth-of-type(2),
        &:nth-of-type(3),
        &:nth-of-type(4),
        &:nth-of-type(5) {
          .ico-pin {
            display: flex;
          }
        }
      }
    }
  }

  &-calculate-bid-price {

    .filters {

      strong {
        color: $main-color
      }
    }
    .bid-price {
      background-color: #f3f6f9;
      padding: 0.5rem;
      border-radius: 3px;
      gap: 0;

      input {
        background-color: white;
        color: $main-color;
      }

      .row {
        padding: 0 0.5rem;

        li {
          background-color: transparent;
        }
      }
    }

    .list {
      padding: 0.5rem 0;

      &.result {
        gap: 0;
        background-color: $secondary-color;
        border-radius: 0.5rem;

        .price {
          font-size: 15px;
          color: $main-color;
        }

        .row {
          padding: 0 0.5rem;

          li {
            background-color: transparent;
          }
        }
      }

      li {
        border: 0;

        > div {
          padding: 0 !important;

          &:empty {
            &::after {
              content: none;
            }
          }

          &:nth-of-type(1) {
            flex: 0 0 auto;
            width: 100px;
            display: flex;
            align-items: center;
            gap: 3px;
          }

          &:nth-of-type(2) {
            width: 100%;
          }

          &:nth-of-type(3) {
            flex: 0 0 auto;
            width: auto;
          }
        }
      }
    }
  }

  &-upload {
    section {
      header {
        flex-direction: column;
        padding-top: 3rem !important;
        background-size: 3rem;
        background-position: top center;
      }
    }

    .section-upload {
      border: 2px dashed #d3d6d9;
      border-radius: 3px;
      width: 100%;
      padding: 1rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  }

  &-shipping {
    .dialog {
      width: min(720px, 100%);
    }

    .shipping-cost {
      .options {
        display: none;
        border: 1px solid #e3e6e9;
        border-radius: 0.5rem;
        padding: 0.5rem;
        gap: 0.5rem;
        flex-direction: column;

        ul {
          width: 100%;
          gap: 0.5rem;
          display: flex;
          flex-direction: column;
        }

        li {
          border: 0;
          padding: 0;

          > div {
            flex: 0 0 auto;
            gap: 1rem;
          }
        }
      }

      input {
        max-width: 120px;

        &:nth-of-type(1):checked {
          ~ .options:nth-of-type(1) {
            display: flex;
          }
        }

        &:nth-of-type(2):checked {
          ~ .options:nth-of-type(2) {
            display: flex;
            flex: 0 0 auto;
          }
        }
      }
    }
  }

  &-conversion {

    .dialog {
      width: min(710px,100%);
    }
    
    .conversion-value {
      .options {
        display: none;
        width: 100%;
        gap: 0.5rem;
      }

      input {
        max-width: 120px;

        &:nth-of-type(1):checked {
          ~ .options:nth-of-type(1) {
            display: flex;
          }
        }

        &:nth-of-type(2):checked {
          ~ .options:nth-of-type(2) {
            display: flex;
          }
        }
      }
    }
  }

  &-account-issues {
    .modal-content {
      header {
        background-color: #f3f6f9;
        padding: 0.5rem;
      }

      .tag {
        background-color: orangered;
      }
    }
  }
}
