@media screen and (max-width: 1440px) {
  aside {
    width: 180px;
  }

  .content-dashboard {
    .wrapper {
      flex: none;
    }
    .chart-container {
      flex-direction: column;
    }
  }

  :is([class$="details"]) {
    flex-direction: column;

    &.sample {
      flex-wrap: nowrap;

      .wrapper {
        width: 100%;
      }
    }

    .main-header {
      width: 100%;
      padding-right: 1rem;
    }

    .section-main {
      display: flex;
      flex-direction: column;
      gap: 0.5rem !important;
      padding: 1rem;

      .information {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;

        .row {
          width: 100%;
        }

        .image {
          width: 45px !important;
          height: 45px !important;
        }

        .right-arrow {
          order: 3;
        }

        .details {
          padding: 0.5rem;
          flex-direction: row;
          flex: 1 1 auto;

          > .row {
            flex-direction: column;
            flex: 1 1 auto;
            border-bottom: 0 !important;
            padding-bottom: 0 !important;
            gap: 0.25rem;

            ul {
              display: none;
            }
          }
        }
      }
    }

    > .wrapper {
      padding-top: 0;
    }
  }

  :is(.content-ranking, .content-lowest-price) {
    .section-main {
      width: 100%;

      ul {
        li {
          width: 100%;
        }
      }
    }
  }

  .content-keyword-trend-details {
    .wrapper {
      margin-top: 0;

      > .tabs {
        li {
          font-size: 15px;
        }
      }
    }

    .main-header {
      .section-main {
        flex-direction: row;
        gap: 1rem;

        .information {
          width: 100%;
        }

        .related {
          width: clamp(400px, 100%, 100%);
          border: 1px solid #eee;
          border-radius: 0.75rem;
          padding: 0.75rem;
        }
      }
    }

    .summary {
      width: 100% !important;

      &.horizontal {
        ul {
          flex-wrap: wrap;
        }
      }

      .link {
        max-width: none;
      }

      ul {
        width: 100%;

        li {
          flex: 1 1 15%;
          word-break: keep-all;
        }
      }
    }

    .content-keyword {
      .report {
        flex-wrap: wrap;
      }
    }
  }

  .section-main {
    .section-content {
      flex-direction: column;
    }
  }
}

@media screen and (max-width: 1280px) {
  :is(.content-ranking, .content-lowest-price) {
    .section-main {
      flex-wrap: wrap;
    }
  }

  .content .main-header .title {
    gap: 0.5rem;
  }

  .filters {
    flex-direction: column;
    gap: 0.5rem;
  }

  .content-keyword-trend-details .summary ul li {
    flex-basis: 20%;
  }
}

@media screen and (max-width: 960px) {
  aside {
    width: 50px;

    .aside-handler {
      margin-top: 0;
      border: 0;

      svg {
  
        path {
          stroke-dashoffset: unset !important;
  
          &:first-of-type {
            stroke-dasharray: 40 82;
          }
  
          &:last-of-type {
            stroke-dasharray: 40 82;
          }
        }
      }
    }

    nav {
      width: 100%;
      margin: 0;
      border: 0;
      padding: 0;
      gap: 0;

      menu {

        span {
          opacity: 0;
          display: none;
          animation: fadeOut 0.25s forwards;
        }
      }

      a {
        padding: 0.75rem;
        &::after {
          border-radius: 0;
        }

        span {
          opacity: 0;
          display: none;
          animation: fadeOut 0.25s forwards;
        }
      }
    }
  }

  .section-main {
    .section-content {
      .report {
        flex-wrap: wrap;
      }
    }
  }

  .ranking-fluctuations {
    flex-direction: column;

    .ranking-chart {
      width: 100% !important;
    }
  }
}

@media screen and (max-width: 640px) {
  html {
    overflow: hidden;

    body {
      display: flex;
      flex-direction: column;
      overflow: hidden !important;

      .top-banner {
        font-size: 14px;
        padding: 0.5rem;
      }

      .date {
        font-size: 13px;
      }

      h1 {
        font-size: 20px;
      }

      h3 {
        font-size: 17px;
        white-space: nowrap;
      }

      .scroll-to-top {
        right: 1rem;
        bottom: -3rem;

        &.is-active {
          bottom: 1rem;
        }
      }

      .col-check {
        justify-content: flex-start;
      }

      .chart-container {
        background: white;
        padding: 1rem !important;
        border-radius: 0 !important;
      }

      .zoom-in-out {
        display: none;
      }

      .search {
        flex: 1 1 auto;
      }

      [data-tooltip] {
        &::before {
          left: 50% !important;
        }

        &::after {
          display: none;
        }
      }

      .tooltip {
        &::after {
          display: none;
        }
        .tooltip-content {
          opacity: 0 !important;
          visibility: hidden !important;
          white-space: normal !important;
          left: 1rem !important;
          right: 1rem !important;
          width: auto !important;
          position: fixed;
          margin-top: 0.5rem;
          transition: opacity 0.25s;
        }

        &.is-active {
          z-index: 60 !important;

          .tooltip-content {
            opacity: 1 !important;
            visibility: visible !important;
          }
        }
      }

      .main-header {
        .services {
          gap: 0.5rem;

          .date {
            display: none !important;
          }
        }
      }

      main {
        overflow: hidden;
        padding: 0;
        position: relative;

        &.mutated {
          padding: 0;
        }
      }

      .content {
        border-radius: 0;
      }
    }
  }

  .modal {
    .modal-content {
      padding: 0 1rem;
    }

    &.modal-edit {
      .list-count {
        display: flex !important;
      }
    }

    .inputs,
    .buttons {
      padding: 1rem;
    }
    .list {
      flex-direction: column;
      flex-wrap: nowrap;
      max-height: 40vh !important;

      .row {
        width: 100%;
        flex-direction: row;
        padding: 0;

        &.title {
          display: flex;
        }
      }
    }
  }

  :is(.filters, .selector, .list, .wrapper .list .row, .list
      li, .item-update-failed, .progress, .col-chart, .report, .summary, .summary ul, .summary li) {
    width: 100%;
    max-width: 100%;
  }

  :is(aside .logo, .zoom-in-out, .btn-advanced-search, .advanced-search, .list-count, .chart-interval) {
    display: none !important;
  }

  .header {
    min-height: 49px;
    display: flex;
    padding-left: 1rem;
    border-bottom: 1px solid #ddd;

    .logo {
      font-size: 18px;

      a {
        background: url(../images/logo_diad_trend.svg) no-repeat;
        width: 110px;
        height: 20px;
        background-size: 100%;
        padding-left: 3.15rem;
        display: flex;
        align-items: normal;
        font-size: 22px;
        font-family: "RobotoMedium";
        color: #333;
      }
    }
  }

  aside {
    width: 180px;
    position: absolute;
    top: auto;
    left: auto;
    right: -180px;
    transition: 0.4s;

    .logo {
      span:not(.responsive) {
        display: flex;
      }

      .responsive {
        display: flex;
      }
    }

    .username,
    .sub-menu {
      display: block;
    }

    .username {
      padding: 1rem 0;
    }

    .sub-menu {
      position: absolute;
      bottom: 1rem;
      right: 50%;
      transform: translateX(50%);
      white-space: nowrap;
      display: flex;
      gap: 0.75rem;
    }

    nav {
      a {
        span {
          display: flex;
        }
      }
    }

    &.is-active {
      right: 0;
      box-shadow: 0 3px 6px 3px rgba(0, 0, 0, 0.1);
    }
  }

  .content {
    overflow-y: auto;

    > .wrapper {
      overflow: unset;
      padding: 0 0 1.5rem;
      gap: 2rem;

      > section {
        background-color: transparent;
        gap: 0.5rem;
        padding: 0;
        box-shadow: 0 0 0;
        border-radius: 0;
        max-width: 100%;

        .section-header {
          padding: 0 1rem 0.5rem;
        }

        &.section-chart {
          padding-top: 0.5rem;
          background-color: white;
        }
      }
    }

    .main-header {
      padding: 1rem;
      gap: 0.5rem;

      .subline {
        flex-wrap: wrap;
        gap: 0.5rem;
      }
    }
  }

  section {
    flex-wrap: wrap;
    width: 100%;

    .section-header {
      button {
        height: 40px;
      }

      &.multi-line {
        div:last-child {
          padding-top: 0;
          border-top: 0;
        }

        .title {
          flex: 1 1 auto;

          h3 + .buttons {
            width: auto;
          }

          .btn-advanced-search {
            + .buttons {
              button {
                flex: 1 1 25%;
                padding: 0.5rem;
                justify-content: center;
                z-index: 101;
              }
            }
          }
        }

        .buttons {
          flex-wrap: nowrap;
          width: 100%;

          .btn-main {
            position: fixed;
            bottom: 0;
            z-index: 100;
            width: 100%;
            left: 0;
            border-radius: 0;
            height: 54px;
            font-size: 17px;
            background-color: #333639;
          }

          + .selectbox {
            display: none;
          }
        }
      }
    }

    .wrapper {
      flex-wrap: wrap;
      max-width: 100%;
    }

    .section-main {
      section {
        gap: 0;
      }

      .section-header {
        padding: 0 !important;
      }

      ul {
        flex-direction: column;
      }
    }
  }

  .filters {
    > div {
      width: 100%;
      flex-wrap: wrap;
    }

    .calendar {
      flex-wrap: nowrap;
      input {
        min-width: auto;
        width: 100%;
      }
    }

    .selector {
      background-color: #e4e9ed;
      justify-content: center;

      label {
        flex: 1 1 auto;
        justify-content: center;
        padding: 0.35rem;
      }
    }
    .calendar {
      width: 80%;
      flex: 1 1 auto;

      + button {
        flex: 0 0 auto;
        justify-content: center;
      }
    }

    .buttons {
      width: 100%;
      gap: 0;
      min-height: 40px;
      justify-content: space-around;

      > * {
        flex: 1 1 25%;
        padding: 0 !important;
        color: slategray !important;
        background-color: transparent;
        font-size: 14px;
        justify-content: center;

        &:not(:last-of-type) {
          border-color: #ccc;
        }
      }

      .selectbox {
        display: none;
      }
    }
  }

  .list {
    border: 0;
    gap: 0.5rem;
    min-height: auto !important;
    max-height: none !important;
    flex-direction: row;
    flex-wrap: wrap;
    overflow-x: hidden !important;

    .rows {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
    }

    .row {
      padding: 1rem;
      flex: 1 1 auto;
      flex-direction: column;
      background-color: white;

      &:hover {
        li {
          background-color: transparent;
        }
      }

      &.title {
        flex: 0 0 auto;
        display: none;

        li {
          width: 100%;
          padding: 0 0.5rem;
        }
      }

      &.row-no-keyword {
        li {
          &:nth-of-type(4) {
            width: auto !important;
          }
        }
      }
      li {
        padding: 0 0.5rem;
        min-height: 32px !important;
        height: auto !important;
        border-bottom: 0;
        background-color: transparent;
        flex-wrap: wrap;
        border: 0 !important;

        &::before {
          flex-basis: 80px;
          display: flex;
          color: lightslategray;
          font-size: 14px;
        }
      }
    }
  }

  .content-main {
    > .wrapper {
      overflow: visible;
    }

    .list {
      flex-direction: column;

      .row {
        max-width: 100%;
        &.title {
          display: flex;
        }
      }
    }

    section {
      padding: 1rem !important;
    }

    .progress {
      padding: 0;
    }

    .section-main {
      .section-header {
        flex-direction: row;
        align-items: center !important;
      }

      .list {
        .row {
          padding: 1rem;
          gap: 0.25rem;
          background-color: #f7f8f9;

          &:last-of-type {
            li {
              &::before {
                content: none !important;
              }

              &.button {
                margin-top: 1rem;
                justify-content: center !important;

                button {
                  height: 32px;
                }
              }
            }
          }

          &.title {
            display: none;
          }

          li {
            width: 100%;
            justify-content: flex-start !important;
            line-height: 1.15;
            background-color: transparent;

            &::before {
              flex-basis: 130px;
              font-size: 14px;
              color: lightslategray;
            }

            &:nth-of-type(1) {
              font-size: 17px;
              margin-bottom: 0.5rem;
            }
            &:nth-of-type(2) {
              &::before {
                content: "제공량";
              }
            }
            &:nth-of-type(3) {
              &::before {
                content: "이용량";
              }
            }
            &:nth-of-type(4) {
              &::before {
                content: "잔여량";
              }
            }
            &:nth-of-type(5) {
              &::before {
                content: "서비스 이용기간";
              }
            }
            &:nth-of-type(6) {
              &::before {
                content: "잔여일수";
              }
            }
          }
        }
      }
    }

    .section-chart {
      .list {
        background-color: #fff;
        border-radius: 0.5rem;
        flex-direction: column;
        padding: 1rem;
        align-items: flex-start;
        gap: 0.25rem;

        .title {
          li {
            border-bottom: 0;
            flex-direction: column;
            align-items: flex-start;
            padding: 0;
            background-color: transparent;
          }
        }

        .chart {
          height: 150px;
        }
      }
    }

    .section-article {
      .section-header {
        display: none;
      }

      .list {
        gap: 0;
        background-color: white;

        .row {
          padding: 0.25rem 0.5rem;
          flex-direction: row;
          &.title {
            padding: 0;
            li {
              padding: 0.5rem;
              // font-size: 20px !important;
            }
          }

          li {
            width: auto !important;
            &:nth-of-type(1) {
              width: 200px;
            }
          }
        }
      }
    }
  }

  .content-ranking {
    .list {
      .row {
        li {
          span {
            width: 66px;
            text-align: right;
          }
        }
      }
    }
  }

  :is(.content-ranking, .content-lowest-price) {
    padding-bottom: 3rem;

    .scroll-to-top {
      &.is-active {
        bottom: 4rem;
      }
    }

    .section-main {
      ul {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 0.5rem;

        li {
          padding: 0.5rem;
          width: calc(50% - 0.25rem);

          div {
            font-size: 14px;
          }
          strong {
            font-size: 17px;
            right: 0.5rem;
          }
        }
      }
    }

    .filters {
      flex-wrap: wrap;
      flex-direction: column-reverse;

      > div {
        flex-wrap: wrap;
        justify-content: space-between;
      }
    }

    .list-item {
      .checkbox {
        label {
          &::before {
            width: 24px;
            height: 24px;
            border-radius: 0.25rem;
          }
        }
        input + label:after {
          top: 6px;
          left: 6px;
          width: 12px;
          height: 7px;
        }
      }

      .tooltip {
        display: none;
      }

      .item-update-failed {
        position: relative;
        top: auto;
        right: auto;
        bottom: auto;
        width: auto;
      }
      .row {
        &.failed {
          li {
            background-color: transparent;
          }
        }
        .col-important {
          justify-content: flex-start;
          padding: .75rem;
          min-width: auto !important;
          border-radius: 3px;
          margin: 0.75rem 0;
          background-color: #f7f8f9 !important;

          .image {
            border-radius: 0.5rem;
            width: 70px;
            height: 70px;
          }

          .information {
            width: 60%;
            position: unset;

            .title {
              white-space: normal;
              display: -webkit-box;
              -webkit-line-clamp: 2;
              -webkit-box-orient: vertical;
              overflow: hidden;
            }

            .item-mid {
              padding: 0.5rem;
              position: absolute;
              left: 50%;
              top: -2.75rem;
              transform: translateX(-50%);
            }
          }
        }

        li {
          padding: 0;
          width: 100% !important;
          background-color: transparent;
          left: auto !important;
          align-items: center;
          flex-direction: row !important;
          justify-content: flex-start;

          &::before {
            position: absolute;
            left: 0;
          }

          .page {
            margin-bottom: 0;
          }

          &:not(.col-check, .col-important) {
            justify-content: flex-end;
            gap: 0.5rem;
          }
        }
      }
    }
  }

  .content-ranking {
    .list-item {
      li {
        &::before {
          content: attr(title);
        }
      }
    }
  }

  .content-lowest-price {
    .list-item {
      li {
        &::before {
          content: attr(title);
        }
      }
    }
  }

  :is([class$="details"]) {
    .buttons {
      :not(.ico-download) {
        display: none;
      }
    }
    .section-main {
      .information {
        .details {
          padding: 0.75rem;
          flex-direction: column;

          .row {
            flex-direction: row;
          }
        }
      }

      .related {
        padding: 0.75rem;
        width: 100%;

        ul {
          flex-direction: row;
        }
      }
    }
  }

  .content-ranking-details {
    .section-keyword-history {
      .list {
        .row {
          flex-direction: row;
          align-items: center;
          overflow-x: auto;
          gap: 0.5rem;
          position: relative;
          padding: 0;

          li {
            flex-wrap: wrap;
            width: fit-content !important;
            padding: 0.75rem;
            min-width: auto !important;
            height: 100% !important;
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-between;

            &:not(:last-of-type) {
              border-right: 1px solid #eee;
            }

            .date-title {
              display: flex;
            }

            &.col-keyword {
              width: 120px !important;
              height: fit-content !important;
              border: 0;
              background-color: white;
              font-size: 17px;
              white-space: nowrap;
              padding: 1rem 0 1rem 1rem;

              .keyword {
                max-width: none;
                text-align: left;
              }

              .date-title {
                display: none;
              }
            }

            .date-title {
              flex: 1 1 auto;
              font-size: 13px;
            }

            .ranking {
              flex-direction: column;
              align-items: flex-start;
            }
          }
        }
      }
    }

    .keyword-chart {
      padding: 1rem;
      background-color: white;
    }

    .section-weekly-top {
      .section-header {
        flex-wrap: wrap;
      }

      .ranking-fluctuations {
        gap: 0.5rem;

        .ranking-chart {
          padding: 1rem;
          background-color: white;
        }
      }
      .list {
        gap: 0;

        .row {
          flex-direction: row;
          padding: 0.5rem 0;
          gap: 1rem;

          &:not(:last-of-type) {
            border-bottom: 1px solid #f7f8f9;
          }

          li {
            min-height: auto;
            min-width: auto;
            width: auto !important;
            padding: 0;
            justify-content: flex-start;
          }
        }
      }
    }
  }

  .content-lowest-price-details {
    .list {
      .row {
        li {
          width: 100%;
          justify-content: space-between;

          &::before {
            content: attr(title);
          }

          &:nth-of-type(1) {
            font-size: 18px;
            justify-content: center;
            height: 40px !important;

            &::before {
              content: none;
            }
          }

          &.col-chart {
            min-width: 100%;
          }
        }
      }
    }
  }

  .content-keyword-trend-details {
    .layout {
      display: none !important;
    }

    .section-main {
      .information {
        .details {
          flex-direction: row;

          .row {
            justify-content: center;
            flex-direction: column;
          }
        }
      }
    }

    > .wrapper {
      gap: 1rem;

      > .tabs {
        padding: 0;
        margin: 0 auto;
        width: calc(100% - 2rem);

        li {
          display: flex;
          align-items: center;
          padding: 0.35rem 0.5rem;
          word-break: keep-all;
          font-size: 14px;
        }
      }
      > .tab-content {
        padding: 0;

        section {
          padding: 1rem;
          border-radius: 0;
        }

        &.content-related-keyword,
        &.content-shopping {
          section {
            background-color: transparent;
            border-radius: 0;
            padding: 0;
          }

          .section-header {
            padding: 0 1rem !important;
          }

          .filters {
            flex-direction: column;
            gap: 0.5rem;
            align-items: center;
          }
        }
      }
    }

    .filters {
      .selector {
        justify-content: space-between;

        &.main {
          label {
            flex: 0 0 15%;
          }
        }

        &.sub {
          padding-top: 6px !important;
        }
      }
    }

    .report {
      gap: 0.5rem !important;
      flex-wrap: wrap;

      .summary {
        flex: 1 1 auto;

        ul {
          li {
            flex-direction: column;

            .title {

              > div:first-of-type {
                width: auto !important;
              }
            }
          }
        }
      }

      .chart {
        width: 100% !important;
      }
    }

    .summary {
      ul {
        flex-wrap: wrap !important;

        li {
          padding: 0.75rem !important;
          gap: 0.5rem;
          flex-direction: row !important;
          flex-basis: 100%;

          li {
            padding: 0 !important;
          }
        }
      }
    }

    .content-keyword {
      .section-chart {
        .summary:not(.horizontal) {
          li {
            flex-direction: column !important;
          }
        }
      }
      .section-article {
        .tabs {
          flex-direction: row;
          padding-top: 0;
          width: 100%;
          border-bottom: 1px solid #eee;

          li {
            &.is-active {
              &::after {
                height: 1px;
                bottom: -1px;
              }
            }
          }
        }

        .section-content {
          .section-header {
            flex-direction: column;
            padding-bottom: 1rem !important;
          }
        }

        .section-content {
          flex-direction: column;
          gap: 1rem;
        }

        .list {
          .created {
            :first-of-type {
              flex: 1 1 auto;
            }

            :last-of-type {
              flex: 0 0 auto;
              width: fit-content;
            }
          }
        }
      }
    }

    .content-articles {
      .section-article {
        .section-content {
          flex-direction: column;
        }

        .tabs {
          width: 100%;

          li {
            .sub {
              flex-direction: row;
            }
          }
        }

        .tab-content {
          margin-left: 0;

          .section-header {
            flex-direction: column;

            .filters {
              flex-direction: row;
            }
          }
        }

        article {
          flex-direction: column;
        }

        .list {
          li {
            width: auto;
          }
        }
      }
    }

    .content-related-keyword {
      .filters {
        .checkboxes {
          height: 42px;
          width: 100%;
          justify-content: center;
        }
        .selector {
          &.main {
            label {
              flex-basis: calc(50% - 0.125rem);
            }
          }
        }
      }

      .list {
        .row {
          &.title {
            display: none;
          }

          li {
            width: 100% !important;
            justify-content: space-between;

            &::before {
              flex-basis: auto;
              content: attr(title);
            }

            &:nth-of-type(1) {
              display: none;
            }
          }
        }
      }
    }

    .content-shopping {
      .report {
        background-color: white;
        padding: 1rem;

        .summary {
          order: 1;
        }
      }

      .list {
        .image {
          border-radius: 0.5rem;
          width: 70px;
          height: 70px;
        }

        li {
          flex-direction: row !important;
          width: 100% !important;
          justify-content: space-between;

          &::before {
            content: attr(title);
          }

          &:nth-of-type(1),
          &:nth-of-type(2) {
            &::before {
              content: none;
            }
          }

          &.col-title {
            padding: 0.5rem;
            border-radius: 0.5rem;
            background-color: #f7f8f9;
          }

          &.col-price {

            > div {
              flex-direction: row;
            }
          }
        }
      }
    }
  }

  .content-keyword-trend {
    .section-main {
      min-height: auto;
      padding: 0;

      .search {
        input {
          width: 100%;

          &:focus {
            width: 100%;
            margin: 1rem 0;
          }
        }
      }
    }

    .tabs {
      transform: scale(0.9);
    }

    .list {
      .row {
        li {
          width: 100% !important;
          justify-content: flex-end;
          position: relative;

          &::before {
            position: absolute;
            left: 0;
          }

          &:first-of-type {
            position: absolute;
            right: 0;
            width: auto !important;
            min-width: auto !important;
            padding-right: 1.5rem;
          }

          &:nth-of-type(2) {
            padding-bottom: 1rem;
            justify-content: flex-start;
            .keyword {
              font-size: 17px;
            }
          }

          &:nth-of-type(3) {
            &::before {
              content: "월간 검색";
            }
          }

          &:nth-of-type(4) {
            &::before {
              content: "등록 상품";
            }
          }

          &:nth-of-type(5) {
            &::before {
              content: "콘텐츠";
            }
          }

          &:nth-of-type(6) {
            &::before {
              content: "최근 조회일시";
            }
          }

          &:nth-of-type(7) {
            padding-top: 1rem;
            justify-content: center;
            color: slategray;
            &::after {
              content: "키워드 삭제";
            }
          }
        }
      }
    }
  }

  .content-settings {
    padding-bottom: 3rem;
    .wrapper {
      gap: 1rem;
      min-width: auto;
      max-width: none;
      width: 100%;
    }

    .main-header {
      padding: 1rem;

      .btn-main {
        position: fixed;
        justify-content: center;
        bottom: 0;
        width: 100%;
        left: 0;
        border-radius: 0;
        height: 54px !important;
        font-size: 17px !important;
        background-color: #333639;
        z-index: 100;
      }
    }

    section {
      width: 100% !important;
      gap: 0 !important;
      background-color: white !important;
      
      .section-header {
        padding-left: 0 !important;
      }
    }

    .section-my-alarm {

      .alarms {
        flex-wrap: wrap;

        .alarm {
          width: 100%;
        }
      }
    }

    .list {
      background-color: white;
      gap: 0;

      .row {
        padding: 1rem 0;
        flex-direction: row;
        word-break: keep-all;

        :first-of-type {
          flex: 1 1 auto;
          color: slategray;
          line-height: 1.25;
        }

        &:last-of-type {
          border-bottom: 0;
        }
      }
    }

    .select-alarm-type {
      flex-wrap: wrap;
      padding: 1rem 0 !important;
      width: 100% !important;

      .details {
        gap: 1rem;
      }

      .select {
        padding: 0 !important;
        background-color: white;
        border: 0 !important;
        width: 100% !important;

        .title {
          margin-bottom: 0.5rem;
        }
      }

      .row {
        flex-wrap: wrap;
        height: auto !important;
      }

      .inputs {
        flex-wrap: nowrap;

        input {
          width: 100%;
        }
      }
    }
  }

  .content-alarm-services {
    width: 100%;
    background-color: transparent;
    padding: 0;

    .caution {
      padding: 1.5rem 0.5rem;
    }

    &.expired {
      background-color: white;
    }

    &.ranking {
      gap: 0.5rem;

      section:not(.section-buttons) {
        padding: 3rem 1rem 1rem !important;
        background-color: white !important;
      }
      .section-items .texts small {
        position: absolute;
        top: 1rem;
        left: 50%;
        transform: translateX(-50%);
      }

      .list .row {
        border: 1px solid #e3e6e9;
        border-radius: 5px;
        padding: 0 0.5rem !important;
      }

      .list .row li:nth-of-type(1)::before {
        content: "키워드";
      }

      .list .row li:nth-of-type(2)::before {
        content: "현재 순위";
      }

      .list .row li:nth-of-type(3)::before {
        content: "등락";
      }

      .list .row li:nth-of-type(4)::before {
        content: "전 타임 순위";
      }
    }

    &.lowest-price {
      gap: 0.5rem;

      .list .row li:nth-of-type(2)::before {
        content: "현재 순위";
      }

      .list .row li:nth-of-type(3)::before {
        content: "등락";
      }

      .list .row li:nth-of-type(4)::before {
        content: "전 타임 순위";
      }
    }

    .image {
      width: 45px !important;
      height: 45px !important;
    }

    .section-header {
      padding: 3rem 1rem 1rem;

      .title {
        font-size: 16px;
      }

      h1 {
        font-size: 24px;
      }

      p {
        font-size: 15px;
      }

      .updated {
        font-size: 17px;
      }
    }

    .section-buttons {
      padding-bottom: 2rem;
    }

    .list {
      border: 0;

      .row {
        background-color: white;
        padding-top: 3rem;
        position: relative;

        &.title {
          display: none;
        }

        .texts {
          .title {
            font-size: 16px;
          }

          small {
            position: absolute;
            top: 1rem;
            left: 50%;
            transform: translateX(-50%);
          }
        }

        li {
          width: 100% !important;
          justify-content: space-between;
        }
      }
    }

    + footer {
      width: 100%;
      padding: 1rem;

      ul {
        flex-direction: column;
        gap: 0;

        li {
          font-size: 13px;
        }
      }
    }
  }

  .content-error {
    padding: 1rem;
    word-break: keep-all;

    h1 {
      font-size: 24px;
    }

    p {
      font-size: 15px;
    }

    .contact-us {
      flex-direction: column;
      gap: 1rem;
      margin: 0;

      &::before {
        content: none;
      }
    }
  }

  .content-logout {
    > .wrapper {
      gap: 0.5rem;
    }

    section {
      background-color: white !important;
      padding: 3rem 1rem !important;

      h1 {
        margin-bottom: 1rem;
      }

      p {
        span {
          display: contents;
        }
      }
    }

    .section-main {
      .section-title {
        padding-top: 2rem;
        order: 1;
        width: 100%;
      }

      p {
        text-align: left;
      }

      .image {
        width: 100%;
        display: flex;
        justify-content: flex-end;

        img {
          width: 65vw;
        }
      }

      .keywords {
        flex-wrap: wrap;
      }
    }

    .section-about {
      ul {
        flex-direction: column;
        gap: 0;

        li {
          display: flex;
          flex-direction: column;
          align-items: center;
        }
      }

      .buttons {
        width: 100%;

        button {
          width: 100%;
        }
      }
    }

    .section-price {
      ul {
        flex-direction: column;
        width: 70vw;
        max-width: 300px;

        li {
          flex: none;

          dl {
            padding: 1.5rem 1rem;
          }
        }
      }
    }
  }
}
