/** @format */

$primary-color: #7682f8;
$secondary-color: #5661b1;
$tertiary-color: rgb(118 130 248 / 10%);
$violet-medium-color: rgb(214 217 253);

html,
body {
  height: 100vh;
  user-select: none;

  .bg-red {
    background-color: tomato !important;
  }

  .no-scroll {
    overflow-y: hidden;

    .tooltip-content {
      top: -0.5rem;
      left: 2rem;

      &::before {
        left: -12px;
        transform: rotate(270deg);
        top: 12px;
      }
    }
  }

  .x {
    position: absolute;
    top: 12px;
    right: 0.75rem;
    width: 12px;
    height: 12px;
  }

  .date {
    font-size: 14px;
    color: slategray;
    display: contents;
    white-space: nowrap;
  }

  .search {
    position: relative;
    display: flex;
    gap: 0.5rem;

    input {
      padding-right: 1.5rem;
      flex: 1 1 auto;
    }
  }
}

.main-color {
  color: #7682f8;
  font-family: "RobotoMedium";
  font-size: 110%;
}

p {
  word-break: keep-all;
}

a {
  &.right-arrow {
    border-radius: 0.25rem;
    padding: 0.5rem 0.5rem;
    font-size: 14px;
    transition: background-color 0.2s;

    &::after {
      content: "";
      display: inline-flex;
      border: 1px solid #333;
      border-left: none;
      border-bottom: none;
      transform: rotate(45deg);
      width: 6px;
      height: 6px;
      margin-left: 0.15rem;
    }

    &:hover {
      background-color: #f1f2f3;
    }
  }
}

h1,
h3 {
  line-height: 1;
  font-weight: normal;
  display: flex;
  align-items: center;
}

h1 {
  font-size: 24px;

  .tooltip-icon {
    width: 24px;
    height: 24px;

    &::before {
      font-size: 17px;
    }
  }
}

h3 {
  font-size: 20px;
}

h5 {
  font-weight: normal;
  font-family: "RobotoMedium", "NanumBarunGothic";
}

strong {
  font-weight: normal;
  font-family: "RobotoMedium", "NanumBarunGothic";
}

.ico-close {
  width: 18px;
  height: 18px;
  background-image: linear-gradient(#333 0 0), linear-gradient(#333 0 0);
  background-position: center;
  background-size: 100% 2px, 2px 100%;
  background-repeat: no-repeat;
  transform: rotate(45deg);
  cursor: pointer;
}

button {
  &.ico-search {
    width: 36px;
  }
  &.btn-main {
    background-color: $primary-color !important;
    color: white !important;
    padding: 0 1.5rem;
    border: 0 !important;
  }

  &.btn-sub {
    background-color: $tertiary-color;
    color: $primary-color;
    padding: 0.5rem 1rem;
  }

  &.btn-grayscale {
    background-color: #f2f3f3;
    color: #636669;
    font-family: "NanumBarunGothic";
    padding: 0.5rem;
    font-size: 13px;
  }

  &.btn-dark {
    background-color: $secondary-color !important;
    color: white !important;
  }
}

.calendar {
  display: flex;
  gap: 0.5rem;
  align-items: center;

  input {
    background: white
      url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24' viewBox='0 0 24 24' width='24'%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3Cpath d='M17 10H7v2h10v-2zm2-7h-1V1h-2v2H8V1H6v2H5c-1.11 0-1.99.9-1.99 2L3 19c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm0 16H5V8h14v11zm-5-5H7v2h7v-2z' fill='%23c3c6c9' /%3E%3C/svg%3E")
      no-repeat right 6px center;
    background-size: 18px;
    padding-right: 1.5rem;
    min-width: 120px;
    text-overflow: ellipsis;
  }
}

.keyword {
  border: 1px solid $violet-medium-color;
  min-height: 30px;
  max-width: 100%;
  display: flex;
  align-items: center;
  border-radius: 0.25rem;
  padding: 0.25rem 0.5rem;
  gap: 3px;
  font-size: 14px;
  color: $secondary-color;
  word-break: break-word;
  white-space: normal;
  text-align: center;
  transition: 0.25s;

  &::before {
    content: "#";
    font-size: 13px;
  }
}

.item-update-failed {
  background: rgba(225, 225, 225, 0.75);
  padding: 0.5rem 0.75rem;
  border-radius: 0.5rem;
  font-size: 13px;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  z-index: 1;

  .failed {
    padding-left: 0.75rem;
    display: flex;
    align-items: center;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 3px;
      left: 0;
      width: 9px;
      height: 9px;
      background-image: linear-gradient(tomato 0 0), linear-gradient(tomato 0 0);
      background-position: center;
      background-size: 100% 1px, 1px 100%;
      background-repeat: no-repeat;
      transform: rotate(45deg);
    }
  }

  .success {
    font-size: 12px;
  }

  ~ .information {
    .title {
      max-width: 250px !important;
    }
  }
}
// button {
//   background-color: $primary-color;
//   color: white;
//   padding: 0.5rem 1rem;
// }

main {
  width: 100%;
  height: 100%;
  flex-direction: row;
}

.content {
  overflow: hidden;

  .main-header {
    flex: 0 0 auto;
    padding: 1.5rem 1.5rem 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .title {
      width: 100%;
      min-height: 36px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      h1 {
        .tooltip {
          height: 24px;

          &::before {
            width: 24px;
            height: 24px;
            font-size: 20px;
          }

          .tooltip-content {
            top: 2.5rem;
            left: -5rem;
            width: 30rem;

            &::before {
              left: calc(5rem + 8px);
            }
          }
        }
      }
    }

    .subline {
      display: flex;
      align-items: center;
      gap: 0.25rem;
      font-family: "RobotoMedium", "NanumBarunGothic";

      .date {
        font-size: 15px;
        color: #333;
      }

      p {
        font-size: 14px;
      }

      button {
        height: 36px;
        padding: 0 1rem;

        &.btn-sub {
          background-color: #e3e6e9;
          color: #626367;
        }
      }

      .tooltip-content {
        right: -2rem;

        &::before {
          right: 38px;
        }
      }
    }
    .status {
      gap: 2rem;

      :is(ul, li, .tag, div, span) {
        display: flex;
        align-items: center;
      }

      .tag {
        font-family: "RobotoMedium";
        font-size: 14px;
        background-color: rgba(0, 0, 0, 0.2);
        color: #333;
        padding: 0.25rem 0.5rem;
        border-radius: 30px;

        &.d-day {
          background-color: $secondary-color;
          color: #ffffff;
          font-family: "Roboto";
          font-size: 13px;

          &::before {
            content: "D-";
          }
        }
      }

      ul {
        gap: 0.75rem;

        li {
          display: flex;

          &:first-of-type {
            &::after {
              content: ":";
            }
          }

          &:last-of-type {
            gap: 1rem;
          }

          .count {
            font-family: "RobotoMedium", "NanumBarunGothic";
            padding-left: 0.25rem;

            &::after {
              content: "개";
              font-size: 14px;
            }
          }
        }
      }
    }
  }

  .section-main {
    background-color: white;
    padding: 1.5rem;
    border-radius: 0.5rem;
    box-shadow: 0 6px 12px -4px #e3e6e9;
  }

  > .wrapper {
    flex: 1 1 auto;
    flex-direction: column;
    padding: 0 1.5rem 1.5rem;
    width: 100%;
    gap: 1rem;
    overflow-x: hidden;
    overflow-y: auto;

    > section {
      flex: 1 1 auto;
      background-color: white;
      padding: 1.5rem;
      border-radius: 0.5rem;
      display: flex;
      gap: 1rem;
      flex-direction: column;
      box-shadow: 0 6px 12px -4px #e3e6e9;
    }
  }
}

.logo {
  text-align: center;
  font: bold 21px/1 "NanumBarunGothic";

  .impact {
    color: $primary-color;
  }
}

aside {
  width: 210px;
  height: 100vh;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  .logo {
    padding: 2rem 0;
  }

  .username {
    text-align: center;
    font-family: "RobotoMedium", "NanumBarunGothic";

    &::after {
      content: "님";
    }
  }

  .sub-menu {
    display: flex;
    padding: 1rem;
    justify-content: space-around;
    font-size: 14px;

    .zoom-in-out {
      display: flex;
      align-items: center;
      gap: 0.25rem;

      button {
        width: 17px;
        height: 17px;
        border: 1px solid #ccc;
        border-radius: 2px;
        background-image: linear-gradient(#333 0 0), linear-gradient(#333 0 0);
        background-position: center;
        background-size: 60% 1px, 1px 60%;
        background-repeat: no-repeat;

        &.zoom-out {
          background-image: linear-gradient(#333 0 0);
        }
      }
    }
  }

  nav {
    display: flex;
    flex-direction: column;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;

    a {
      padding: 0.75rem 1.5rem;
      height: 48px;
      display: flex;
      align-items: center;
      font-size: 16px;
      font-family: "NanumBarunGothic";

      &:not(:last-of-type) {
        border-bottom: 1px solid #f3f6f9;
      }

      &.is-active {
        color: $primary-color;
      }
    }
  }
}

section {
  .section-header {
    display: flex;
    min-height: 40px;
    gap: 0.75rem;

    .tabs {
      li {
        font-size: 20px;
        color: lightgray;
        padding: 0 1rem;

        &:hover,
        &.is-active {
          color: $primary-color;
          position: relative;

          &::before {
            content: "";
            position: absolute;
            bottom: -12px;
            width: -webkit-fit-content;
            width: -moz-fit-content;
            width: 100%;
            height: 2px;
            background-color: $primary-color;
            display: block;
            left: 50%;
            transform: translateX(-50%);
          }
        }
      }
    }

    &:not(.multi-line) {
      align-items: center;
      justify-content: space-between;
      padding-bottom: 0.5rem;
      border-bottom: 1px solid #eee;

      > div {
        display: flex;
        gap: 0.5rem;
      }
    }

    &.multi-line {
      flex-direction: column;

      > :last-child {
        border-top: 1px solid #eee;
        padding-top: 0.75rem;
      }
    }

    .title {
      display: flex;
      align-items: center;
      justify-content: space-between;
      min-height: 32px;
      width: 100%;
    }

    button {
      height: 36px;
      padding: 0.5rem 1rem;
      background-color: $tertiary-color;
      color: $primary-color;
    }
  }
}

.advanced-search {
  opacity: 0;
  max-height: 0;
  border-radius: 0.5rem;
  background-color: #f7f8f9;
  position: relative;
  transition: 0.4s, opacity 0.01s;

  :is(input, select, textarea) {
    border: 0;
    background-color: #ecedef;
  }

  &.is-active {
    max-height: none;
    flex-wrap: wrap;
    position: relative;
    padding: 1rem 0;
  }
  > * {
    flex: 0 0 auto;
    width: 37.5%;
    padding: 0.5rem 1.5rem;
    border-right: 1px solid #d1d2d3;

    &:is(.item-information, .item-alert) {
      width: 25%;
      border-right: 0;
      align-items: center;
    }
  }

  ul {
    li {
      &:first-of-type {
        flex: 0 0 auto;
        width: 90px;
      }
    }
  }

  .buttons {
    padding: 0;
    border-right: 0;
    flex: 1 1 auto;
    justify-content: flex-end;
    padding-right: 1.5rem;
  }

  .tooltip-content {
    top: -6px;
    left: 2.5rem;
    transform: none;

    &::before {
      top: 12px;
      left: -12px;
      transform: rotate(-90deg);
    }

    dd {
      width: auto !important;
    }
  }

  .inputs {
    flex: 1 1 auto;

    .select {
      display: flex;
      align-items: center;

      &:not(.checkbox) {
        width: 100%;
      }
    }

    .calendar {
      display: none;
    }

    textarea,
    input[type="text"],
    input[type="number"] {
      width: 100%;
    }
  }

  ul {
    display: flex;
    align-items: flex-start;

    h5 {
      display: flex;
      align-items: center;
      font: normal 15px/1 "NanumBarunGothic";
    }

    small {
      line-height: 2;
      color: slategray;
    }
  }

  .rows {
    gap: 1rem;
    display: flex;
    flex-direction: column;

    ul {
      padding: 0;
      align-items: center;
    }
  }

  .item-information {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;

    ul {
      width: 100%;
      align-items: center;
    }
  }

  .item-status {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;

    .checkbox {
      display: flex;
      gap: 0.5rem;
      align-items: center;
    }

    .no-change {
      flex: 1 1 auto;
      width: 100%;
    }
  }

  .filter-range {
    .inputs {
      flex-wrap: nowrap;
    }

    input {
      text-align: right;
    }

    .up,
    .down {
      display: flex;
      align-items: center;
      gap: 0.25rem;
      white-space: nowrap;
      width: 100%;
    }

    .up {
      &::after {
        content: "이상";
      }
    }

    .down {
      &::after {
        content: "이하";
      }
    }
  }

  :is(.item-created, .filter-range) {
    align-items: center;
  }
}

.chart-container {
  flex: 1 1 auto;
  height: 300px;
  width: 100%;
}

.chart {
  width: 100%;
  height: 300px;
  max-width: 100%;
}

.tooltip-content {
  dl {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;

    dd {
      position: relative;
      padding-left: 0.5rem;

      &::before {
        content: "\00B7";
        position: absolute;
        top: 2px;
        left: 0;
      }
    }
  }
}

.categories {
  gap: 4px !important;
  flex-direction: row !important;
  align-items: center !important;
  justify-content: flex-start !important;

  > * {
    display: inline;
    align-items: center;

    &:not(:first-of-type),
    :not(:last-of-type) {
      &::before {
        content: "";
        display: inline-flex;
        width: 6px;
        height: 6px;
        border: 1px solid $primary-color;
        border-left: 0;
        border-bottom: 0;
        transform: rotate(45deg);
        margin-right: 6px;
      }
    }
  }
}

.item {
  display: flex;
  gap: 0.5rem;

  .image {
    flex: 0 0 auto;
    width: 80px;
    height: 80px;
    border-radius: 0.25rem;
    overflow: hidden;
    cursor: pointer;

    img {
      max-width: 100%;
    }
  }

  .information {
    flex: 1 1 auto;
    max-width: calc(100% - 80px - 0.5rem);
    position: relative;
    overflow: hidden;

    .item-mid {
      background: $tertiary-color;
      border-radius: 3px;
      margin-bottom: 0.75rem;
      padding: 5px;
      color: $primary-color;
      font-size: 13px;
      font-family: "RobotoMedium", "NanumBarunGothic";

      &::before {
        content: "MID:";
      }
    }

    .title {
      overflow: hidden;
      max-width: none;
      white-space: nowrap;
      text-overflow: ellipsis;
      cursor: pointer;
    }

    .store,
    .categories {
      color: $secondary-color;
      font-size: 14px;
      margin-top: 0.75rem;
      display: flex;
      align-items: center;
    }
  }
}

.list-count {
  display: flex;
  align-items: center;
  gap: 1rem;

  li {
    display: flex;
    align-items: center;
    font-family: "RobotoMedium", "NanumBarunGothic";
    font-size: 16px;

    &:not(:last-of-type) {
      &::after {
        content: "/";
      }
    }

    span {
      display: flex;
      align-items: center;
      gap: 0.25rem;
    }

    ::before,
    ::after {
      font-size: 14px;
    }

    ::after {
      content: "건";
    }

    .selected {
      &::before {
        content: "선택";
      }
    }

    .total {
      &::before {
        content: "총";
      }
    }
  }
}

.list-header {
  display: flex;
  justify-content: space-between;

  &.count-group {
    span {
      font-size: 16px;
      font-family: "RobotoMedium", "NanumBarunGothic";
      display: flex;
      align-items: baseline;
      gap: 0.15rem;
    }

    ::before,
    ::after {
      font-size: 14px;
    }

    .selected {
      &::before {
        content: "선택된 그룹";
      }

      &::after {
        content: "개";
      }
    }
    .total {
      &::before {
        content: "총";
      }

      &::after {
        content: "개의 그룹";
      }
    }
  }
}

.list {
  border-top: 2px solid $primary-color;
  border-bottom: 1px solid #b3b6b9;

  &:empty {
    min-height: 200px;
  }

  &.sticky {
    overflow-x: auto;
    position: relative;
    .col-check,
    .col-important,
    .col-keyword {
      position: sticky !important;
      left: 0;
      z-index: 3;
    }

    .col-important {
      left: 30px;
    }
  }

  .tooltip-content {
    left: -2rem;
    transform: none;

    &::before {
      left: 36px;
      transform: none;
    }
  }

  .price {
    &::after {
      content: "원";
    }
  }

  .tag {
    display: inline-block;
    background: lightseagreen;
    color: white;
    padding: 0.35rem;
    font-size: 12px;
    font-family: "NanumBarunGothicLight";
    border-radius: 3px;
  }

  .row {
    &:hover {
      li {
        background-color: #f7f8f9;
      }
    }
    &:empty {
      display: flex;
      align-items: center;
      justify-content: center;
      min-height: 100px;

      &::before {
        content: "상품을 등록해주세요.";
        color: slategray;
      }
    }

    &.failed {
      li {
        cursor: default !important;
      }
    }

    &.title {
      margin-bottom: 0 !important;

      > li {
        background-color: #f1f2fe;
        color: $secondary-color;
        display: flex;
        justify-content: center;
        align-items: center;
        font: 14px/1 "Roboto", "NanumBarunGothic";
      }
    }

    &:last-of-type:not(.title) {
      li {
        border-bottom: 0;
      }
    }

    li {
      flex: 1 1 auto;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      background-color: white;
      border-bottom: 1px solid #e7e8e9;
      width: 20%;
      min-height: 36px;
      padding: 0.5rem 1rem;
      transition: background-color 0.25s;

      &:not(:last-of-type) {
        border-right: 1px solid #e7e8e9;
      }

      &.date {
        justify-content: flex-end;
      }

      &.button {
        justify-content: center !important;

        button {
          font-size: 13px;
          height: 100%;
          padding: 0.25rem 2rem;
          background-color: #eee;
          border: 1px solid #ddd;
          border-radius: 2px;
        }
      }

      &.col-2x {
        width: 2rem !important;
      }

      &.col-3x {
        width: 3rem !important;
      }

      &.col-4x {
        width: 4rem !important;
      }

      &.col-10x {
        width: 10rem !important;
      }

      &.col-chart {
        width: 40% !important;
      }

      &.col-check {
        flex: 0 0 auto !important;
        width: 36px !important;
        border-right: 0;
        padding-right: 0;
      }

      &.col-important {
        width: 30%;
        justify-content: flex-start;
      }

      .percent {
        display: flex;
        align-items: center;
        gap: 0.25rem;
        font-family: "RobotoMedium";

        &::after {
          content: "%";
        }

        &.up {
          color: tomato;
          &::before {
            content: "+";
          }
        }

        &.down {
          color: royalblue;
          &::before {
            content: "-";
          }
        }
      }

      .rank {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding: 0 0.35rem;
        gap: 0.25rem;
        font-size: 13px;
        border-radius: 0.25rem;
        height: 24px;
        min-width: 42px;
        color: white;

        &::before {
          font-size: 8px;
        }

        &.up {
          background-color: tomato;

          &::before {
            content: "\25B2";
          }
        }

        &.down {
          background-color: royalblue;

          &::before {
            content: "\25BC";
          }
        }

        &.same {
          justify-content: center;
          background-color: #e3e6e9;

          &::before {
            content: "-";
            font-size: 20px;
          }
        }

        &.failed {
          background-color: #ffefec;
          color: #ff6347;

          &::before {
            content: "확인불가";
          }
        }
      }
    }
  }
}

.list-article {
  max-height: 600px;
  border-top: 0;

  article {
    padding: 1.25rem 0;

    &:not(:last-of-type) {
      border-bottom: 1px solid #eee;
    }

    .article-title {
      font-weight: bold;
      margin-bottom: 1rem;
      font-family: "RobotoMedium", "NanumBarunGothicLight";
    }

    .article-content {
      margin-bottom: 0.75rem;
      font-size: 14px;
      -webkit-line-clamp: 3;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      overflow: hidden;
      line-height: 1.5;
    }

    .created {
      font-size: 13px;
      color: lightslategray;
      display: flex;
      gap: 1rem;

      li {
        &:first-of-type {
          padding-right: 1rem;
          border-right: 1px solid #eee;
        }
      }
    }
  }
}

.filters {
  display: flex;
  justify-content: space-between;

  > div {
    display: flex;
    align-items: center;
    gap: 0.75rem;
  }

  .total {
    min-width: 80px;
  }

  .buttons {
    button {
      font-family: "NanumBarunGothic";
      color: $primary-color;
      background-color: $tertiary-color;

      .checkbox {
        input {
          &:checked {
            + label {
              &::before {
                background-color: white;
              }

              &:after {
                border-color: $secondary-color;
              }
            }
          }
        }
      }
    }
  }

  .selector {
    display: flex;
    background-color: #f7f8f9;
    border-radius: 3px;
    padding: 6px;
    gap: 0.25rem;
    overflow: hidden;

    &.sub {
      display: none;
    }

    input {
      display: none;

      &:checked + label {
        background-color: $tertiary-color;
        color: $primary-color;
        border-radius: 3px;
      }

      &:hover + label {
        background-color: $tertiary-color;
        color: $primary-color;
        border-radius: 3px;
      }
    }

    label {
      display: flex;
      align-items: center;
      height: 30px;
      padding: 0 0.5rem;
      margin-right: 0;
      padding: 0.5rem 1rem;
      transition: 0.2s;

      &::before,
      &::after {
        content: none;
      }
    }
  }
}

.selected-filters {
  display: flex;
  justify-content: flex-start;

  ul {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;

    li {
      display: flex;
      align-items: center;
      gap: 0.25rem;
      border: 1px solid #eee;
      padding: 0.5rem;
      border-radius: 0.25rem;
      position: relative;
      padding-right: 2rem;

      span {
        font-size: 14px;
        color: $secondary-color;
        &:not(:last-of-type) {
          &::after {
            content: "|";
            padding: 0 0.5rem;
            color: gainsboro;
          }
        }
      }
      .x {
        top: 10px;
        cursor: pointer;
      }
    }
  }
}

.content-main {
  > .wrapper {
    padding: 1.5rem;
  }
  section {
    &.section-main {
      .row {
        &.title {
          li {
            justify-content: center;
          }
        }

        li {
          width: 16.666%;
          justify-content: flex-end;

          &:first-of-type {
            justify-content: center;
          }

          button {
            min-height: 30px;
            border-radius: 3px;
          }
        }

        &:last-of-type {
          li {
            flex-grow: 0;
            flex-shrink: 0;

            &:nth-of-type(2) {
              flex-grow: 3;
              justify-content: center;
            }
          }
        }
      }
    }

    &.section-charts {
      .list {
        flex: 1 1 auto;
        flex-wrap: wrap;
      }

      .title {
        li {
          flex: 1 1 auto;
          display: flex;
          justify-content: space-between;
          align-items: center;
        }
      }
    }

    &.section-articles {
      .wrapper {
        gap: 1rem;
        margin: unset;
      }

      .list {
        flex: 1 1 auto;
        width: 50%;

        .more {
          white-space: nowrap;
          display: flex;
          align-items: center;
          color: $primary-color;
          font-size: 14px;

          &::before {
            content: "";
            width: 12px;
            height: 12px;
            display: inline-flex;
            background-image: linear-gradient($primary-color 0 0), linear-gradient($primary-color 0 0);
            background-position: center;
            background-size: 100% 2px, 2px 100%;
            background-repeat: no-repeat;
            margin-right: 0.25rem;
          }
        }

        .row {
          justify-content: space-between;

          &:not(.title) {
            :nth-child(1) {
              display: block;
              white-space: nowrap;
              text-overflow: ellipsis;
              overflow: hidden;
            }
          }

          li {
            border-right: 0;

            &:nth-of-type(1) {
              justify-content: flex-start;
            }

            &:nth-of-type(2) {
              justify-content: flex-end;
            }
          }
        }
      }
    }
  }
}

:is(.content-ranking, .content-lowest-price) {
  .section-main {
    display: flex;
    gap: 1rem;

    > div {
      flex: 1 1 auto;
      width: 50%;
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }

    .list {
      min-height: auto;

      :not(.title) li {
        height: 54px;
        justify-content: space-between;
      }

      li {
        flex-basis: 25%;
      }
    }

    .list {
      li {
        gap: 0.25rem;

        span {
          background-color: #f7f8f9;
          color: #708090;
          padding: 0.5rem;
          border-radius: 5px;
          font-size: 13px;
        }
      }
    }

    .ranking {
      strong {
        text-decoration: underline;
        cursor: pointer;
      }
    }
  }

  .filters {
    .buttons {
      .selectbox {
        select {
          border-radius: 0.25rem;
          background: transparent;
          align-items: center;
          color: $secondary-color;
          padding: 0 1.75rem 0 1rem;
          color: #7682f8;
          background-color: rgba(118, 130, 248, 0.1);
          border: 0;

          &:focus {
            box-shadow: 0 0 0;
          }
        }
      }
    }
  }

  .list-item {
    &.sticky {
      .col-keyword {
        left: 570px;
      }
    }
    .item-update-failed {
      background-color: rgba(255, 99, 71, 0.1);
      color: tomato;
      right: 1rem;
      top: 1rem;
      bottom: 1rem;
      gap: 0.5rem;
      justify-content: center;
      z-index: 1;
    }

    .row {
      &.title {
        .date {
          font: normal 13px/1 "Roboto";
        }
        li {
          height: auto;
          justify-content: center;
        }
      }

      li {
        height: 100px;
        position: relative;
        flex: 0 0 auto;

        .page {
          font-size: 13px;
          margin-bottom: 0.5rem;

          &::before {
            content: "(";
          }

          &::after {
            content: ")";
          }
        }

        &.col-important {
          width: 540px;

          [data-tooltip] {
            &::before {
              left: 0;
            }
          }
        }

        &:not(.col-important) {
          text-align: center;
          width: 125px;
          flex-direction: column;
          gap: 0.25rem;
        }
      }
    }
  }
}

.content-lowest-price {
  .list-item {
    .row {
      li {
        flex: 1 1 auto;

        &:not(.col-important) {
          width: 5%;
        }
      }
    }
  }
}

:is([class$="details"]) {
  .tooltip-content {
    left: -2rem;
    width: 500px;

    &::before {
      left: 36px;
    }
  }
  .section-main {
    .tag-failed {
      background-color: rgba(255, 99, 71, 0.1);
      border-radius: 5px;
      color: tomato;
      font-size: 17px;
      height: 32px;
      padding: 0 0.75rem;
      display: flex;
      align-items: center;
      gap: 0.5rem;

      .success {
        font-size: 13px;

        &::before {
          content: "(갱신성공 ";
        }

        &::after {
          content: ")";
        }
      }
    }

    .information {
      display: flex;
      gap: 1rem;
      position: relative;

      .item-update-failed {
        top: 50%;
        left: 0.65rem;
        transform: translateY(-50%);

        &::before {
          left: 100%;
        }
      }

      .image {
        width: 183px;
        height: 183px;
        overflow: hidden;
        border-radius: 0.25rem;

        img {
          width: 100%;
          max-width: 100%;
        }
      }
      .list {
        flex: 1 1 auto;

        li {
          width: 25%;
          justify-content: flex-start;

          &.title {
            flex: 0 0 auto;
            width: 160px;
            background-color: $tertiary-color;
          }
        }
      }
    }
  }

  .list {
    .row {
      &.failed {
        li {
          &::after {
            content: "-" !important;
            background: none !important;
          }

          > * {
            display: none !important;
          }
        }
      }
    }
  }
}

.content-ranking-details {
  .section-keyword-history {
    .list {
      .row {
        &.title {
          .date {
            font-weight: normal;
            font-family: "RobotoMedium", "NanumBarunGothic";
            color: #49536b;
          }
          .failed {
            background-color: #e3e6e9;
          }

          .btn-changes {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: nowrap;
            color: slategray;
            padding: 0 0.5rem;
            height: 28px;
            min-width: 28px;
            background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' enable-background='new 0 0 24 24' height='24' viewBox='0 0 24 24' width='18'%3E%3Cg%3E%3Crect fill='none' height='18' width='24'/%3E%3C/g%3E%3Cg%3E%3Cg%3E%3Crect fill='slategray' height='2' width='9' x='13' y='7'/%3E%3Crect fill='slategray' height='2' width='9' x='13' y='15'/%3E%3Crect fill='slategray' height='2' width='6' x='16' y='11'/%3E%3Cpolygon fill='slategray' points='13,12 8,7 8,11 2,11 2,13 8,13 8,17'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E")
              no-repeat right 7px center;

            &:hover {
              background-color: white;
            }

            &:is(.new, .failed) {
              background-color: white;
              border-radius: 3rem;
              padding-top: 2px;
              padding-right: 1.75rem;
              font: normal 12px "RobotoMedium", "NanumBarunGothicLight";
            }
            &.new {
              &::before {
                content: "new";
                text-transform: uppercase;
              }
            }
          }

          .col-keyword {
            justify-content: center;
          }
        }

        &:not(.title) {
          li {
            height: 48px;
          }
        }

        li {
          flex: 0 0 auto;
          width: 250px;
          justify-content: space-between;

          &.col-keyword {
            width: 200px !important;
          }

          .ranking {
            display: flex;
            align-items: center;
            gap: 0.5rem;

            :nth-of-type(1) {
              min-width: 36px;
              justify-content: flex-end;
              display: flex;
            }

            :nth-of-type(2) {
              display: flex;
              align-items: center;
              font-size: 13px;

              &::before {
                content: "(";
              }

              &::after {
                content: ")";
              }
            }
          }
        }
      }
    }
  }

  .section-weekly-top {
    .tooltip-content {
      width: 350px;
    }
  }

  .ranking-fluctuations {
    display: flex;
    gap: 1rem;

    .ranking-chart {
      width: 50%;
      flex: 1 1 auto;
      display: flex;
      flex-direction: column;

      > .title {
        flex: 0 0 auto;
        font-size: 17px;
        margin-bottom: 0.5rem;
      }

      .list {
        .rows {
          height: 240px;

          li {
            min-height: 48px;
            &:nth-of-type(2) {
              justify-content: flex-start;
            }
          }
        }

        li {
          flex-wrap: wrap;
          gap: 0.5rem;
          border-right: 0;

          &:nth-of-type(1) {
            padding-right: 0;
            flex: 0 0 auto;
            width: 50px;
          }

          &:nth-of-type(3) {
            flex: 0 0 auto;
            width: 120px;
          }
        }
      }
    }
  }
}

.content-lowest-price-details {
  .list-daily-lowest-price {
    .row {
      li {
        width: 10%;
      }
    }

    .row:not(.title) {
      &.failed {
        li:first-of-type::after {
          content: none !important;
        }
      }
      li {
        min-height: 64px;

        &.col-chart {
          min-width: 500px;
          position: relative;
          cursor: pointer;

          a {
            width: 100%;

            &::after {
              content: "";
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              border-radius: 5px;
              padding: 0.5rem;
              transition: background-color 0.2s;
            }

            &:hover {
              &::after {
                width: 32px;
                height: 32px;
                background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24' viewBox='0 0 24 24' width='24'%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3Cpath fill='slategray' d='M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z'/%3E%3C/svg%3E")
                  center no-repeat;
                background-size: 70%;
                background-color: rgba(210, 220, 220, 0.5);
              }
            }
          }

          .chart {
            height: 150px;
          }
        }

        .btn-chart {
          background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24' viewBox='0 0 24 24' width='24'%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3Cpath fill='rgb(118, 130, 248)' d='M19 3H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zM9 17H7v-7h2v7zm4 0h-2V7h2v10zm4 0h-2v-4h2v4z'/%3E%3C/svg%3E");
          background-position: left 0.5rem center;
          background-repeat: no-repeat;
          background-size: 16px;
          height: 32px;
          padding: 0 0.5rem 0 1.75rem;
          font-size: 13px;
        }
      }
    }
  }
}

.content-keyword-trend {
  .section-main {
    background-color: transparent;
    box-shadow: 0 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 120px;

    .search {
      width: 30%;
      min-width: 300px;

      input {
        border-radius: 0.5rem;
        height: 50px;
        border: 0;
        padding: 0 1rem;
      }

      .ico-search {
        position: absolute;
        right: 1rem;
        top: 50%;
        transform: translateY(-50%);
        width: 32px;
        height: 32px;
        background-size: 100%;
        background-color: transparent;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24' viewBox='0 0 24 24' width='24'%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3Cpath d='M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z' fill='rgb(118 130 248)' /%3E%3C/svg%3E");
      }
    }
  }

  .section-list {
    height: 100%;
  }

  .list {
    max-height: none;

    &:empty {
      height: 100%;
    }

    .row {
      &.title {
        z-index: 100;
      }
      li {
        width: 14.286%;

        .keyword {
          cursor: pointer;
        }
      }
    }
  }
}

.content-keyword-trend-details {
  flex-direction: row;

  .tooltip-content {
    width: fit-content;
    white-space: nowrap;
  }

  > .wrapper {
    padding: 0;

    > .tab-content {
      flex: 1 1 auto;
      flex-direction: column;
      padding: 0 1.5rem 1.5rem;
      width: 100%;
      gap: 1rem;
      overflow-x: hidden;
      overflow-y: auto;

      > section {
        flex: 1 1 auto;
        background-color: white;
        padding: 1.5rem;
        border-radius: 0.5rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        box-shadow: 0 6px 12px -4px #e3e6e9;
      }
    }
  }

  .summary {
    flex: 0 0 auto;
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;

    &.link {
      min-width: 240px;
      width: auto;
      max-width: 400px;
    }

    h5 {
      font-size: 17px;
    }

    ul {
      display: flex;
      flex-wrap: wrap;
      gap: 0.5rem;
      justify-content: center;

      li {
        padding: 0.75rem;
        background: #f7f8f9;
        border-radius: 0.5rem;
        width: 50%;
        align-items: center;
        display: flex;
        justify-content: space-between;
        width: 100%;
        gap: 1rem;

        > div {
          font-size: 14px;
          color: slategray;
          display: flex;
          align-items: center;
          gap: 3px;
        }

        .title {
          flex: 1 1 auto;
          justify-content: space-between;
          line-height: 1.25;
          word-break: keep-all;
        }

        strong {
          font-size: 18px;
          color: $primary-color;

          small {
            width: 50px;
            justify-content: right;
            font: normal 13px/1 "Roboto", "NanumBarunGothic";
            color: slategray;

            &::before {
              content: "(";
            }

            &::after {
              content: "%)";
            }
          }
        }

        button {
          background-color: rgba(118, 130, 248, 0.1);
          color: #7682f8;
          padding: 0.5rem;
          font-size: 12px;
        }
      }
    }
  }

  .section-main {
    padding: 1rem;
  }

  .main-header {
    flex-direction: column;
    justify-content: flex-start;
    padding-right: 0;
    width: 280px;

    .section-main {
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
    }

    .information {
      min-width: 200px;
      flex-direction: column;
      align-items: center;

      .image {
        border-radius: 50% !important;
        width: 120px !important;
        height: 120px !important;
      }

      .name {
        font-size: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.5rem;
      }

      .ico-star {
        position: absolute;
        top: 0;
        right: 0;

        &::before {
          width: 24px;
          height: 24px;
        }
      }
    }

    .details {
      width: 100%;
      background-color: $tertiary-color;
      border-radius: 0.5rem;
      padding: 1rem;
      gap: 1rem;
      display: flex;
      flex-direction: column;
      color: $secondary-color;

      > .row {
        white-space: nowrap;
        justify-content: space-between;
        flex-wrap: wrap;

        &:not(:last-of-type) {
          border-bottom: 1px solid $tertiary-color;
          padding-bottom: 0.75rem;
        }

        ul {
          width: 100%;
          margin-top: 0.75rem;
          display: flex;
          flex-direction: column;
          gap: 0.25rem;

          li {
            white-space: nowrap;
            justify-content: space-between;
            color: $primary-color;
            font-size: 13px;
          }
        }
      }
    }

    .related {
      h5 {
        font-size: 15px;
        margin-bottom: 0.5rem;
      }

      ul {
        display: flex;
        border-radius: 0.5rem;
        flex-wrap: wrap;
        gap: 0.25rem;

        .keyword {
          cursor: pointer;
        }
      }
    }
  }
  .wrapper > .tabs {
    flex: 0 0 auto;
    display: flex;
    justify-content: flex-end;
    background-color: transparent;
    width: fit-content;
    margin: 1rem auto 0;
    border-radius: 0.35rem;
    font-size: 20px;
    gap: 0.5rem;
    overflow: hidden;

    li {
      padding: 0.75rem 2rem;
      border-radius: 0.35rem;
      justify-content: center;

      &.is-active {
        position: relative;

        &::after {
          content: "";
          width: 100%;
          height: 2px;
          position: absolute;
          bottom: 0;
          background-color: $secondary-color;
        }
      }
    }
  }

  .section-chart {
    .report {
      display: flex;
      gap: 1rem;
    }

    &.contents {
      .report {
        align-items: center;
      }
    }
  }

  .section-article {
    .section-content {
      display: flex;
    }
    .tabs {
      flex-direction: column;
      gap: 1rem;
      padding-top: 0.5rem;
      width: fit-content;
      margin-right: 2rem;
      white-space: nowrap;

      li {
        height: 28px;

        &.is-active {
          color: $primary-color;
          &::after {
            content: "";
            width: 100%;
            height: 2px;
            position: absolute;
            bottom: 0;
            background-color: $primary-color;
          }
        }
      }
    }

    .tab-content {
      flex-direction: column;
      width: 100%;

      .section-header {
        border-bottom: 1px solid #ddd;

        .title {
          strong {
            font-size: 18px;
          }

          span {
            color: lightslategray;
          }
        }
      }
    }
  }

  ul.information {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;

    li {
      flex: 1 1 auto;
      padding: 1rem;
      background: #f2f1ff;
      border-radius: 0.5rem;
      color: #7682f8;
      align-items: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }

  .content-items {
    .layout {
      display: flex;
      gap: 0.5rem;

      button {
        padding: 0;
        width: 36px;
        height: 36px;
        justify-content: center;
        background-color: transparent;
        border: 1px solid lightgray;

        &.is-active {
          background-color: $tertiary-color;
          border: 0;

          &.type-list {
            &::before {
              background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24' viewBox='0 0 24 24' width='24'%3E%3Cpath d='M0 0h24v24H0V0z' fill='none'/%3E%3Cpath fill='rgb(118 130 248)' d='M4 10.5c-.83 0-1.5.67-1.5 1.5s.67 1.5 1.5 1.5 1.5-.67 1.5-1.5-.67-1.5-1.5-1.5zm0-6c-.83 0-1.5.67-1.5 1.5S3.17 7.5 4 7.5 5.5 6.83 5.5 6 4.83 4.5 4 4.5zm0 12c-.83 0-1.5.68-1.5 1.5s.68 1.5 1.5 1.5 1.5-.68 1.5-1.5-.67-1.5-1.5-1.5zM7 19h14v-2H7v2zm0-6h14v-2H7v2zm0-8v2h14V5H7z'/%3E%3C/svg%3E");
            }
          }
          &.type-grid {
            &::before {
              background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24' viewBox='0 0 24 24' width='24'%3E%3Cg fill-rule='evenodd'%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3Cpath fill='rgb(118 130 248)' d='M3 3v8h8V3H3zm6 6H5V5h4v4zm-6 4v8h8v-8H3zm6 6H5v-4h4v4zm4-16v8h8V3h-8zm6 6h-4V5h4v4zm-6 4v8h8v-8h-8zm6 6h-4v-4h4v4z'/%3E%3C/g%3E%3C/svg%3E");
            }
          }
        }
      }
    }

    .list {
      .image {
        width: 70px;
        height: 70px;
        border-radius: 0.5rem;
        overflow: hidden;

        img {
          width: 100%;
        }
      }

      .col-price {
        gap: 0.25rem;
        padding: 1rem;
      }

      &.type-list {
        position: relative;

        .row {
          &.title {
            li {
              align-items: center !important;
            }
          }

          .categories {
            display: flex;
            flex-wrap: wrap;
            justify-content: center !important;
            font-size: 14px;
          }
          li {
            width: 10%;

            &:nth-of-type(1) {
              position: sticky;
              left: 0;
              width: 70px;
              z-index: 5;
            }

            &:nth-of-type(2) {
              position: sticky;
              left: 70px;
              width: 100px;
              z-index: 5;
            }

            &:nth-of-type(3) {
              position: sticky;
              left: 170px;
              width: 400px;
              z-index: 5;
              flex-direction: column;
              align-items: baseline;
            }

            &:nth-of-type(4) {
            }
          }

          .col-title {
            gap: 0.5rem;
          }

          .title {
            white-space: normal;
            word-break: keep-all;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            cursor: pointer;
          }

          .store {
            display: flex;
            align-items: center;
          }
        }
      }

      &.type-grid {
        border: 0;
        flex-direction: row;
        gap: 1rem;
        flex-wrap: wrap;

        .row {
          border: 1px solid #f1f2f3;
          width: calc(100% / 5 - 0.8rem);
          border-radius: 0.5rem;
          flex-direction: column;
          padding: 1rem;

          &:hover {
            li {
              background-color: transparent;
            }
          }

          &.title {
            display: none;
          }

          .image {
            width: 140px;
            height: 140px;
          }

          .title {
            max-width: 500px;
            font-size: 16px;
            -webkit-line-clamp: 2;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            overflow: hidden;
          }

          .price {
            font-family: "RobotoMedium", "NanumBarunGothic";
            font-size: 16px;
            color: #7682f8;

            &::after {
              font-size: 15px;
            }
          }

          li {
            width: auto;
            padding: 0.25rem;
            min-height: 24px;
            white-space: normal;
            border: 0;
            position: relative !important;

            &.col-image {
              margin-bottom: 0.5rem;
            }

            &.col-title .tag,
            &:nth-of-type(1),
            &:nth-of-type(4),
            &:nth-of-type(7),
            &:nth-of-type(8) {
              display: none;
            }
          }
        }
      }
    }
  }

  .content-analysis {
    .report {
      flex-direction: row-reverse;
    }
    .section-price-analysis {
      .summary {
        width: auto;
        ul {
          width: 100%;
          flex-wrap: nowrap;

          li {
            width: 20%;
            padding: 1.5rem 1rem;
          }
        }
      }
    }
  }

  .content-related-keyword {
    overflow: hidden !important;
    height: 100%;

    section {
      height: 100%;
    }

    .tooltip-content {
      left: -250px;
      width: 300px;
      white-space: normal;

      &::before {
        left: 255px;
      }
    }

    .list {
      overflow-x: hidden;

      .keyword {
        cursor: pointer;
        transition: 0.25s;

        &:hover {
          color: white;
          background-color: $primary-color;
          border-color: $primary-color;
        }
      }

      .row {
        &.title {
          display: grid;
          grid-template-columns: 80px 200px repeat(9, 1fr);
          flex-wrap: wrap;
          grid-auto-flow: dense;

          li {
            width: 100%;
            white-space: normal;
            text-align: center;
            word-break: keep-all;
          }

          li:nth-of-type(1) {
            grid-row: 1/3;
          }
          li:nth-of-type(2) {
            grid-row: 1/3;
          }
          li:nth-of-type(3) {
            grid-column: 3/6;
          }
          li:nth-of-type(4) {
            grid-column: 6/8;
          }
          li:nth-of-type(5) {
            grid-column: 8/10;
          }
        }
      }
      li {
        &:not(.title) {
          width: calc(100% / 11);
        }
        &:nth-of-type(1) {
          flex: 0 0 auto;
          width: 80px;
        }
        &:nth-of-type(2) {
          flex: 0 0 auto;
          width: 200px;
        }
      }
    }
  }
}

.content-settings {
  .wrapper {
    flex-direction: row;
    flex-wrap: wrap;
  }

  section {
    &:is(.section-alarm-services, .section-alarm-time) {
      width: calc(50% - 0.5rem);
      flex: 0 0 auto;
    }
  }

  .list {
    border: 0;

    .row {
      gap: 1rem;
      justify-content: space-between;

      li {
        border: 0;
        justify-content: space-between;
      }
      .column {
        width: 50%;
      }
    }

    &:not(.list-alarm-type) {
      .row {
        align-items: center;
        height: 60px;
        border-bottom: 1px solid #f3f6f9;
      }
    }
  }

  .section-alarm-type {
    width: 100%;

    .select-alarm-type {
      display: flex;
      gap: 1rem;

      .select {
        width: 50%;
        border: 1px solid #ddd;
        border-radius: 0.5rem;
        padding: 1.75rem;

        .title {
          width: 100%;
          display: flex;
          justify-content: space-between;
          align-items: center;
          height: 32px;
        }
      }

      .details {
        background-color: #f3f6f9;
        border-radius: 0.5rem;
        flex: 1 1 auto;
        width: 100%;
        margin-top: 1rem;
        padding: 1.5rem;
        transition: opacity 0.4s;

        .row {
          justify-content: space-between;
          align-items: center;
          gap: 1rem;
          border: 0;
          height: 48px;

          button {
            height: 32px;
            padding: 0 1rem;
          }

          .toggle {
            flex: 0 0 auto;
          }

          .row-title {
            flex: 0 0 auto;
            width: 100px;
          }

          > :last-child {
            flex: 1 1 auto;
          }
        }
      }
    }
  }
}

.modal {
  input {
    + button {
      height: 36px;
    }

    &:not([type="radio"], [type="checkbox"]) {
      background-color: #f3f6f9;
      border: 1px solid #f3f6f9;
      height: 36px;
    }
  }

  .right-arrow {
    padding: 0;
    color: #a3a6a9;

    &::after {
      border-color: #a3a6a9;
    }

    &:hover {
      background-color: transparent;
    }
  }

  .search {
    margin-top: 0.5rem;
  }

  &:is(.modal-confirm, .modal-alert) {
    .modal-header {
      border-bottom: 0;
    }
  }

  &.modal-chart {
    .dialog {
      min-width: 50rem;
    }
  }

  .modal-header {
    padding: 1rem 1.25rem;
    border-bottom: 1px solid #e3e6e9;

    &.no-title {
      border-bottom: 0;

      h3 {
        opacity: 0;
      }
    }
  }

  .modal-content {
    gap: 1rem;
  }

  .section-impact {
    background-color: #f3f6f9;
    padding: 1rem;
    width: fit-content;
    margin: 0.5rem auto;
    border-radius: 0.25rem;
    text-align: center;

    .title {
      font-family: "RobotoMedium", "NanumBarunGothic";
      margin-bottom: 0.5rem;
    }
  }

  &.modal-confirm {
    .dialog {
      width: 400px;
    }
  }

  &.create-item {
    .modal-content {
    }
  }

  &.search-item {
    .information {
      width: 25rem;
    }
  }

  .section-item {
    display: flex;
    align-items: center;
    padding: 0.75rem;
    border-radius: 0.25rem;
    background-color: #f3f6f9;
  }

  &:is(.modal-edit-group, .modal-group, .search-group, .modal-keyword) {
    .list {
      margin-top: 0.5rem;

      .rows {
        max-height: 200px;
      }

      li {
        border-right: 0;
        justify-content: flex-start;

        &.keyword {
          &::before {
            content: "#";
          }
        }
      }
    }
  }

  &.change-details {
    .list {
      .title {
        margin-bottom: 0.75rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
      }

      .current {
        color: $secondary-color;
      }

      .row {
        li {
          min-height: 50px;
          flex-direction: column;
          border-right: 0;
          justify-content: center;

          &:first-of-type {
            flex: 0 0 auto;
            width: 100px;
            padding: 0;
            font-family: "NanumBarunGothicLight";
            font-weight: bold;
          }

          &:last-of-type {
            flex: 1 1 auto;
            align-items: flex-start;
            gap: 0.75rem;
          }

          .row {
            flex-direction: column;
            align-items: flex-start;

            .date {
              line-height: 1.75;
            }
          }
        }
      }
    }
  }
}

@keyframes blink {
  45% {
    opacity: 1;
  }
  50% {
    opacity: 0.3;
  }
  55% {
    opacity: 1;
  }
}
