<div class="advanced-search">
  <ul>
    <li>
      <h5>
        <span>키워드</span>
        <article class="tooltip">
          <div class="tooltip-content">
            <p>복수검색은 줄 바꿈(엔터키)으로 구분합니다.</p>
            <p>예시:</p>
            <p>키워드 상품</p>
          </div>
        </article>
        <small>복수검색 가능</small>
      </h5>
      <div class="inputs">
        <textarea id="" name=""></textarea>
        <div class="select">
          <input
            id="keyword-01"
            type="radio"
            name="filter-keyword"
            checked>
          <label for="keyword-01">일치</label>
          <input
            id="keyword-02"
            type="radio"
            name="filter-keyword">
          <label for="keyword-02">포함</label>
          <input
            id="keyword-03"
            type="radio"
            name="filter-keyword">
          <label for="keyword-03">제외</label>
        </div>
      </div>
    </li>
  </ul>
  <ul>
    <li>
      <h5>입찰설정</h5>
      <div class="inputs">
        <div class="checkbox">
          <input id="bidding-on" type="checkbox" name="bidding-settings" />
          <label for="bidding-on">설정</label>
          <div class="options">
            <div class="checkbox">
              <input id="settings-normal" type="checkbox" name="bidding-settings" />
              <label for="settings-normal">일반설정</label>
            </div>
            <div class="checkbox">
              <input id="settings-advanced" type="checkbox" name="bidding-settings" />
              <label for="settings-advanced">고급설정</label>
            </div>
          </div>
        </div>
        <div class="checkbox">
          <input id="bidding-off" type="checkbox" name="bidding-settings" />
          <label for="bidding-off">미설정</label>
        </div>
      </div>
    </li>
    <li>
      <h5>입찰주기</h5>
      <div class="inputs">
        <input type="text">
        <div class="selectbox">
          <select name="" id="">
            <option value="">같음</option>
            <option value="">이상</option>
            <option value="">이하</option>
          </select>
        </div>
      </div>
    </li>
    <li>
      <h5>희망순위</h5>
      <div class="inputs">
        <input type="text">
        <div class="selectbox">
          <select name="" id="">
            <option value="">같음</option>
            <option value="">이상</option>
            <option value="">이하</option>
          </select>
        </div>
      </div>
    </li>
    <li>
      <h5>입찰기본가</h5>
      <div class="inputs price">
        <input type="text">
        <div class="selectbox">
          <select name="" id="">
            <option value="">같음</option>
            <option value="">이상</option>
            <option value="">이하</option>
          </select>
        </div>
      </div>
    </li>
    <li>
      <h5>최대입찰가</h5>
      <div class="inputs price">
        <input type="text">
        <div class="selectbox">
          <select name="" id="">
            <option value="">같음</option>
            <option value="">이상</option>
            <option value="">이하</option>
          </select>
        </div>
      </div>
    </li>
    <li>
      <h5>입찰가액</h5>
      <div class="inputs price">
        <input type="text">
        <div class="selectbox">
          <select name="" id="">
            <option value="">같음</option>
            <option value="">이상</option>
            <option value="">이하</option>
          </select>
        </div>
      </div>
    </li>
    <li>
      <h5>입찰감액</h5>
      <div class="inputs price">
        <input type="text">
        <div class="selectbox">
          <select name="" id="">
            <option value="">같음</option>
            <option value="">이상</option>
            <option value="">이하</option>
          </select>
        </div>
      </div>
    </li>
  </ul>
  <ul>
    <li>
      <h5>입찰대상</h5>
      <div class="inputs">
        <div class="checkbox">
          <input id="bidding-pc" type="checkbox" />
          <label for="bidding-pc">PC</label>
          <div class="options">
            <div class="checkbox">
              <input id="bidding-pc-normal" type="checkbox" name="bidding-pc" />
              <label for="bidding-pc-normal">일반</label>
            </div>
            <div class="checkbox">
              <input id="bidding-pc-local" type="checkbox" name="bidding-pc" />
              <label for="bidding-pc-local">지역</label>
            </div>
          </div>
        </div>
        <div class="checkbox">
          <input id="bidding-mobile" type="checkbox" />
          <label for="bidding-mobile">모바일</label>
          <div class="options">
            <div class="checkbox">
              <input id="bidding-mobile-normal" type="checkbox" name="bidding-mobile" />
              <label for="bidding-mobile-normal">일반</label>
            </div>
            <div class="checkbox">
              <input id="bidding-mobile-local" type="checkbox" name="bidding-mobile" />
              <label for="bidding-mobile-local">지역</label>
            </div>
          </div>
        </div>
      </div>
    </li>
    <li>
      <h5>하향입찰</h5>
      <div class="inputs">
        <div class="toggle-switch">
          <input id="toggle-bidding-down" type="checkbox">
          <label for="toggle-bidding-down"></label>
        </div>
      </div>
    </li>
    <li>
      <h5>입찰상태</h5>
      <div class="inputs">
        <div class="checkbox">
          <input id="bidding-status-on" type="checkbox" name="bidding-status" />
          <label for="bidding-status-on">입찰실행</label>
        </div>
        <div class="checkboxes">
          <strong>입찰: </strong>
          <div class="checkbox">
            <input id="bidding-wait" type="checkbox" name="bidding-wait" />
            <label for="bidding-wait">대기</label>
          </div>
          <div class="options">
            <div class="checkbox">
              <input id="bidding-wait-2" type="checkbox" name="bidding-wait" />
              <label for="bidding-wait-2">입찰대기</label>
            </div>
          </div>
        </div>
        <div class="checkboxes">
          <div class="checkbox">
            <input id="bidding-succed" type="checkbox" name="bidding-succed" />
            <label for="bidding-succed">성공</label>
          </div>
          <div class="options">
            <div class="checkbox">
              <input id="bidding-proceed" type="checkbox" name="bidding-succed" />
              <label for="bidding-proceed">입찰진행</label>
            </div>
            <div class="checkbox">
              <input id="bidding-goal" type="checkbox" name="bidding-succed" />
              <label for="bidding-goal">목표달성</label>
            </div>
            <div class="checkbox">
              <input id="bidding-down" type="checkbox" name="bidding-succed" />
              <label for="bidding-down">하향입찰</label>
            </div>
          </div>
        </div>
        <div class="checkboxes">
          <div class="checkbox">
            <input id="bidding-failed" type="checkbox" name="bidding-failed" />
            <label for="bidding-failed">실패</label>
          </div>
          <div class="options">
            <div class="checkbox">
              <input id="bidding-highest-price" type="checkbox" name="bidding-failed" />
              <label for="bidding-highest-price">최대입찰가도달</label>
            </div>
            <div class="checkbox">
              <input id="bidding-disabled" type="checkbox" name="bidding-failed" />
              <label for="bidding-disabled">입찰불가</label>
            </div>
            <div class="checkbox">
              <input id="bidding-failed-2" type="checkbox" name="bidding-failed" />
              <label for="bidding-failed-2">입찰실패</label>
            </div>
          </div>
        </div>
        <div class="checkbox">
          <input id="bidding-status-off" type="checkbox" name="bidding-status" />
          <label for="bidding-status-off">입찰미실행</label>
        </div>
      </div>
    </li>
  </ul>
  <ul>
    <li>
      <h5>캠페인</h5>
      <div class="inputs">
        <input type="text">
      </div>
    </li>
    <li>
      <h5>그룹</h5>
      <div class="inputs">
        <input type="text">
      </div>
    </li>
    <li>
      <h5>키워드</h5>
      <div class="inputs">
        <div class="toggle-switch">
          <input id="toggle-keyword" type="checkbox">
          <label for="toggle-keyword"></label>
        </div>
      </div>
    </li>
    <li>
      <h5>그룹</h5>
      <div class="inputs">
        <div class="toggle-switch">
          <input id="toggle-group" type="checkbox">
          <label for="toggle-group"></label>
        </div>
      </div>
    </li>
    <li>
      <h5>캠페인</h5>
      <div class="inputs">
        <div class="toggle-switch">
          <input id="toggle-campaign" type="checkbox">
          <label for="toggle-campaign"></label>
        </div>
      </div>
    </li>
    <li class="buttons">
      <button class="btn-sub ico-refresh clear">
      </button>
      <button
        class="btn-main"
        data-modal="advancedSearch">
        상세검색
      </button>
    </li>
  </ul>
</div>