{% macro active(currentPage = 'index') %}
<aside class="is-active">
  <div class="slide-handler">
    <svg class="is-active" viewBox="0 0 100 100" width="80">
      <path d="m 30,33 h 40 c 0,0 8.5,-0.68551 8.5,10.375 0,8.292653 -6.122707,9.002293 -8.5,6.625 l -11.071429,-11.071429" />
      <path d="m 70,50 h -40" />
      <path d="m 30,67 h 40 c 0,0 8.5,0.68551 8.5,-10.375 0,-8.292653 -6.122707,-9.002293 -8.5,-6.625 l -11.071429,11.071429" />
    </svg>
  </div>
  <nav>
    <div>
      <menu>
        <i class="ico-ranking"></i>
        스토어
      </menu>
      <ul>
        <li>지마켓 판매량 추적</li>
        <li>네이버 순위 추적</li>
        <li>네이버 최저가 추적</li>
      </ul>
    </div>
    <ul>
      <li>
      </li>
      <li></li>
      <li></li>
    </ul>
    <a class="{% if currentPage == 'ranking' %}is-active{% endif %}" href="ranking.html">
      <i class="ico-ranking"></i>
      <span>상품 순위 추적</span>
    </a>
    <a class="{% if currentPage == 'lowestPrice' %}is-active{% endif %}" href="lowest_price.html">
      <i class="ico-price"></i>
      <span>최저가 알림</span>
    </a>
    <a class="{% if currentPage == 'keyword' %}is-active{% endif %}" href="keyword.html">
      <i class="ico-trend"></i>
      <span>키워드 트렌드</span>
    </a>
    <a class="{% if currentPage == 'settings' %}is-active{% endif %}" href="settings.html">
      <i class="ico-alarm"></i>
      <span>알림설정</span>
    </a>
  </nav>
</aside>
{% endmacro %}