{% macro active(currentPage = 'index') %}
<aside class="is-active">
  <div class="slide-handler">
    <svg class="is-active" viewBox="0 0 100 100" width="80">
      <path d="m 30,33 h 40 c 0,0 8.5,-0.68551 8.5,10.375 0,8.292653 -6.122707,9.002293 -8.5,6.625 l -11.071429,-11.071429" />
      <path d="m 70,50 h -40" />
      <path d="m 30,67 h 40 c 0,0 8.5,0.68551 8.5,-10.375 0,-8.292653 -6.122707,-9.002293 -8.5,-6.625 l -11.071429,11.071429" />
    </svg>
  </div>
  <nav>
    <div>
      <menu>
        <i class="ico-ranking"></i>
        스토어
      </menu>
      <ul>
        <li>
          <span class="gmarket">지마켓 판매량 추적</span>
        </li>
        <li>
          <span class="naver">네이버 순위 추적</span>
        </li>
        <li>
          <span class="naver">네이버 최저가 추적</span>
        </li>
      </ul>
    </div>
    <div>
      <menu>
        <i class="ico-price"></i>
        자동입찰
      </menu>
      <ul>
        <li>
          <span class="naver" onclick="location.href='bid_naver_search.html'">네이버</span>
        </li>
        <li>
          <span class="eleventh">11번가 포커스클릭</span>
        </li>
        <li>
          <span class="eleventh">11번가 브랜드검색</span>
        </li>
        <li>
          <span class="gmarket">지마켓 파워클릭</span>
        </li>
        <li>
          <span class="google">구글 검색광고</span>
        </li>
      </ul>
    </div>
    <div>
      <menu>
        <i class="ico-trend"></i>
        키워드
      </menu>
      <ul>
        <li>
          <i class="ico-trend"></i>
          <span>키워드 분석</span>
        </li>
      </ul>
    </div>
    <div>
      <menu>
        <i class="ico-ranking"></i>
        다이애드 +
      </menu>
      <ul>
        <li>
          <span>다이애드 캘린더</span>
        </li>
        <li>
          <span>다이애드 매뉴얼</span>
        </li>
      </ul>
    </div>
  </nav>
  <nav style="display: none;">
    <a class="{% if currentPage == 'ranking' %}is-active{% endif %}" href="ranking.html">
      <i class="ico-ranking"></i>
      <span>상품 순위 추적</span>
    </a>
    <a class="{% if currentPage == 'lowestPrice' %}is-active{% endif %}" href="lowest_price.html">
      <i class="ico-price"></i>
      <span>최저가 알림</span>
    </a>
    <a class="{% if currentPage == 'keyword' %}is-active{% endif %}" href="keyword.html">
      <i class="ico-trend"></i>
      <span>키워드 트렌드</span>
    </a>
    <a class="{% if currentPage == 'settings' %}is-active{% endif %}" href="settings.html">
      <i class="ico-alarm"></i>
      <span>알림설정</span>
    </a>
  </nav>
</aside>
{% endmacro %}