<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>다이애드 TREND</title>
    <link rel="stylesheet" href="assets/css/common.css" />
    <link rel="stylesheet" href="assets/css/style.css" />
    <!-- 임시소스 -->
    <link
      rel="stylesheet"
      href="//code.jquery.com/ui/1.13.0/themes/base/jquery-ui.css"
    />
    <script src="https://cdn.amcharts.com/lib/5/index.js"></script>
    <script src="https://cdn.amcharts.com/lib/5/xy.js"></script>
    <script src="https://cdn.amcharts.com/lib/5/themes/Animated.js"></script>

    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.0/jquery-ui.js"></script>
    <script src="assets/main.js"></script>
  </head>

  <body>
    <main>
      <aside>
        <a href="/" class="title">
          <span>다이애드</span>
          <span class="impact">TREND</span>
        </a>
        <div class="username">gabiacns</div>
        <div class="sub-menu">
          <div class="zoom-in-out">
            <span>화면크기</span>
            <button class="zoom-out" type="button"></button>
            <button class="zoom-in" type="button"></button>
          </div>
          <button type="button">로그아웃</button>
        </div>
        <nav>
          <a href="/ranking.html">상품 순위 조회</a>
          <a href="">최저가 알림</a>
          <a href="">상위 상품 분석</a>
          <a href="">키워드 트렌드</a>
          <a href="">알림설정</a>
        </nav>
      </aside>
      {% block content %} {% endblock %}
    </main>
  </body>
</html>
