{% extends "base.html" %} {% block content %} {% import 'aside.html' as menu %} {{menu.active('ads_google')}}
<main class="content-ads google new">
  <header class="content-header">
    <div class="title">
      <h1>
        <span>구글 입점광고</span>
        <div data-tooltip=""></div>
      </h1>
      {% include "account.html" %}
    </div>
    <ul class="tabs main-tabs">
      <li data-tab="sub-menu">대시보드</li>
      <li data-tab="sub-menu" class="is-active">계정+</li>
      <li data-tab="sub-menu">피드+</li>
      <li data-tab="sub-menu">캠페인</li>
      <li data-tab="sub-menu">리포트</li>
      <li data-tab="sub-menu">설정</li>
    </ul>
  </header>
  <div class="wrapper">
    <section>
      <h3>다이애드 구글 광고 서비스는 처음이세요?</h3>
      <div class="buttons">
        <button onclick="location.href='ads_google_new_02.html'">구글 판매자 센터 시작하기</button>
      </div>
    </section>
  </div>
</main>
{% endblock %}