{% extends "base.html" %} {% block content %} {% import 'aside.html' as menu %} {{menu.active('ads_google')}}
<main class="content-google-ads items">
  <header class="content-header">
    <div class="title">
      <h1 data-title="표준 캠페인 관리">
        <input type="text" value="김마켓_구글쇼핑표준_230822">
      </h1>
    </div>
    <ul class="tabs main-tabs">
      <li onclick="location.href='ads_google_campaign_edit.html'" data-tab="sub-menu">캠페인</li>
      <li onclick="location.href='ads_google_campaign_items.html'" data-tab="sub-menu">광고 상품</li>
      <li class="is-active" onclick="location.href='ads_google_campaign_assets.html'" data-tab="sub-menu">에셋</li>
    </ul>
    <div class="buttons">
      <button>삭제</button>
      <button disabled>수정</button>
      <button onclick="location.href='ads_google_campaign_history.html'" class="btn-main">변경이력</button>
      <button class="btn-main">성과 리포트</button>
    </div>
  </header>
  <section>
    <header>
      <div class="title">
        <div>
          <strong data-title="총" class="cases">0</strong>
        </div>
        <div class="filters">
          <div data-title="일시">2024-02-15 06:00</div>
          <div class="selectbox">
            <select name="" id="">
              <option value="100개씩 보기">100개씩 보기</option>
            </select>
          </div>
        </div>
      </div>
    </header>
    <div class="list" data-empty="에셋이 없습니다.">
      <ul class="row title">
        <li title="에셋" class="ico-sort">에셋</li>
        <li title="에셋 유형" class="ico-sort">에셋 유형</li>
        <li title="소스" class="ico-sort">소스</li>
      </ul>
      <ul class="row">
        <li class="item" title="에셋" onclick="location.href='ads_google_feed_details.html'">
          <div class="image">
            <img src="" alt="">
          </div>
          <strong>
            유기농 다이애드 비누 90g 12개 sfsf fa ff sf s df fdsdf s dfs fs fds fds dfsf ds fds dfsfd df sdfs dfsdf ds fsd fs dfs
            dfs df sdfs dfs df dfs dfs df sdfs df
          </strong>
        </li>
        <li title="에셋 유형">
          <span class="price">13,900</span>
        </li>
        <li title="소스">
          활성
        </li>
      </ul>
    </div>
  </section>
</main>
{% endblock %}