{% extends "base.html" %} {% block content %} {% import 'aside.html' as menu %} {{menu.active('ads_google')}}
<main class="content-google-ads items">
  <header class="content-header">
    <div class="title">
      <h1 data-title="표준 캠페인 관리">
        <input type="text" value="김마켓_구글쇼핑표준_230822">
      </h1>
    </div>
    <ul class="tabs main-tabs">
      <li onclick="location.href='ads_google_campaign_edit.html'" data-tab="sub-menu">캠페인</li>
      <li class="is-active" onclick="location.href='ads_google_campaign_items.html'" data-tab="sub-menu">광고 상품</li>
      <li onclick="location.href='ads_google_campaign_assets.html'" data-tab="sub-menu">에셋</li>
    </ul>
    <div class="buttons">
      <button>삭제</button>
      <button disabled>수정</button>
      <button onclick="location.href='ads_google_campaign_history.html'" class="btn-main">변경이력</button>
      <button class="btn-main">성과 리포트</button>
    </div>
  </header>
  <section class="section-feeds">
    <header>
      <h2>
        상품 상태
        <div data-tooltip=""></div>
      </h2>
      <div class="filters">
        <strong data-title="일자: ">2023-08-20</strong>
        <strong data-title="위치: ">쇼핑광고</strong>
      </div>
    </header>
    <ul>
      <li data-title="총 상품">
        <span class="cases">1,200</span>
        <span class="percent">100.00</span>
      </li>
      <li data-title="활성">
        <span class="cases">1,000</span>
        <span class="percent">83.33</span>
      </li>
      <li data-title="대기">
        <span class="cases">150</span>
        <div>
          <span class="percent">12.50</span>
        </div>
      </li>
      <li data-title="비승인">
        <span class="cases">50</span>
        <span class="percent">4.17</span>
      </li>
    </ul>
  </section>
  <section>
    <header>
      <div class="title">
        <div class="selector">
          <input type="radio" id="list-all" name="listTabs-power-link" checked="">
          <label for="list-all">전체
            <span class="tag">1,000,000</span>
          </label>
          <input type="radio" id="list-available" name="listTabs-power-link">
          <label for="list-available">운영 가능
            <span class="tag">900,000</span>
          </label>
          <input type="radio" id="list-unavailable" name="listTabs-power-link">
          <label for="list-unavailable">운영 불가능
            <span class="tag">100,000</span>
          </label>
        </div>
        <div class="selectbox">
          <select name="" id="">
            <option value="100개씩 보기">100개씩 보기</option>
          </select>
        </div>
      </div>
    </header>
    <div class="list">
      <ul class="row title">
        <li title="상품명" class="ico-sort">상품명</li>
        <li title="ID" class="ico-sort">ID</li>
        <li title="상품 가격" class="ico-sort">상품 가격</li>
        <li title="상품 상태" class="ico-sort">상품 상태</li>
        <li title="광고 운영" class="ico-sort">광고 운영</li>
        <li title="이슈" class="ico-sort">이슈</li>
      </ul>
      <ul class="row">
        <li class="item" title="상품명" onclick="location.href='ads_google_feed_details.html'">
          <div class="image">
            <img src="" alt="">
          </div>
          <strong>
            유기농 다이애드 비누 90g 12개 sfsf fa ff sf s df fdsdf s dfs fs fds fds dfsf ds fds dfsfd df sdfs dfsdf ds fsd fs dfs
            dfs df sdfs dfs df dfs dfs df sdfs df
          </strong>
        </li>
        <li title="ID">
          00000
        </li>
        <li title="상품 가격">
          <span class="price">13,900</span>
        </li>
        <li title="상품 상태">
          활성
        </li>
        <li title="광고 운영">
          <button data-modal="itemIssues">운영 불가능</button>
        </li>
        <li title="이슈">
          <span class="ico-exclamation">Pending initial review</span>
        </li>
      </ul>
    </div>
  </section>
</main>
{% include "modals.html" %}
{% endblock %}