{% extends "base.html" %} {% block content %} {% import 'aside.html' as menu %} {{menu.active('ads_google')}}
<main class="content-google-ads-feed-details">
  <header class="content-header">
    <div class="title">
      <h1>
        <button class="btn-back" onclick="history.back()"></button>
        유기농 다이애드 비누 90g 12개
      </h1>
      <div class="buttons">
        <button>수정이력</button>
        <button class="btn-main">피드+에서 수정</button>
      </div>
    </div>
  </header>
  <div class="wrapper">
    <aside>
      <section>
        <div class="information">
          <div class="image"><img src="https://shopping-phinf.pstatic.net/main_8154296/81542967370.15.jpg" alt="메인사진">
          </div>
        </div>
        <ul class="accounts">
          <li>
            <h3>
              승인정보
            </h3>
            <div class="filters">
              <div>상태</div>
              <strong>비승인</strong>
            </div>
            <div class="filters">
              <div>상품 이슈</div>
              <strong data-modal="itemIssues">초기 검토 대기중</strong>
            </div>
          </li>
        </ul>
      </section>
    </aside>
    <div class="sections">
      <section class="section-chart">
        <header>
          <div class="title">
            <h3>
              <span>상품 실적</span>
            </h3>
            <div class="filters">
              <span data-title="무료 목록 기준" class="tag"></span>
              <span>2023-09-01 ~ 2023-09-30</span>
              <button class="ico-download" type="button">다운로드</button>
            </div>
          </div>
          <div class="filters">
            <div class="checkboxes">
              <div class="checkbox">
                <input type="checkbox" id="check-01" name="product-performance" checked="">
                <label for="check-01">클릭수</label>
              </div>
              <div class="checkbox">
                <input type="checkbox" id="check-02" name="product-performance">
                <label for="check-02">노출수</label>
              </div>
              <div class="checkbox">
                <input type="checkbox" id="check-03" name="product-performance">
                <label for="check-03">클릭률(CTR)</label>
              </div>
              <div class="checkbox">
                <input type="checkbox" id="check-04" name="product-performance">
                <label for="check-04">전환수</label>
              </div>
              <div class="checkbox">
                <input type="checkbox" id="check-05" name="product-performance">
                <label for="check-05">전환율</label>
              </div>
              <div class="checkbox">
                <input type="checkbox" id="check-06" name="product-performance">
                <label for="check-06">전환가치</label>
              </div>
            </div>
          </div>
        </header>
        <div class="chart-container" data-empty="데이터 갱신 전입니다.">
          <div id="keywordChart" class="chart">
            <div style="position: relative;">
              <div>
                <div><canvas width="1374" height="200"
                    style="position: absolute; top: 0px; left: 0px; width: 1374px; height: 200px;"></canvas><canvas
                    width="1374" height="200"
                    style="position: absolute; top: 0px; left: 0px; width: 1374px; height: 200px;"></canvas><canvas
                    width="1374" height="200"
                    style="position: absolute; top: 0px; left: 0px; width: 1374px; height: 200px;"></canvas><canvas
                    width="1374" height="200"
                    style="position: absolute; top: 0px; left: 0px; width: 1374px; height: 200px;"></canvas><canvas
                    width="1374" height="200"
                    style="position: absolute; top: 0px; left: 0px; width: 1374px; height: 200px;"></canvas></div>
              </div>
              <div role="alert" style="z-index: -100000; opacity: 0; position: absolute; top: 0px;"></div>
              <div role="application"
                style="position: absolute; pointer-events: none; top: 0px; left: 0px; overflow: hidden; width: 1374px; height: 200px;">
                <div role="button" aria-label="Zoom Out"
                  style="position: absolute; pointer-events: none; top: 24px; left: 1156px; width: 40px; height: 40px;">
                </div>
                <div tabindex="0" aria-label="싱글오리진; Press ENTER to toggle" aria-checked="true"
                  style="position: absolute; pointer-events: none; top: -2px; left: 13px; width: 139px; height: 32px;">
                </div>
                <div tabindex="0" aria-label="커피원두; Press ENTER to toggle" aria-checked="true"
                  style="position: absolute; pointer-events: none; top: 26px; left: 13px; width: 139px; height: 32px;">
                </div>
                <div tabindex="0" aria-label="스타벅스; Press ENTER to toggle" aria-checked="true"
                  style="position: absolute; pointer-events: none; top: 54px; left: 13px; width: 139px; height: 32px;">
                </div>
                <div tabindex="0" aria-label="케냐AA; Press ENTER to toggle" aria-checked="true"
                  style="position: absolute; pointer-events: none; top: 82px; left: 13px; width: 139px; height: 32px;">
                </div>
              </div>
              <div>
                <div role="tooltip" style="position: absolute; opacity: 1e-07; pointer-events: none;">[bold] [/]위
                </div>
                <div role="tooltip" style="position: absolute; opacity: 1e-07; pointer-events: none;">[bold] [/]위
                </div>
                <div role="tooltip" style="position: absolute; opacity: 1e-07; pointer-events: none;">[bold] [/]위
                </div>
                <div role="tooltip" style="position: absolute; opacity: 1e-07; pointer-events: none;">[bold] [/]위
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section>
        <h2>상품 정보</h2>
        <ul class="list">
          <li>
            <span>ID</span>
            <div>00000</div>
          </li>
          <li>
            <span>상품명</span>
            <div>유기농 다이애드 비누 90g 12개</div>
          </li>
          <li>
            <span>브랜드</span>
            <div>다이애드</div>
          </li>
          <li>
            <span>설명</span>
            <div>피부 당김 적고 촉촉한 세안이 가능한 100% 유기농 비누</div>
          </li>
          <li>
            <span>상품 URL</span>
            <div>https://www.diad.co.kr</div>
          </li>
          <li>
            <span>이미지 URL</span>
            <div>https://www.diad.co.kr/image.jpg</div>
          </li>
          <li>
            <span>가격</span>
            <div>13,900원</div>
          </li>
          <li>
            <span>재고</span>
            <div>재고 있음</div>
          </li>
          <li>
            <span>상품상태</span>
            <div>새 상품</div>
          </li>
        </ul>
      </section>
      <section>
        <h2>카테고리 및 광고 캠페인 구성</h2>
        <ul class="list">
          <li>
            <span>Google 제품 카테고리</span>
            <div>가정/원예 용품 > 생활용품 > 가정용 세제 > 주방 세제/비누</div>
          </li>
          <li>
            <span>제품 유형</span>
            <div>화장품/미용 > 클렌징 > 클렌징비누</div>
          </li>
          <li>
            <span>맞춤 라벨 0</span>
            <div>겨울</div>
          </li>
          <li>
            <span>맞춤 라벨 1</span>
            <div>-</div>
          </li>
          <li>
            <span>맞춤 라벨 2</span>
            <div>-</div>
          </li>
          <li>
            <span>맞춤 라벨 3</span>
            <div>-</div>
          </li>
          <li>
            <span>맞춤 라벨 4</span>
            <div>-</div>
          </li>
        </ul>
      </section>
    </div>
  </div>
</main>
{% include "modals.html" %}
{% endblock %}