{% extends "base.html" %} {% block content %} {% import 'aside.html' as menu %} {{menu.active('ads_google')}}
<main class="content-google-ads settings">
  <header class="content-header">
    <div class="title">
      <h1 data-title="표준 캠페인 생성">
        <input type="text" value="김마켓_구글쇼핑표준_230822">
      </h1>
      <div class="buttons">
        <button onclick="history.back()">나가기</button>
        <button class="btn-main">저장</button>
        <button disabled>캠페인 생성</button>
      </div>
    </div>
  </header>
  <div class="wrapper">
    <div class="sections">
      <section>
        <h2>
          상품 설정
        </h2>
        <ul class="list form">
          <li>
            <div>
              광고 상품 설정
              <span data-tooltip="adsSettings"></span>
            </div>
            <div style="flex: 1 1 auto">
              <div class="toggle-switch">
                <input id="toggle-state" type="checkbox">
                <label for="toggle-state"></label>
              </div>
            </div>
            <div class="options">
              <div class="selectbox">
                <select name="" id="">
                  <option value="">조건 유형 선택</option>
                  <option value="">상품유형</option>
                  <option value="">맞춤 라벨 0</option>
                  <option value="">맞춤 라벨 1</option>
                  <option value="">맞춤 라벨 2</option>
                  <option value="">맞춤 라벨 3</option>
                  <option value="">맞춤 라벨 4</option>
                </select>
              </div>
              <div class="search">
                <input type="search" placeholder="검색어를 입력해 주세요.">
                <button type="button"></button>
                <div class="more">
                  <div>
                    <ul>
                      <li>
                        홈 > 여성 > 드레스 > 맥시 드레스
                      </li>
                      <li>상품 수: 54</li>
                      <li>승인: 54</li>
                      <li>
                        <button class="ico-search"></button>
                        <button class="ico-plus"></button>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="tags">
                <span>
                  맞춤라벨 1 : 가을
                  <i class="x"></i>
                </span>
                <span>
                  맞춤라벨 2 : 빅세일
                  <i class="x"></i>
                </span>
                <span>
                  상품유형 : 전자기기 > 컴퓨터 > 노트북
                  <i class="x"></i>
                </span>
              </div>
              <div class="caution">
                현재 조건에 맞는 상품이 없습니다. 캠페인을 저장하더라도 판매자 센터에서 상품 데이터를 업데이트하지 않거나 광고 상품 설정에서 조건을 변경하지 않으면 상품이 포함되지 않습니다.
              </div>
            </div>
          </li>
        </ul>
        <h2>
          캠페인 설정
        </h2>
        <ul class="list form">
          <li>
            <div>
              전환목표
            </div>
            <div class="accordion">
              <div>
                <div class="toggle-switch">
                  <input id="toggle-state" type="checkbox">
                  <label for="toggle-state"></label>
                </div>
                <span>전환 목표</span>
                <span>전환 액션</span>
              </div>
              <div>
                <div class="toggle-switch">
                  <input id="toggle-state-1" type="checkbox">
                  <label for="toggle-state-1"></label>
                </div>
                <span>페이지조회</span>
                <span>액션 3개</span>
              </div>
            </div>
          </li>
          <li>
            <div>
              입찰전략
              <span data-tooltip=""></span>
            </div>
            <div class="inputs">
              <div class="selectbox">
                <select name="" id="">
                  <option value="">클릭 수 최대화</option>
                </select>
              </div>
              <div class="input">
                <span class="tag" data-title="선택"></span>
                최대 CPC 입찰가 한도
                <span data-tooltip=""></span>
                <div class="price">
                  <input type="text">
                </div>
              </div>
            </div>
          </li>
          <li>
            <div>
              일 예산
            </div>
            <div class="price">
              <input type="text">
            </div>
          </li>
          <li>
            <div>
              광고 위치
              <span data-tooltip=""></span>
            </div>
            <div>
              <div class="checkbox">
                <input type="checkbox" id="check-google-1" />
                <label for="check-google-1">
                  <span class="tag" data-title="필수"></span>
                  Google 검색 결과에 광고
                </label>
              </div>
              <div class="checkbox">
                <input type="checkbox" id="check-google-2" />
                <label for="check-google-2">
                  Google 검색 네트워크의 파트너 사이트에 광고
                </label>
              </div>
            </div>
          </li>
          <li>
            <div>위치</div>
            <div>
              <input id="select-kr" type="radio" />
              <label for="select-kr">대한민국</label>
            </div>
          </li>
        </ul>
        <h2>
          광고 일정
        </h2>
        <ul class="list form">
          <li>
            <div>시작일</div>
            <div>
              <div class="calendar">
                <input id="contentsFrom" type="text" name="" readonly=""
                  class="hasDatepicker">
                <div class="toggle-switch">
                  <input id="toggle-state-1" type="checkbox">
                  <label for="toggle-state-1"></label>
                </div>
                <input id="contentsTo" type="text" name="" readonly=""
                  class="hasDatepicker">
                <button class="btn-main ico-search" type="button"></button>
              </div>
            </div>
          </li>
          <li>
            <div>스케줄러</div>
            <div class="toggle-switch">
              <input id="toggle-schedule" type="checkbox">
              <label for="toggle-schedule"></label>
            </div>
          </li>
        </ul>
      </section>
    </div>
  </div>
</main>
{% include "modals.html" %}
{% endblock %}