{% extends "base.html" %} {% block content %} {% import 'aside.html' as menu %} {{menu.active('ads_google')}}
<main class="content-google-ads new">
  <header class="content-header">
    <div class="title">
      <h1>
        <span>구글 입점광고</span>
        <div data-tooltip=""></div>
      </h1>
      {% include "account.html" %}
    </div>
    <ul class="tabs main-tabs">
      <li data-tab="sub-menu" class="is-active">계정</li>
      <li data-tab="sub-menu">피드</li>
      <li onclick="location.href='ads_google_campaign.html'" data-tab="sub-menu">캠페인</li>
      <li data-tab="sub-menu">리포트</li>
      <li data-tab="sub-menu">설정</li>
    </ul>
  </header>
  <div class="wrapper">
    <section class="section-join-us">
      <h2>다이애드 구글 광고 서비스는 처음이세요?</h2>
      <div class="buttons">
        <button onclick="location.href='ads_google_new_02.html'">구글 판매자 센터 시작하기</button>
      </div>
    </section>
    <section class="section-help" onclick="window.open('https://www.diad.co.kr/AdProduct/OpenMarket')">
      <h2>1:1</h2>
      <h3>
        <span>광고가 어려우시다면 가비아CNS의 광고 전문가와 함께 해보세요!</span>
        <span>맞춤형 광고 대행 서비스</span>
      </h3>
    </section>
  </div>
</main>
{% endblock %}