{% extends "base.html" %} {% block content %} {% import 'aside.html' as menu %} {{menu.active('ads_items')}}
<main class="content-items new">
  <header class="content-header">
    <div class="title">
      <h1>
        <span>상품</span>
        <div data-tooltip=""></div>
      </h1>
      {% include "account.html" %}
    </div>
    <ul class="tabs main-tabs">
      <li data-tab="sub-menu" class="is-active">상품 수집</li>
      <li data-tab="sub-menu">상품 관리</li>
    </ul>
    <div class="filters">
      <div class="status">
        <span data-title="연동 건수">D</span>
        <span data-title="제공" class="cases">10,000</span>
        <span data-title="사용" class="cases">0</span>
        <span data-title="잔여" class="cases">10,000</span>
        <span data-title="이용 기간">2024-05-01 ~ 2024-05-15 ( D-1 )</span>
        <!-- 서비스 기간이 만료했거나 서비스 정보가 없습니다.
        <button class="btn-main" onclick="window.open('https://diad.co.kr/Mypage/PaymentView')">서비스 신청하기</button> -->
      </div>
      <button class="btn-main" onclick="location.href='ads_items_history.html'">이력</button>
    </div>
  </header>
  <section>
    <div>
      <h2>등록된 상품 수집이 없습니다. 상품 수집을 시작해 보세요.</h2>
      <button class="btn-main" onclick="location.href='ads_items_add.html'">상품 수집 등록</button>
    </div>
  </section>
</main>
{% include "modals.html" %}
{% endblock %}