{% extends "base.html" %} {% block content %} {% import 'aside.html' as menu %} {{menu.active('ads_google')}}
<main class="content-google-ads">
  <header class="content-header">
    <div class="title">
      <h1>
        <button class="btn-back" onclick="history.back()"></button>
        <span>피드1</span>
        <div data-tooltip=""></div>
        <div class="filters">
          <small data-title="업로드" class="tag"></small>
          <strong>매일 00:00</strong>
          <small data-title="마지막 업로드" class="tag"></small>
          <strong>2023-08-21</strong>
          <button data-modal="itemFeedsUploadSchedule">수정</button>
        </div>
      </h1>
      {% include "account.html" %}
    </div>
  </header>
  <section class="section-main">
    <dl class="caution">
      <dd>
        판매자 센터를 처음 사용하거나 상품이 초기 검토 대기 중인 경우 광고는 영업일 기준 최대 3일, 무료 목록은 몇 주가 걸릴 수 있습니다. 상품을 광고와 연동하셨다면 광고 세팅 완료 시 등록하신 연락처로 알림 메시지가 발송됩니다.
      </dd>
      <dd>
        상품 데이터를 업데이트하는 경우가 아니라면 피드는 한 번만 업로드해야 합니다. 이미 업로드된 피드를 새롭게 업로드하면 처리 과정이 다시 시작될 수 있습니다.
      </dd>
      <dd>쇼핑몰 URL이 변경된 경우 상품 정보를 변경된 도메인에 맞게 수정해야 합니다.</dd>
      <dd>
        구글 쇼핑은 최초 계정 검수 후 상품의 품질 검수를 주기적으로 진행하고 있습니다. 계정 승인이후에도 상품 품질에 이상이 있고 28일 내 개선하지 않을 시 (주요 위반 사유 : 오버레이 이미지, 전환수 정보 불일치, 상품 가격 불일치) 상품이 중지되고, 계정이 정지될 수 있습니다.
        <a href="https://support.google.com/merchants/answer/6149970?hl=ko">구글 쇼핑 품질 정책 자세히 보기</a>
      </dd>
    </dl>
  </section>
  <section class="section-feeds">
    <header>
      <h2>피드 실적</h2>
      <div class="filters">
        <span data-title="무료 목록 기준" class="tag"></span>
        <span>2023-08-20 ( ↔ 2023-08-19 )</span>
        <button data-toggle="showFeedsChart"></button>
      </div>
    </header>
    <ul>
      <li data-title="노출수">
        <span class="cases">241,321</span>
        <span class="percent tag up">21.22</span>
      </li>
      <li data-title="클릭수">
        <span class="cases">241,321</span>
        <span class="percent tag up">21.22</span>
      </li>
      <li data-title="클릭률(CTR)">
        <span class="percent">10.00</span>
        <div>
          <span class="percent">0.0</span>p
        </div>
      </li>
      <li data-title="전환수">
        <span class="cases">241,321</span>
        <span class="percent tag up">21.22</span>
      </li>
      <li data-title="전환율">
        <span class="percent">10.00</span>
        <div>
          <span class="percent">0.0</span>p
        </div>
      </li>
      <li data-title="전환가치">
        <span class="cases">321.00</span>
        <span class="percent tag up">21.22</span>
      </li>
    </ul>
    <article data-toggle="showFeedsChart">
      <header>
        <div class="title">
          <h4>실적 그래프</h4>
          <div class="filters">
            <span data-title="무료 목록 기준" class="tag"></span>
            <span>2023-09-01 ~ 2023-09-30</span>
            <button class="btn-download">다운로드</button>
          </div>
        </div>
        <div class="checkboxes">
          <div class="checkbox">
            <input id="check-feed-01" type="checkbox" />
            <label for="check-feed-01">클릭수</label>
          </div>
          <div class="checkbox">
            <input id="check-feed-02" type="checkbox" />
            <label for="check-feed-02">노출수</label>
          </div>
          <div class="checkbox">
            <input id="check-feed-03" type="checkbox" />
            <label for="check-feed-03">클릭률(CTR)</label>
          </div>
          <div class="checkbox">
            <input id="check-feed-04" type="checkbox" />
            <label for="check-feed-04">전환수</label>
          </div>
          <div class="checkbox">
            <input id="check-feed-05" type="checkbox" />
            <label for="check-feed-05">전환율</label>
          </div>
          <div class="checkbox">
            <input id="check-feed-06" type="checkbox" />
            <label for="check-feed-06">전환가치</label>
          </div>
        </div>
      </header>
      <div class="chart">

      </div>
    </article>
  </section>
  <section>
    <header>
      <div class="title">
        <h2>
          상품 목록
        </h2>
        <div class="filters">
          <button data-modal="productFeed" onclick="location.href='ads_google_issues.html'">이슈진단</button>
          <button class="ico-filter" data-toggle="filters"></button>
          <button class="ico-column"></button>
        </div>
      </div>
      <div class="filters" data-toggle="filters">
        <div>
          <div class="selectbox selector main">
            <select name="" id="">
              <option class="select-word" value="">상품명</option>
              <option class="select-word" value="">ID</option>
              <option class="select-number" value="">가격</option>
              <option class="select-word" value="">카테고리</option>
              <option class="select-word" value="">브랜드</option>
              <option class="select-word" value="">조건</option>
              <option class="select-word" value="">상품 유형</option>
              <option class="select-word" value="">맞춤라벨 0</option>
              <option class="select-word" value="">맞춤라벨 1</option>
              <option class="select-word" value="">맞춤라벨 2</option>
              <option class="select-word" value="">맞춤라벨 3</option>
              <option class="select-word" value="">맞춤라벨 4</option>
              <option class="select-number" value="">클릭수</option>
              <option class="select-number" value="">노출수</option>
              <option class="select-number" value="">클릭률(CTR)</option>
              <option class="select-number" value="">전환수</option>
              <option class="select-number" value="">전환율</option>
              <option class="select-number" value="">전환가치</option>
            </select>
          </div>
          <div class="selector selector-word sub">
            <input type="radio" id="selectMatch" name="filterGoogle">
            <label for="selectMatch">일치</label>
            <input type="radio" id="selectInclude" name="filterGoogle" checked="">
            <label for="selectInclude">포함</label>
            <input type="radio" id="selectExcept" name="filterGoogle">
            <label for="selectExcept">제외</label>
          </div>
          <div class="selector selector-number sub">
            <input type="radio" id="select-less-than" name="filterOperaters" checked="">
            <label for="select-less-than">&lt;</label>
            <input type="radio" id="select-greater-than" name="filterOperaters">
            <label for="select-greater-than">&gt;</label>
            <input type="radio" id="select-less-equal" name="filterOperaters">
            <label for="select-less-equal">&lt;=</label>
            <input type="radio" id="select-greater-equal" name="filterOperaters">
            <label for="select-greater-equal">&gt;=</label>
            <input type="radio" id="select-equal" name="filterOperaters">
            <label for="select-equal">=</label>
          </div>
        </div>
        <div>
          <div class="search">
            <input type="search">
            <button type="button"></button>
          </div>
        </div>
      </div>
      <div class="filters">
        <div class="selector">
          <input type="radio" id="list-all" name="listTabs-power-link" checked="">
          <label for="list-all">전체 
            <span class="tag">4</span>
          </label>
          <input type="radio" id="list-live-normal" name="listTabs-power-link">
          <label for="list-live-normal">활성 
            <span class="tag">2</span>
          </label>
          <input type="radio" id="list-live-advanced" name="listTabs-power-link">
          <label for="list-live-advanced">
            대기
            <span class="tag">0</span>
          </label>
          <input type="radio" id="list-regular-normal" name="listTabs-power-link">
          <label for="list-regular-normal">
            비승인
            <span class="tag">2</span>
          </label>
        </div>
        <div class="filters">
          <span data-title="무료 목록 기준" class="tag"></span>
          <span>2023-08-20</span>
          <div class="selectbox">
            <select name="" id="">
              <option value="100개씩 보기">100개씩 보기</option>
            </select>
          </div>
        </div>
      </div>
    </header>
    <div class="list">
      <ul class="row title">
        <li title="상품명" class="ico-sort">상품명</li>
        <li title="ID" class="ico-sort">ID</li>
        <li title="가격" class="ico-sort">가격</li>
        <li title="승인상태" class="ico-sort">승인상태</li>
        <li title="상품 이슈" class="ico-sort">상품 이슈</li>
        <li title="카테고리" class="optional ico-sort">카테고리</li>
        <li title="브랜드" class="optional ico-sort">브랜드</li>
        <li title="조건" class="optional ico-sort">조건</li>
        <li title="상품 유형" class="optional ico-sort">상품 유형</li>
        <li title="맞춤라벨 0" class="optional ico-sort">맞춤라벨 0</li>
        <li title="맞춤라벨 1" class="optional ico-sort">맞춤라벨 1</li>
        <li title="맞춤라벨 2" class="optional ico-sort">맞춤라벨 2</li>
        <li title="맞춤라벨 3" class="optional ico-sort">맞춤라벨 3</li>
        <li title="맞춤라벨 4" class="optional ico-sort">맞춤라벨 4</li>
        <li title="클릭수" class="ico-sort">클릭수</li>
        <li title="노출수" class="ico-sort">노출수</li>
        <li title="클릭률(CTR)" class="ico-sort">클릭률(CTR)</li>
        <li title="전환수" class="ico-sort">전환수</li>
        <li title="전환율" class="ico-sort">전환율</li>
        <li title="전환가치" class="ico-sort">전환가치</li>
      </ul>
      <ul class="row">
        <li class="item" title="상품명" onclick="location.href='ads_google_feed_details.html'">
          <div class="image">
            <img src="" alt="">
          </div>
          <strong>
            유기농 다이애드 비누 90g 12개 sfsf fa ff sf s df fdsdf s dfs fs fds fds dfsf ds fds dfsfd df  sdfs dfsdf ds fsd fs dfs dfs df sdfs dfs df dfs dfs df sdfs df
          </strong>
        </li>
        <li title="ID">
          00000
        </li>
        <li title="가격">
          <span class="price">13,900</span>
        </li>
        <li title="승인상태">
          활성
        </li>
        <li title="상품 이슈">
          초기 검토 대기중
          <button class="ico-notes"></button>
        </li>
        <li class="optional" title="카테고리">
          가정/원예 용품 > 생활용품 > 가정용 세제 > 주방 세제/비누
        </li>
        <li class="optional" title="브랜드">
          다이애드
        </li>
        <li class="optional" title="조건">
          새 상품
        </li>
        <li class="optional" title="상품 유형">
          화장품/미용 > 클렌징 > 클렌징비누
        </li>
        <li class="optional" title="맞춤라벨 0">
          겨울
        </li>
        <li class="optional" title="맞춤라벨 1"></li>
        <li class="optional" title="맞춤라벨 2"></li>
        <li class="optional" title="맞춤라벨 3"></li>
        <li class="optional" title="맞춤라벨 4"></li>
        <li title="클릭수">
          <span class="cases">1,051</span>
        </li>
        <li title="노출수">
          <span class="cases">99,085</span>
        </li>
        <li title="클릭률(CTR)">
          <span class="percent">1.06</span>
        </li>
        <li title="전환수">
          <span class="cases">3.00</span>
        </li>
        <li title="전환율">
          <span class="percent">0.20</span>
        </li>
        <li title="전환가치">
          206,600.00
        </li>
      </ul>
    </div>
  </section>
</main>
{% include "modals.html" %}
{% endblock %}