{% extends "base.html" %} {% block content %} {% import 'aside.html' as menu %} {{menu.active('ads_google')}}
<main class="content-google-ads new">
  <header class="content-header">
    <div class="title">
      <h1>
        <span>구글 입점광고</span>
        <div data-tooltip=""></div>
      </h1>
      {% include "account.html" %}
    </div>
    <ul class="tabs main-tabs">
      <li data-tab="sub-menu">대시보드</li>
      <li data-tab="sub-menu" class="is-active">계정+</li>
      <li data-tab="sub-menu">피드+</li>
      <li data-tab="sub-menu">캠페인</li>
      <li data-tab="sub-menu">리포트</li>
      <li data-tab="sub-menu">설정</li>
    </ul>
  </header>
  <section class="section-agreement">
    <header>
      <h2>구글 판매자 센터 계정 생성</h2>
    </header>
    <header>
      <h3>약관 동의</h3>
    </header>
    <ul class="list">
      <li>
        <div class="checkbox">
          <input id="check-google-01" type="checkbox" name="google-ads-agreement" />
          <label for="check-google-01">
            <span class="tag" data-title="필수"></span> 다이애드 광고 운영 서비스 약관
          </label>
        </div>
        <a href="" target="_blank"></a>
      </li>
      <li>
        <div class="checkbox">
          <input id="check-google-02" type="checkbox" name="google-ads-agreement" />
          <label for="check-google-02">
            <span class="tag" data-title="필수"></span> 구글 쇼핑 광고 정책
          </label>
        </div>
        <a href="https://support.google.com/merchants/answer/6149970?hl=ko" target="_blank"></a>
      </li>
      <li>
        <div class="checkbox">
          <input id="check-google-03" type="checkbox" name="google-ads-agreement" />
          <label for="check-google-03">
            <span class="tag" data-title="필수"></span> 정확한 사이트 연락처 정보 기재
          </label>
        </div>
        <a href="https://support.google.com/merchants/answer/6150127?hl=ko" target="_blank"></a>
      </li>
      <li>
        <div class="checkbox">
          <input id="check-google-04" type="checkbox" name="google-ads-agreement" />
          <label for="check-google-04">
            <span class="tag" data-title="필수"></span> 안전한 결제 프로세스 및 개인정보 수집 (SSL 인증서 필수)
          </label>
        </div>
        <a href="https://support.google.com/merchants/answer/6150122?hl=ko" target="_blank"></a>
      </li>
      <li>
        <div class="checkbox">
          <input id="check-google-05" type="checkbox" name="google-ads-agreement" />
          <label for="check-google-05">
            <span class="tag" data-title="필수"></span> 환불 정책 게재
          </label>
        </div>
        <a href="https://support.google.com/merchants/answer/6150127?hl=ko" target="_blank"></a>
      </li>
      <li>
        <div class="checkbox">
          <input id="check-google-06" type="checkbox" name="google-ads-agreement" />
          <label for="check-google-06">
            <span class="tag" data-title="필수"></span> 청구 약관
          </label>
        </div>
        <a href="https://support.google.com/merchants/answer/6150127?hl=ko" target="_blank"></a>
      </li>
      <li>
        <div class="checkbox">
          <input id="check-google-07" type="checkbox" name="google-ads-agreement" />
          <label for="check-google-07">
            <span class="tag" data-title="필수"></span> 완전한 결제 프로세스
          </label>
        </div>
        <a href="https://support.google.com/merchants/answer/6150118?hl=ko" target="_blank"></a>
      </li>
      <li>
        <div class="checkbox">
          <input id="check-google-08" type="checkbox" name="google-ads-agreement" />
          <label for="check-google-08">
            <span class="tag" data-title="필수"></span> 구글 판매자 센터 약관
          </label>
        </div>
        <a href="https://merchants.google.com/files/tos/extend/KR/5_00_tos.html" target="_blank"></a>
      </li>
      <li>
        <div class="checkbox">
          <input id="check-google-09" type="checkbox" name="google-ads-agreement" />
          <label for="check-google-09">
            <span class="tag" data-title="필수"></span> 구글 쇼핑 광고 약관
          </label>
        </div>
        <a href="https://support.google.com/merchants/answer/6149970?hl=ko" target="_blank"></a>
      </li>
      <li>
        <div class="checkbox">
          <input id="check-google-10" type="checkbox" name="google-ads-agreement" />
          <label for="check-google-10">
            <span class="tag" data-title="필수"></span> 구글 광고 정책
          </label>
        </div>
        <a href="https://billing.google.com/payments/u/0/paymentsinfofinder?style=:md" target="_blank"></a>
      </li>
      <li class="row title">
        <div class="checkbox">
          <input id="check-google" class="check-all" type="checkbox" name="google-ads-agreement" />
          <label for="check-google">
            <strong>전체동의</strong>
            약관 및 정책을 모두 확인하였고, 내용에 동의합니다.
          </label>
        </div>
      </li>
    </ul>
    <div class="caution">
      약관 및 정책에 에 동의하지 않으면 서비스 이용이 제한됩니다.
    </div>
    <div class="buttons">
      <button onclick="location.href='ads_google_new_03.html'">다음</button>
    </div>
  </section>
</main>
{% endblock %}