{% extends "base.html" %} {% block content %} {% import 'aside.html' as menu %} {{menu.active('ads_google')}}
<main class="content-google-ads campaign">
  <header class="content-header">
    <div class="title">
      <h1>
        <span>구글 입점광고</span>
        <div data-tooltip=""></div>
      </h1>
      {% include "account.html" %}
    </div>
    <ul class="tabs main-tabs">
      <li onclick="location.href='ads_google.html'" data-tab="sub-menu">계정</li>
      <li data-tab="sub-menu">피드</li>
      <li data-tab="sub-menu" class="is-active">캠페인</li>
      <li onclick="location.href='ads_google_report.html'" data-tab="sub-menu">리포트</li>
      <li data-tab="sub-menu">설정</li>
    </ul>
    <div class="buttons">
      <button class="btn-main" onclick="location.href='ads_google_campaign_history.html'">이력</button>
      <button class="btn-main">설정</button>
    </div>
  </header>
  <section class="section-main">
    <header>
      <div class="title">
        <h2>계정별 현황</h2>
      </div>
    </header>
    <div class="list" data-toggle="extends">
      <ul class="row title">
        <li title="계정" class="ico-sort">계정</li>
        <li title="캠페인 수 (On/전체)" class="ico-sort">캠페인 수 (On/전체)</li>
        <li title="총 예산" class="ico-sort">총 예산</li>
        <li title="광고비용" class="ico-sort">광고비용</li>
      </ul>
      <ul class="row">
        <li title="계정">
          <div class="account">
            <small>123-456-7890</small>
            <span>diad-230800001-다이애드</span>
          </div>
          <span class="tag">활성</span>
        </li>
        <li title="캠페인 수 (On/전체)">
          1/1
          <button>보기</button>
        </li>
        <li title="총 예산">
          <span class="price">20,000 / 일</span>
        </li>
        <li title="광고비용">
          <span class="price">266,355</span>
        </li>
      </ul>
      <ul class="row">
        <li title="계정">
          <div class="account">
            <small>123-456-7890</small>
            <span>diad-230800002-가비아씨엔에스</span>
          </div>
          <span class="tag">활성</span>
        </li>
        <li title="캠페인 수 (On/전체)">
          0/2
          <button>보기</button>
        </li>
        <li title="총 예산">
          <span class="price">20,000 / 일</span>
        </li>
        <li title="광고비용">
          <span class="price">266,355</span>
        </li>
      </ul>
    </div>
    <div class="caution">
      <h3>
        캠페인 실행 전 확인하세요! Google Ads에서 결제 설정 및 광고비 충전을 해야 광고가 노출됩니다.
      </h3>
      <div class="buttons">
        <button class="btn-sub">광고비 충전 방법</button>
        <button class="btn-main" onclick="window.open('https://ads.google.com/')">광고비 충전하러 가기</button>
      </div>
    </div>
  </section>
  <section>
    <header>
      <div class="title">
        <h2>
          캠페인 목록
        </h2>
        <div class="buttons">
          <button onclick="location.href='ads_google_campaign_new.html'">캠페인 생성</button>
        </div>
      </div>
      <div class="filters">
        <div class="accounts">
          <div class="selectbox">
            <select name="" id="">
              <option value="">계정선택</option>
              <option value="">diad-230800001-다이애드</option>
              <option value="">diad-230800002-가비아씨엔에스</option>
            </select>
          </div>
        </div>
        <div class="filters" data-title="선택 관리">
          <div class="selector">
            <input type="checkbox" id="selected-on" name="selected-on-off" checked="">
            <label for="selected-on">On</label>
            <input type="checkbox" id="selected-off" name="selected-on-off">
            <label for="selected-off">Off</label>
            <input type="checkbox" id="selected-remove" name="selected-on-off">
            <label for="selected-remove">삭제</label>
          </div>
          <span class="cases" data-title="총">5</span>
          <div class="selectbox">
            <select name="" id="">
              <option value="100개씩 보기">100개씩 보기</option>
            </select>
          </div>
        </div>
      </div>
    </header>
    <div class="list campaigns" data-toggle="extends">
      <ul class="row title">
        <li class="col-check">
          <div class="checkbox">
            <input id="checkAll" class="check-all" name="select-item" type="checkbox" />
            <label for="checkAll"></label>
          </div>
        </li>
        <li title="캠페인" class="ico-sort">캠페인</li>
        <li title="유형" class="ico-sort">유형</li>
        <li title="On/Off" class="ico-sort">On/Off</li>
        <li title="캠페인 상태" class="ico-sort">캠페인 상태</li>
        <li title="광고그룹 상태" class="ico-sort">광고그룹 상태 <div data-tooltip="adsGroupStatus"></div>
        </li>
        <li title="광고 상태" class="ico-sort">광고 상태 <div data-tooltip="adsStatus"></div>
        </li>
        <li title="일 예산" class="ico-sort">일 예산</li>
        <li title="시작일" class="ico-sort">시작일</li>
        <li title="종료일" class="ico-sort">종료일</li>
        <li title="구글 애즈" class="ico-sort">구글 애즈</li>
        <li title="판매자센터" class="ico-sort">판매자센터</li>
        <li title="쇼핑몰 URL" class="ico-sort">쇼핑몰 URL</li>
        <li title="최근 수정일시" class="ico-sort">최근 수정일시</li>
        <li title="등록일시" class="ico-sort">등록일시</li>
      </ul>
      <ul class="row">
        <li class="col-check">
          <div class="checkbox">
            <input id="check-01" name="select-item" type="checkbox" />
            <label for="check-01"></label>
          </div>
        </li>
        <li title="캠페인">
          <div>
            <div>1234567890</div>
            <button onclick="location.href='ads_google_campaign_edit.html'">김마켓_구글쇼핑표준_230822</>
          </div>
          <input id="campaign-1" type="checkbox" />
          <label for="campaign-1" class="ico-more"></label>
          <div class="campaign">
            <a href="ads_google_campaign_edit.html">캠페인 관리</a>
            <a href="">캠페인 삭제</a>
            <a href="">성과 리포트</a>
            <a href="ads_google_campaign_history.html">변경 이력</a>
          </div>
        </li>
        <li title="유형">
          표준
        </li>
        <li title="On/Off">
          <div class="toggle-switch">
            <input id="toggle-state" type="checkbox">
            <label for="toggle-state"></label>
          </div>
        </li>
        <li title="캠페인 상태">
          운영
          <div data-tooltip="campaignStatus2"></div>
        </li>
        <li title="광고그룹 상태">
          운영
          <div data-tooltip="adsGroupStatus2"></div>
        </li>
        <li title="광고 상태">
          운영
          <div data-tooltip="adsStatus2"></div>
        </li>
        <li title="일 예산">
          <span class="price">20,000</span>
        </li>
        <li title="시작일">
          2024.02.23
        </li>
        <li title="종료일">
          2024.06.30
        </li>
        <li title="구글 애즈">
          <div>123-456-7890</div>
          <div>diad-230800001-다이애드</div>
        </li>
        <li title="판매자센터">
          <div>123456789</div>
          <div>다이애드</div>
        </li>
        <li title="쇼핑몰 URL">https://www.diad.co.kr</li>
        <li title="최근 수정일시">2024.02.23 14:47</li>
        <li title="등록일시">2024.02.23 14:47</li>
      </ul>
    </div>
  </section>
</main>
{% endblock %}