{% extends "base.html" %} {% block content %} {% import 'aside.html' as menu %} {{menu.active('keyword')}}
<div class="content content-bidding">
  <header class="main-header">
    <div class="title">
      <h1>네이버 검색광고</h1>
    </div>
  </header>
  <div class="wrapper">
    <section class="section-account">
      <header class="section-header">
        <h3>samda_C</h3>
      </header>
      <div class="sync">
        <div class="selectbox">
          <select name="sync-account" id="">
            <option value="">samda_C</option>
            <option value="">bokdanji_H</option>
            <option value="">gabiacns2_L</option>
            <option value="">hearkorea_N</option>
            <option value="">mastered_A</option>
            <option value="">plays_U</option>
          </select>
        </div>
        <button class="btn-main ico-sync"></button>
      </div>
      <ul class="details-sync">
        <li class="center">
          <div>동기화 시간</div>
          <div>2022-04-26 오후 3:53:21</div>
        </li>
        <li>
          <div>동기화 건수</div>
          <div class="times">9,206</div>
        </li>
        <li>
          <div>비즈머니</div>
          <div class="price">5,904,921</div>
        </li>
      </ul>
      <ul class="details-bidding">
        <li>
          <div>전체</div>
          <div class="times">
            <strong>9,206</strong>
          </div>
        <li>
          <div>입찰실행</div>
          <div class="times"></div>
        </li>
        <li>
          <div>입찰성공</div>
          <div class="times">3</div>
        </li>
        <li>
          <div>입찰실패</div>
          <div class="times">4</div>
        </li>
        <li>
          <div>최대입찰가도달</div>
          <div class="times"></div>
        </li>
        <li>
          <div>희망순위미도달</div>
          <div class="times"></div>
        </li>
        </li>
      </ul>
      <small>※ 건수를 클릭하면 해당 리스트만 불러옵니다.</small>
      <div class="accounts">
        <h3>계정별 입찰 현황</h3>
        <ul class="details-accounts">
          <li>
            <div>bokdanji_H</div>
            <div>
              <strong class="times"></strong>
              <small class="percent"></small>
            </div>
          </li>
          <li>
            <div>esellers_R</div>
            <div>
              <strong class="times"></strong>
              <small class="percent"></small>
            </div>
          </li>
          <li>
            <div>bokdanji_H</div>
            <div>
              <strong class="times"></strong>
              <small class="percent"></small>
            </div>
          </li>
          <li>
            <div>gabiacns2_L</div>
            <div>
              <strong class="times"></strong>
              <small class="percent"></small>
            </div>
          </li>
          <li>
            <div>hearkorea_N</div>
            <div>
              <strong class="times"></strong>
              <small class="percent"></small>
            </div>
          </li>
          <li>
            <div>mastered_A</div>
            <div>
              <strong class="times"></strong>
              <small class="percent"></small>
            </div>
          </li>
          <li>
            <div>plays_U</div>
            <div>
              <strong class="times"></strong>
              <small class="percent"></small>
            </div>
          </li>
          <li>
            <div>samda_C</div>
            <div>
              <strong class="times"></strong>
              <small class="percent"></small>
            </div>
          </li>
        </ul>
      </div>
    </section>
    <section>
      <header class="section-header multi-line">
        <div class="title">
          <button class="btn-advanced-search" type="button">상세검색</button>
          <div class="buttons">
            <button class="btn-sub" type="button" data-modal="searchGroup">그룹조회</button>
            <button class="btn-sub" type="button" data-modal="editGroup">그룹편집</button>
            <button class="btn-sub" class="ico-download" type="button">엑셀다운</button>
            <button class="btn-main" type="button" data-modal="createItem">상품등록</button>
          </div>
        </div>
        <div class="advanced-search">
          <ul>
            <li class="item-keyword">
              <div>
                <span>키워드</span>
                <div class="tooltip">
                  <div class="tooltip-content">
                    <p>복수검색은 줄 바꿈(엔터키)으로 구분합니다.</p>
                    <p>예시:</p>
                    <p>키워드 상품</p>
                  </div>
                </div>
                <small>복수검색 가능</small>
              </div>
              <div class="inputs">
                <textarea id="" name=""></textarea>
                <div class="select">
                  <input
                    id="keyword-01"
                    type="radio"
                    name="filter-keyword"
                    checked>
                  <label for="keyword-01">일치</label>
                  <input
                    id="keyword-02"
                    type="radio"
                    name="filter-keyword">
                  <label for="keyword-02">포함</label>
                  <input
                    id="keyword-03"
                    type="radio"
                    name="filter-keyword">
                  <label for="keyword-03">제외</label>
                </div>
              </div>
            </li>
            <li class="filter-range">
              <div>
                <span>순위</span>
                <div class="tooltip">
                  <div class="tooltip-content">
                    <dl>
                      <dd>순위 범위를 전체순위(1~401위)로 입력해주세요.</dd>
                      <dd>400위 밖을 검색할 경우 ‘이상’ 입력 칸에 401을 입력해주세요.</dd>
                      <dd>특정 값을 순위로 검색할 경우 위아래 입력 칸에 같은 값을 입력해주세요.</dd>
                    </dl>
                  </div>
                </div>
              </div>
              <div class="inputs">
                <div class="up">
                  <input type="number">
                </div>
                <div class="down">
                  <input type="number">
                </div>
              </div>
            </li>
          </ul>
          <ul>
            <li class="mid">
              <div>
                <span>상품 MID</span>
                <div class="tooltip">
                  <div class="tooltip-content">
                    <p>복수검색은 줄 바꿈(엔터키)으로 구분합니다.</p>
                    <p>예시:</p>
                    <p>12345678900</p>
                    <p>12345678901</p>
                  </div>
                </div>
                <small>복수검색 가능</small>
              </div>
              <div class="inputs">
                <textarea id="" name=""></textarea>
              </div>
            </li>
            <li class="item-created">
              <div>등록일</div>
              <div class="inputs">
                <div class="calendar">
                  <input
                    id="from"
                    type="text"
                    name="from"
                    autocomplete="off">
                  <span>~</span>
                  <input
                    id="to"
                    type="text"
                    name="to"
                    autocomplete="off">
                </div>
              </div>
            </li>
          </ul>
          <ul>
            <li>
              <div>스토어명</div>
              <div class="inputs">
                <input type="text">
              </div>
            </li>
            <li>
              <div>상품명</div>
              <div class="inputs">
                <input type="text">
              </div>
            </li>
            <li>
              <div>그룹</div>
              <div class="inputs">
                <input type="text">
              </div>
            </li>
            <li class="item-alert">
              <div>알림</div>
              <div class="inputs">
                <div class="checkbox">
                  <input
                    id="alert-on"
                    type="checkbox">
                  <label for="alert-on">on</label>
                </div>
                <div class="checkbox">
                  <input
                    id="alert-off"
                    type="checkbox">
                  <label for="alert-off">off</label>
                </div>
              </div>
            </li>
            <li class="buttons">
              <button class="btn-sub clear">
                초기화
              </button>
              <button
                class="btn-main"
                data-modal="advancedSearch">
                상세검색
              </button>
            </li>
          </ul>
        </div>
        <div class="filters">
          <div>
            <div class="selectbox">
              <select name="" id="">
                <option value="keyword">키워드</option>
                <option value="keyword">키워드</option>
                <option value="keyword">키워드</option>
              </select>
            </div>
            <div class="search">
              <div class="input">
                <input type="search" />
                <span class="x"></span>
              </div>
              <button class="btn-main ico-search" type="button"></button>
            </div>
            <ul class="list-count">
              <li>
                <span class="selected">0</span>
              </li>
              <li>
                <span class="total">0</span>
              </li>
            </ul>
          </div>
          <div class="buttons">
            <button type="button" data-modal="deleteItem">선택삭제</button>
            <button type="button" data-modal="createKeyword">키워드등록</button>
            <div class="selectbox">
              <select name="" id="">
                <option value="">알림설정</option>
                <option value="" data-modal="alarmOn">ON</option>
                <option value="">OFF</option>
              </select>
            </div>
            <button type="button" data-modal="selectGroup">그룹지정</button>
            <button type="button" data-modal="ungroup">그룹해제</button>
            <div class="selectbox">
              <select name="" id="">
                <option value="filter-100">100개씩 보기</option>
                <option value="filter-50">50개씩 보기</option>
                <option value="filter-20">20개씩 보기</option>
                <option value="filter-10">10개씩 보기</option>
              </select>
            </div>
          </div>
        </div>
      </header>
      <div class="list sticky">
        <ul class="row title">
          <li class="col-check">
            <div class="checkbox">
              <input id="checkAll" class="check-all" name="select-item" type="checkbox" />
              <label for="checkAll"></label>
            </div>
          </li>
          <li class="col-keyword ico-sort">키워드</li>
          <li class="ico-sort">
            입찰상태
            <div class="tooltip type2">
              <div class="tooltip-content">
              </div>
            </div>
          </li>
          <li>
            <span>
              입찰설정
            </span>
            <div class="tooltip type2">
              <div class="tooltip-content">
              </div>
            </div>
          </li>
          <li>
            입찰주기
            <div class="tooltip type2">
              <div class="tooltip-content">
              </div>
            </div>
          </li>
          <li class="ico-sort">
            입찰대상
            <div class="tooltip type2">
              <div class="tooltip-content">
              </div>
            </div>
          </li>
          <li class="ico-sort">
            <div>
              지역설정
              <div class="tooltip type2">
                <div class="tooltip-content">
                </div>
              </div>
            </div>
          </li>
          <li class="ico-sort">입찰기본가</li>
          <li class="ico-sort">최대입찰가</li>
          <li class="ico-sort">입찰가액</li>
          <li class="ico-sort">입찰감액</li>
          <li class="ico-sort">희망순위</li>
          <li class="ico-sort">노출구좌수</li>
          <li class="ico-sort">하향입찰</li>
          <li class="ico-sort">입찰가</li>
          <li class="ico-sort">현재순위</li>
          <li class="ico-sort">최대입찰가 도달여부</li>
          <li class="ico-sort">희망순위 도달여부</li>
          <li class="ico-sort">입찰결과</li>
          <li class="ico-sort">분류명</li>
          <li class="ico-sort">키워드상태</li>
          <li class="ico-sort">광고그룹</li>
          <li class="ico-sort">그룹상태</li>
          <li class="ico-sort">캠페인</li>
          <li class="ico-sort">캠페인상태</li>
          <li class="ico-sort col-url">URL</li>
          <li class="ico-sort">입찰등록일</li>
          <li class="ico-sort">입찰수정일</li>
        </ul>
        <div class="rows" data-empty="상품을 등록해주세요">
          <ul class="row">
            <li class="col-check">
              <div class="checkbox">
                <input id="check-01" name="select-item" type="checkbox" />
                <label for="check-01"></label>
              </div>
            </li>
            <li title="키워드" class="col-keyword">
              <div class="keyword">제주산조릿대차</div>
            </li>
            <li title="입찰상태">
              정지
            </li>
            <li title="입찰설정">
              <button>고급설정</button>
            </li>
            <li title="입찰주기">
              5
            </li>
            <li title="입찰대상">
              PC일반
            </li>
            <li title="지역설정">
              미설정
            </li>
            <li title="입찰기본가"></li>
            <li title="최대입찰가">
              <div class="price">
                1,000
              </div>
            </li>
            <li title="입찰가액">
              <div class="price"></div>
            </li>
            <li title="입찰감액">
              <div class="price"></div>
            </li>
            <li title="희망순위">
              3
            </li>
            <li title="노출구좌수"></li>
            <li title="하향입찰">
              OFF
            </li>
            <li title="입찰가">
              <div class="price"></div>
            </li>
            <li title="현재순위"></li>
            <li title="최대입찰가 도달여부">
              미도달
            </li>
            <li title="희망순위 도달여부">
              미도달
            </li>
            <li title="입찰결과">
              <div>
                <span>실패</span>
                <button>이력</button>
              </div>
            </li>
            <li title="분류명"></li>
            <li title="키워드상태">
              <div>
                <div class="tag">노출가능</div>
                <span>ON</span>
              </div>
            </li>
            <li title="광고그룹">
              16차
            </li>
            <li title="그룹상태">
              <div>
                <div class="tag">노출가능</div>
                <span>ON</span>
              </div>
            </li>
            <li title="캠페인">
              PC
            </li>
            <li title="캠페인상태">
              <div>
                <div class="tag">노출가능</div>
                <span>ON</span>
              </div>
            </li>
            <li class="col-url" title="URL">
              <div>
                http://www.samdamall.com
              </div>
            </li>
            <li title="입찰등록일">
              2022-04-12
            </li>
            <li title="입찰수정일">
              2022-11-08
            </li>
          </ul>
        </div>
      </div>
    </section>
  </div>
</div>
{% endblock %}