{% extends "base.html" %} {% block content %} {% import 'aside.html' as menu %} {{menu.active('bidGoogle')}}
<main class="content-bidding google">
  <header class="content-header">
    <div class="title">
      <h1>구글 검색광고</h1>
      <div class="filters">
        <ul class="my-plan" data-title="나의 입찰 플랜">
          <li>
            <span class="tag dropdown">
              Live
              <nav>
                <ul>
                  <li data-title="타입">
                    E (제공 키워드 500개, 잔여 키워드 300개)
                  </li>
                  <li data-title="등급">레드(입찰주기 10분)</li>
                  <li data-title="기간">
                    <span class="tag d-day">24</span>
                    2023-03-03 ~ 2023-04-01
                  </li>
                </ul>
              </nav>
            </span>
            <span>300 / 500</span>
          </li>
          <li>
            <span class="tag dropdown">
              Regular
              <nav>
                <ul>
                  <li data-title="개수">
                    제한 없음
                  </li>
                  <li data-title="기간">
                    <span class="tag d-day">24</span>
                    2023-03-03 ~ 2023-04-01
                  </li>
                </ul>
              </nav>
            </span>
            <span>199 / 300</span>
          </li>
        </ul>
        {% include "account.html" %}
      </div>
    </div>
  </header>
  <div class="wrapper">
    <aside>
      <section class="section-aside">
        <h2>4506521631</h2>
        <div class="sync">
          <div class="selectbox">
            <select name="sync-account" id="">
              <option value="">4063236327</option>
              <option value="">4506521631</option>
            </select>
          </div>
          <button class="ico-sync" type="button"></button>
        </div>
        <ul>
          <li>
            <div class="ico-update">2022-10-13 오전 11:14:39</div>
          </li>
          <li>
            <div>동기화 건수</div>
            <div class="cases">1,409</div>
          </li>
        </ul>
      </section>
      <section>
        <div class="selector">
          <input
            id="account-powerlink-all"
            type="radio"
            name="accountTabs-powerlink"
            checked>
          <label for="account-powerlink-all">전체</label>
          <input
            id="account-powerlink-live"
            type="radio"
            name="accountTabs-powerlink">
          <label for="account-powerlink-live">라이브</label>
          <input
            id="account-powerlink-regular"
            type="radio"
            name="accountTabs-powerlink">
          <label for="account-powerlink-regular">레귤러</label>
        </div>
        <ul class="bidding">
          <li>
            <div>전체</div>
            <div class="cases">
              <strong>1,409</strong>
            </div>
          <li>
            <div>입찰실행</div>
            <div class="cases"></div>
          </li>
          <li>
            <div>
              입찰성공
              <div data-tooltip="biddingSuccess"></div>
            </div>
            <div class="cases"></div>
          </li>
          <li>
            <div>입찰실패
              <div data-tooltip="bidFailedGoogle"></div>
            </div>
            <div class="cases"></div>
          </li>
          <li>
            <div>최대입찰가도달
              <div data-tooltip="maximumBid2"></div>
            </div>
            <div class="cases"></div>
          </li>
        </ul>
        <small>※ 건수를 클릭하면 해당 리스트만 불러옵니다.</small>
      </section>
      <section>
        <h3>계정별 입찰 현황</h3>
        <ul class="accounts" data-empty="입찰 현황이 없습니다.">
          <li>
            <header>
              <div class="account">2988915152</div>
              <div><strong class="cases">0</strong></div>
            </header>
            <div class="filters">
              <div>라이브</div>
              <div>69/300(23%)</div>
            </div>
            <div class="filters">
              <div>레귤러</div>
              <div class="cases">121</div>
            </div>
          </li>
          <li>
            <header>
              <div class="account">4506521631</div>
              <div><strong class="cases">9</strong></div>
            </header>
            <div class="filters">
              <div>라이브</div>
              <div>69/300(23%)</div>
            </div>
            <div class="filters">
              <div>레귤러</div>
              <div class="cases">121</div>
            </div>
          </li>
        </ul>
      </section>
    </aside>
    <section>
      <header>
        <div class="title">
          <div>
            <button class="ico-eye" title="사용자 지정 보기" data-modal="selectColumns"></button>
            <button class="btn-advanced-search" type="button">상세검색</button>
          </div>
          <div class="buttons">
            <button class="ico-download" type="button">엑셀다운</button>
            <button type="button" data-modal="searchGroup">분류조회</button>
            <button type="button" data-modal="setLocation">지역설정</button>
          </div>
        </div>
        {% include "advanced_search_bidding.html" %}
        <div class="filters">
          <div>
            <div class="search">
              <div class="selectbox">
                <select name="" id="">
                  <option value="keyword">키워드</option>
                  <option value="keyword">키워드</option>
                  <option value="keyword">키워드</option>
                </select>
              </div>
              <input type="search" />
              <button type="button"></button>
            </div>
            <div class="filters">
              <strong data-title="선택" class="cases">0</strong>
              <strong data-title="전체" class="cases">9,206</strong>
            </div>
          </div>
          <div class="buttons">
            <div class="dropdown">
              <button type="button">선택한 키워드 관리</button>
              <nav>
                <ul data-title="라이브">
                  <li data-modal="settingsLiveNormal">일반설정</li>
                  <li data-modal="settingsLiveNormalPart">일반부분설정</li>
                  <li data-modal="settingsLiveAdvanced">고급설정</li>
                  <li data-modal="settingsLiveAdvancedPart">고급부분설정</li>
                </ul>
                <ul data-title="레귤러">
                  <li data-modal="settingsRegularNormal">일반설정</li>
                  <li data-modal="settingsRegularNormalPart">일반부분설정</li>
                </ul>
                <ul>
                  <li>입찰실행</li>
                  <li>입찰정지</li>
                  <li>입찰삭제</li>
                </ul>
              </nav>
            </div>
            <button type="button" data-modal="">분류해제</button>
            <button type="button" data-modal="">분류지정</button>
            <button type="button" data-modal="biddingHistory">입찰이력</button>
            <div class="selectbox">
              <select name="" id="">
                <option value="filter-100">100개씩 보기</option>
                <option value="filter-50">50개씩 보기</option>
                <option value="filter-20">20개씩 보기</option>
                <option value="filter-10">10개씩 보기</option>
              </select>
            </div>
          </div>
        </div>
      </header>
      <div class="list">
        <ul class="row title">
          <li class="col-check">
            <div class="checkbox">
              <input id="checkAll" class="check-all" name="select-item" type="checkbox" />
              <label for="checkAll"></label>
            </div>
          </li>
          <li class="ico-sort" title="키워드">키워드</li>
          <li class="ico-sort">키워드상태</li>
          <li class="ico-sort">입찰상태</li>
          <li>입찰설정</li>
          <li>입찰주기</li>
          <li class="ico-sort">최대 CPC</li>
          <li class="ico-sort">입찰목표</li>
          <li class="ico-sort">입찰한도</li>
          <li class="ico-sort">한도옵션</li>
          <li class="ico-sort">입찰가감액</li>
          <li class="ico-sort">첫 페이지 예상 입찰가</li>
          <li class="ico-sort">첫 게재위치 예상 입찰가</li>
          <li class="ico-sort">페이지 상단 예상 입찰가</li>
          <li class="ico-sort">클릭수</li>
          <li class="ico-sort">노출수</li>
          <li class="ico-sort">클릭률</li>
          <li class="ico-sort">전환수</li>
          <li class="ico-sort">전환율</li>
          <li class="ico-sort">절대상단노출수 (%)</li>
          <li class="ico-sort">상단노출수 (%)</li>
          <li class="ico-sort">검색 노출 점유율</li>
          <li class="ico-sort">검색 상단 노출 점유율</li>
          <li class="ico-sort">검색 절대상단 노출 점유율</li>
          <li class="ico-sort">품질평가점수</li>
          <li class="ico-sort">예상 CTR</li>
          <li class="ico-sort">방문페이지 만족도</li>
          <li class="ico-sort">광고관련성</li>
          <li class="ico-sort">검색유형</li>
          <li class="ico-sort">평균비용</li>
          <li class="ico-sort">비용</li>
          <li class="ico-sort">
            입찰
            <div class="type2" data-tooltip="bidding"></div>
          </li>
          <li class="ico-sort">입찰결과</li>
          <li class="ico-sort">분류명</li>
          <li class="ico-sort">캠페인</li>
          <li class="ico-sort">캠페인상태</li>
          <li class="ico-sort">캠페인예산</li>
          <li class="ico-sort">광고그룹</li>
          <li class="ico-sort">그룹상태</li>
          <li class="col-url ico-sort">최종URL</li>
          <li class="ico-sort">최근 입찰 시간</li>
          <li class="ico-sort">입찰등록일</li>
          <li class="ico-sort">입찰수정일</li>
        </ul>
        <div class="rows" data-empty="상품을 등록해주세요">
          <ul class="row">
            <li class="col-check">
              <div class="checkbox">
                <input id="check-01" name="select-item" type="checkbox" />
                <label for="check-01"></label>
              </div>
            </li>
            <li title="키워드">
              <div class="keyword">검색 광고 마케터</div>
            </li>
            <li title="키워드상태">
              <div class="tag">운영가능</div>
              ON
            </li>
            <li title="입찰상태">
              <div class="toggle-switch">
                <input id="toggle-bidding" type="checkbox">
                <label for="toggle-bidding"></label>
              </div>
            </li>
            <li title="입찰설정">
              <button disabled>미설정</button>
            </li>
            <li title="입찰주기"></li>
            <li title="최대 CPC">
              700
            </li>
            <li title="입찰목표"></li>
            <li title="입찰한도">
              <div class="price"></div>
            </li>
            <li title="한도옵션">
              OFF
            </li>
            <li title="입찰가감액">
              <div class="price"></div>
            </li>
            <li title="첫 페이지 예상 입찰가">
              <div class="price"></div>
            </li>
            <li title="첫 게재위치 예상 입찰가">
              <div class="price"></div>
            </li>
            <li title="페이지 상단 예상 입찰가">
              <div class="price"></div>
            </li>
            <li title="클릭수">
              <div vlass="cases"></div>
            </li>
            <li title="노출수">
              <div class="cases"></div>
            </li>
            <li title="클릭률">
              <div class="percent"></div>
            </li>
            <li title="전환수">
              <div class="percent"></div>
            </li>
            <li title="전환율">
              <div class="percent"></div>
            </li>
            <li title="절대상단노출수 (%)">
              <div class="percent"></div>
            </li>
            <li title="상단노출수 (%)">
              <div class="percent"></div>
            </li>
            <li title="검색 노출 점유율">
              <div class="percent"></div>
            </li>
            <li title="검색 상단 노출 점유율">
              <div class="percent"></div>
            </li>
            <li title="검색 절대상단 노출 점유율">
              <div class="percent"></div>
            </li>
            <li title="품질평가점수">
              1
            </li>
            <li title="예상 CTR">
              평균이하
            </li>
            <li title="방문페이지 만족도">
              평균이하
            </li>
            <li title="광고관련성">
              평균이하
            </li>
            <li title="검색유형">
              일치검색
            </li>
            <li title="평균비용">
              <div class="price"></div>
            </li>
            <li title="비용">
              <div class="price"></div>
            </li>
            <li title="입찰">
              <div>
                <span>실패</span>
                <button data-modal="biddingHistory">이력</button>
              </div>
            </li>
            <li title="입찰결과">최대도달</li>
            <li title="분류명"></li>
            <li title="캠페인">
              다이애드
            </li>
            <li title="캠페인상태">
              ON
            </li>
            <li title="캠페인예산">
              <div class="price">20,000</div>
            </li>
            <li title="광고그룹">
              네이버광고
            </li>
            <li title="그룹상태">
              ON
            </li>
            <li class="col-url" title="최종URL">
              <div>https://diad.co.kr/AdSolution/ProServiceIntroduction</div>
            </li>
            <li title="최근 입찰 시간"></li>
            <li title="입찰등록일">
              2022-05-17
            </li>
            <li title="입찰수정일">
              2022-10-13 11:13
            </li>
          </ul>
        </div>
      </div>
      <footer class="section-footer">
        <div class="pagination">
          <button onclick="" type="button">
            <div class="arrow double left"></div>
          </button>
          <button onclick="" type="button">
            <div class="arrow left"></div>
          </button>
          <div class="pages">
            <button class="is-active" onclick="" type="button">1</button>
            <button onclick="" type="button">2</button>
            <button onclick="" type="button">3</button>
            <button onclick="" type="button">4</button>
            <button onclick="" type="button">5</button>
          </div>
          <button onclick="" type="button">
            <div class="arrow right"></div>
          </button>
          <button onclick="" type="button">
            <div class="arrow double right"></div>
          </button>
        </div>
      </footer>
    </section>
  </div>
</main>
{% include "modals.html" %}
{% endblock %}