{% extends "base.html" %} {% block content %} {% import 'aside.html' as menu %} {{menu.active('bidGoogle')}}
<div class="content content-bidding">
  <header class="main-header">
    <div class="title">
      <h1>구글 검색광고</h1>
    </div>
  </header>
  <div class="wrapper">
    <section class="section-account">
      <header class="section-header">
        <h3>4506521631</h3>
      </header>
      <div class="sync">
        <div class="selectbox">
          <select name="sync-account" id="">
            <option value="">4063236327</option>
            <option value="">4506521631</option>
          </select>
        </div>
        <button class="btn-main ico-sync"></button>
      </div>
      <ul class="details-sync">
        <li class="center">
          <div>동기화 시간</div>
          <div>2022-10-13 오전 11:14:39</div>
        </li>
        <li>
          <div>동기화 건수</div>
          <div class="times">1,409</div>
        </li>
      </ul>
      <ul class="details-bidding">
        <li>
          <div>전체</div>
          <div class="times">
            <strong>1,409</strong>
          </div>
        <li>
          <div>입찰실행</div>
          <div class="times"></div>
        </li>
        <li>
          <div>
            입찰성공
            <article class="tooltip">
              <div class="tooltip-content">
                최대 CPC가 최종 입찰목표 금액에 도달함
              </div>
            </article>
          </div>
          <div class="times"></div>
        </li>
        <li>
          <div>입찰실패
            <article class="tooltip">
              <div class="tooltip-content">
                최대 CPC가 최종 입찰목표 금액에 도달하지 못함
              </div>
            </article>
          </div>
          <div class="times"></div>
        </li>
        <li>
          <div>최대입찰가도달
            <article class="tooltip">
              <div class="tooltip-content">
                최종 입찰목표 금액이 입찰한도를 초과한 경우
              </div>
            </article>
          </div>
          <div class="times"></div>
        </li>
      </ul>
      <small>※ 건수를 클릭하면 해당 리스트만 불러옵니다.</small>
      <div class="accounts">
        <h3>계정별 입찰 현황</h3>
        <ul class="details-accounts">
          <li>
            <div>3scoltd</div>
            <div>
              <strong class="times"></strong>
              <small class="percent"></small>
            </div>
          </li>
          <li>
            <div>cjlion2004</div>
            <div>
              <strong class="times"></strong>
              <small class="percent"></small>
            </div>
          </li>
        </ul>
      </div>
    </section>
    <section>
      <header class="section-header multi-line">
        <div class="title">
          <div>
            <button class="ico-eye" title="사용자 지정 보기" data-modal="selectColumns"></button>
            <button class="btn-advanced-search" type="button">상세검색</button>
          </div>
          <div class="buttons">
            <button class="btn-sub" type="button" data-modal="">분류조회</button>
            <button class="btn-sub" type="button" data-modal="">지역설정</button>
            <button class="btn-main" class="ico-download" type="button">엑셀다운</button>
          </div>
        </div>
        <div class="advanced-search">
          <ul>
            <li>
              <div>
                <span>키워드</span>
                <div class="tooltip">
                  <div class="tooltip-content">
                    <p>복수검색은 줄 바꿈(엔터키)으로 구분합니다.</p>
                    <p>예시:</p>
                    <p>키워드 상품</p>
                  </div>
                </div>
                <small>복수검색 가능</small>
              </div>
              <div class="inputs">
                <textarea id="" name=""></textarea>
                <div class="select">
                  <input
                    id="keyword-01"
                    type="radio"
                    name="filter-keyword"
                    checked>
                  <label for="keyword-01">일치</label>
                  <input
                    id="keyword-02"
                    type="radio"
                    name="filter-keyword">
                  <label for="keyword-02">포함</label>
                  <input
                    id="keyword-03"
                    type="radio"
                    name="filter-keyword">
                  <label for="keyword-03">제외</label>
                </div>
              </div>
            </li>
            <li class="filter-range">
              <div>
                <span>순위</span>
                <div class="tooltip">
                  <div class="tooltip-content">
                    <dl>
                      <dd>순위 범위를 전체순위(1~401위)로 입력해주세요.</dd>
                      <dd>400위 밖을 검색할 경우 ‘이상’ 입력 칸에 401을 입력해주세요.</dd>
                      <dd>특정 값을 순위로 검색할 경우 위아래 입력 칸에 같은 값을 입력해주세요.</dd>
                    </dl>
                  </div>
                </div>
              </div>
              <div class="inputs">
                <div class="up">
                  <input type="number">
                </div>
                <div class="down">
                  <input type="number">
                </div>
              </div>
            </li>
          </ul>
          <ul>
            <li class="mid">
              <div>
                <span>상품 MID</span>
                <div class="tooltip">
                  <div class="tooltip-content">
                    <p>복수검색은 줄 바꿈(엔터키)으로 구분합니다.</p>
                    <p>예시:</p>
                    <p>12345678900</p>
                    <p>12345678901</p>
                  </div>
                </div>
                <small>복수검색 가능</small>
              </div>
              <div class="inputs">
                <textarea id="" name=""></textarea>
              </div>
            </li>
            <li class="item-created">
              <div>등록일</div>
              <div class="inputs">
                <div class="calendar">
                  <input
                    id="from"
                    type="text"
                    name="from"
                    autocomplete="off">
                  <span>~</span>
                  <input
                    id="to"
                    type="text"
                    name="to"
                    autocomplete="off">
                </div>
              </div>
            </li>
          </ul>
          <ul>
            <li>
              <div>스토어명</div>
              <div class="inputs">
                <input type="text">
              </div>
            </li>
            <li>
              <div>상품명</div>
              <div class="inputs">
                <input type="text">
              </div>
            </li>
            <li>
              <div>그룹</div>
              <div class="inputs">
                <input type="text">
              </div>
            </li>
            <li class="item-alert">
              <div>알림</div>
              <div class="inputs">
                <div class="checkbox">
                  <input
                    id="alert-on"
                    type="checkbox">
                  <label for="alert-on">on</label>
                </div>
                <div class="checkbox">
                  <input
                    id="alert-off"
                    type="checkbox">
                  <label for="alert-off">off</label>
                </div>
              </div>
            </li>
            <li class="buttons">
              <button class="btn-sub clear">
                초기화
              </button>
              <button
                class="btn-main"
                data-modal="advancedSearch">
                상세검색
              </button>
            </li>
          </ul>
        </div>
        <div class="filters">
          <div>
            <div class="search">
              <div class="selectbox">
                <select name="" id="">
                  <option value="keyword">키워드</option>
                  <option value="keyword">키워드</option>
                  <option value="keyword">키워드</option>
                </select>
              </div>
              <div class="input">
                <input type="search" />
                <span class="x"></span>
              </div>
              <button class="btn-main ico-search" type="button"></button>
            </div>
            <ul class="list-count">
              <li>
                <span class="selected times">0</span>
              </li>
              <li>
                <span class="total times">9,206</span>
              </li>
            </ul>
          </div>
          <div class="buttons">
            <div class="dropdown">
              <button type="button">선택한 키워드 관리</button>
              <ul>
                <li data-modal="settingsNormal">일반설정</li>
                <li data-modal="settingsNormalPart">일반부분설정</li>
                <li data-modal="settingsAdvanced">고급설정</li>
                <li data-modal="settingsAdvancedPart">고급부분설정</li>
                <li>입찰실행</li>
                <li>입찰정지</li>
                <li>입찰삭제</li>
              </ul>
            </div>
            <button type="button" data-modal="">분류해제</button>
            <button type="button" data-modal="">분류지정</button>
            <button type="button" data-modal="">입찰이력</button>
            <div class="selectbox">
              <select name="" id="">
                <option value="filter-100">100개씩 보기</option>
                <option value="filter-50">50개씩 보기</option>
                <option value="filter-20">20개씩 보기</option>
                <option value="filter-10">10개씩 보기</option>
              </select>
            </div>
          </div>
        </div>
      </header>
      <div class="list sticky">
        <ul class="row title">
          <li class="col-check">
            <div class="checkbox">
              <input id="checkAll" class="check-all" name="select-item" type="checkbox" />
              <label for="checkAll"></label>
            </div>
          </li>
          <li class="col-keyword ico-sort">키워드</li>
          <li class="ico-sort">
            키워드상태
            <div class="tooltip type2">
              <div class="tooltip-content">
              </div>
            </div>
          </li>
          <li class="ico-sort">
            입찰상태
            <div class="tooltip type2">
              <div class="tooltip-content">
              </div>
            </div>
          </li>
          <li>
            <span>
              입찰설정
            </span>
            <div class="tooltip type2">
              <div class="tooltip-content">
              </div>
            </div>
          </li>
          <li>
            입찰주기
            <div class="tooltip type2">
              <div class="tooltip-content">
              </div>
            </div>
          </li>
          <li class="ico-sort">
            최대 CPC
            <div class="tooltip type2">
              <div class="tooltip-content">
              </div>
            </div>
          </li>
          <li class="ico-sort">입찰목표</li>
          <li class="ico-sort">입찰한도</li>
          <li class="ico-sort">한도옵션</li>
          <li class="ico-sort">입찰가감액</li>
          <li class="ico-sort">첫 페이지 예상 입찰가</li>
          <li class="ico-sort">첫 게재위치 예상 입찰가</li>
          <li class="ico-sort">페이지 상단 예상 입찰가</li>
          <li class="ico-sort">클릭수</li>
          <li class="ico-sort">노출수</li>
          <li class="ico-sort">클릭률</li>
          <li class="ico-sort">전환수</li>
          <li class="ico-sort">전환율</li>
          <li class="ico-sort">절대상단노출수 (%)</li>
          <li class="ico-sort">상단노출수 (%)</li>
          <li class="ico-sort">검색 노출 점유율</li>
          <li class="ico-sort">검색 상단 노출 점유율</li>
          <li class="ico-sort">검색 절대상단 노출 점유율</li>
          <li class="ico-sort">품질평가점수</li>
          <li class="ico-sort">예상 CTR</li>
          <li class="ico-sort">방문페이지 만족도</li>
          <li class="ico-sort">광고관련성</li>
          <li class="ico-sort">검색유형</li>
          <li class="ico-sort">평균비용</li>
          <li class="ico-sort">비용</li>
          <li class="ico-sort">입찰결과</li>
          <li class="ico-sort">분류명</li>
          <li class="ico-sort">캠페인</li>
          <li class="ico-sort">캠페인상태</li>
          <li class="ico-sort">캠페인예산</li>
          <li class="ico-sort">광고그룹</li>
          <li class="ico-sort">그룹상태</li>
          <li class="col-url ico-sort">최종URL</li>
          <li class="ico-sort">최근 입찰 시간</li>
          <li class="ico-sort">입찰등록일</li>
          <li class="ico-sort">입찰수정일</li>
        </ul>
        <div class="rows" data-empty="상품을 등록해주세요">
          <ul class="row">
            <li class="col-check">
              <div class="checkbox">
                <input id="check-01" name="select-item" type="checkbox" />
                <label for="check-01"></label>
              </div>
            </li>
            <li title="키워드" class="col-keyword">
              <div class="keyword">검색 광고 마케터</div>
            </li>
            <li title="키워드상태">
              <div class="tag">운영가능</div>
              ON
            </li>
            <li title="입찰상태">
              정지
            </li>
            <li title="입찰설정">
              <button disabled>미설정</button>
            </li>
            <li title="입찰주기"></li>
            <li title="최대 CPC">
              700
            </li>
            <li title="입찰목표"></li>
            <li title="입찰한도">
                <div class="price"></div>
            </li>
            <li title="한도옵션">
              OFF
            </li>
            <li title="입찰가감액">
              <div class="price"></div>
            </li>
            <li title="첫 페이지 예상 입찰가">
              <div class="price"></div>
            </li>
            <li title="첫 게재위치 예상 입찰가">
              <div class="price"></div>
            </li>
            <li title="페이지 상단 예상 입찰가">
              <div class="price"></div>
            </li>
            <li title="클릭수">
              <div vlass="times"></div>
            </li>
            <li title="노출수">
              <div class="times"></div>
            </li>
            <li title="클릭률">
              <div class="percent"></div>
            </li>
            <li title="전환수">
              <div class="percent"></div>
            </li>
            <li title="전환율">
              <div class="percent"></div>
            </li>
            <li title="절대상단노출수 (%)">
              <div class="percent"></div>
            </li>
            <li title="상단노출수 (%)">
              <div class="percent"></div>
            </li>
            <li title="검색 노출 점유율">
              <div class="percent"></div>
            </li>
            <li title="검색 상단 노출 점유율">
              <div class="percent"></div>
            </li>
            <li title="검색 절대상단 노출 점유율">
              <div class="percent"></div>
            </li>
            <li title="품질평가점수">
              1
            </li>
            <li title="예상 CTR">
              평균이하
            </li>
            <li title="방문페이지 만족도">
              평균이하
            </li>
            <li title="광고관련성">
              평균이하
            </li>
            <li title="검색유형">
              일치검색
            </li>
            <li title="평균비용">
              <div class="price"></div>
            </li>
            <li title="비용">
              <div class="price"></div>
            </li>
            <li title="입찰결과"></li>
            <li title="분류명"></li>
            <li title="캠페인">
              다이애드
            </li>
            <li title="캠페인상태">
              ON
            </li>
            <li title="캠페인예산">
              <div class="price">20,000</div>
            </li>
            <li title="광고그룹">
              네이버광고
            </li>
            <li title="그룹상태">
              ON
            </li>
            <li class="col-url" title="최종URL">
              <div>https://diad.co.kr/AdSolution/ProServiceIntroduction</div>
            </li>
            <li title="최근 입찰 시간"></li>
            <li title="입찰등록일">
              2022-05-17
            </li>
            <li title="입찰수정일">
              2022-10-13 11:13
            </li>
          </ul>
        </div>
      </div>
    </section>
  </div>
</div>
<div id="selectColumns" class="modal" title="사용자지정보기">
  <div class="dialog">
    <header class="modal-header">
      <h3>사용자 지정 보기</h3>
      <div class="close"></div>
    </header>
    <div class="modal-content">
      <section>
        <div class="list list-checkbox">
          <div class="checkbox">
            <input id="select-column1" type="checkbox" name="selectColumn" checked />
            <label for="select-column1">키워드</label>
          </div>
          <div class="checkbox">
            <input id="select-column2" type="checkbox" name="selectColumn" checked />
            <label for="select-column2">키워드상태</label>
          </div>
          <div class="checkbox">
            <input id="select-column3" type="checkbox" name="selectColumn" checked />
            <label for="select-column3">입찰상태</label>
          </div>
          <div class="checkbox">
            <input id="select-column4" type="checkbox" name="selectColumn" checked />
            <label for="select-column4">입찰설정</label>
          </div>
          <div class="checkbox">
            <input id="select-column5" type="checkbox" name="selectColumn" checked />
            <label for="select-column5">입찰주기</label>
          </div>
          <div class="checkbox">
            <input id="select-column6" type="checkbox" name="selectColumn" checked />
            <label for="select-column6">최대 CPC</label>
          </div>
          <div class="checkbox">
            <input id="select-column7" type="checkbox" name="selectColumn" checked />
            <label for="select-column7">입찰목표</label>
          </div>
          <div class="checkbox">
            <input id="select-column8" type="checkbox" name="selectColumn" checked />
            <label for="select-column8">입찰한도</label>
          </div>
          <div class="checkbox">
            <input id="select-column9" type="checkbox" name="selectColumn" checked />
            <label for="select-column9">한도옵션</label>
          </div>
          <div class="checkbox">
            <input id="select-column10" type="checkbox" name="selectColumn" checked />
            <label for="select-column10">입찰가감액</label>
          </div>
          <div class="checkbox">
            <input id="select-column11" type="checkbox" name="selectColumn" checked />
            <label for="select-column11">첫 페이지 예상 입찰가</label>
          </div>
          <div class="checkbox">
            <input id="select-column12" type="checkbox" name="selectColumn" checked />
            <label for="select-column12">첫 개제위치 예상 입찰가</label>
          </div>
          <div class="checkbox">
            <input id="select-column13" type="checkbox" name="selectColumn" checked />
            <label for="select-column13">페이지 상단 예상 입찰가</label>
          </div>
          <div class="checkbox">
            <input id="select-column14" type="checkbox" name="selectColumn" checked />
            <label for="select-column14">클릭수</label>
          </div>
          <div class="checkbox">
            <input id="select-column15" type="checkbox" name="selectColumn" checked />
            <label for="select-column15">노출수</label>
          </div>
          <div class="checkbox">
            <input id="select-column16" type="checkbox" name="selectColumn" checked />
            <label for="select-column16">클릭률</label>
          </div>
          <div class="checkbox">
            <input id="select-column17" type="checkbox" name="selectColumn" checked />
            <label for="select-column17">전환수</label>
          </div>
          <div class="checkbox">
            <input id="select-column18" type="checkbox" name="selectColumn" checked />
            <label for="select-column18">전환율</label>
          </div>
          <div class="checkbox">
            <input id="select-column19" type="checkbox" name="selectColumn" checked />
            <label for="select-column19">절대상단노출수 (%)</label>
          </div>
          <div class="checkbox">
            <input id="select-column20" type="checkbox" name="selectColumn" checked />
            <label for="select-column20">상단노출수 (%)</label>
          </div>
          <div class="checkbox">
            <input id="select-column21" type="checkbox" name="selectColumn" checked />
            <label for="select-column21">검색 노출 점유율</label>
          </div>
          <div class="checkbox">
            <input id="select-column22" type="checkbox" name="selectColumn" checked />
            <label for="select-column22">검색 상단 노출 점유율</label>
          </div>
          <div class="checkbox">
            <input id="select-column23" type="checkbox" name="selectColumn" checked />
            <label for="select-column23">검색 절대상단 노출 점유율</label>
          </div>
          <div class="checkbox">
            <input id="select-column24" type="checkbox" name="selectColumn" checked />
            <label for="select-column24">품질평가점수</label>
          </div>
          <div class="checkbox">
            <input id="select-column25" type="checkbox" name="selectColumn" checked />
            <label for="select-column25">예상 CTR</label>
          </div>
          <div class="checkbox">
            <input id="select-column26" type="checkbox" name="selectColumn" checked />
            <label for="select-column26">방문페이지 만족도</label>
          </div>
          <div class="checkbox">
            <input id="select-column27" type="checkbox" name="selectColumn" checked />
            <label for="select-column27">광고관련성</label>
          </div>
          <div class="checkbox">
            <input id="select-column28" type="checkbox" name="selectColumn" checked />
            <label for="select-column28">검색유형</label>
          </div>
          <div class="checkbox">
            <input id="select-column29" type="checkbox" name="selectColumn" checked />
            <label for="select-column29">평균비용</label>
          </div>
          <div class="checkbox">
            <input id="select-column30" type="checkbox" name="selectColumn" checked />
            <label for="select-column30">비용</label>
          </div>
          <div class="checkbox">
            <input id="select-column31" type="checkbox" name="selectColumn" checked />
            <label for="select-column31">입찰결과</label>
          </div>
          <div class="checkbox">
            <input id="select-column32" type="checkbox" name="selectColumn" checked />
            <label for="select-column32">분류명</label>
          </div>
          <div class="checkbox">
            <input id="select-column33" type="checkbox" name="selectColumn" checked />
            <label for="select-column33">캠페인</label>
          </div>
          <div class="checkbox">
            <input id="select-column34" type="checkbox" name="selectColumn" checked />
            <label for="select-column34">캠페인상태</label>
          </div>
          <div class="checkbox">
            <input id="select-column35" type="checkbox" name="selectColumn" checked />
            <label for="select-column35">캠페인예산</label>
          </div>
          <div class="checkbox">
            <input id="select-column36" type="checkbox" name="selectColumn" checked />
            <label for="select-column36">광고그룹</label>
          </div>
          <div class="checkbox">
            <input id="select-column37" type="checkbox" name="selectColumn" checked />
            <label for="select-column37">그룹상태</label>
          </div>
          <div class="checkbox">
            <input id="select-column38" type="checkbox" name="selectColumn" checked />
            <label for="select-column38">최종URL</label>
          </div>
          <div class="checkbox">
            <input id="select-column39" type="checkbox" name="selectColumn" checked />
            <label for="select-column39">최근 입찰 시간</label>
          </div>
          <div class="checkbox">
            <input id="select-column40" type="checkbox" name="selectColumn" checked />
            <label for="select-column40">입찰등록일</label>
          </div>
          <div class="checkbox">
            <input id="select-column41" type="checkbox" name="selectColumn" checked />
            <label for="select-column41">입찰수정일</label>
          </div>
        </div>
      </section>
    </div>
    <div class="buttons">
      <button class="btn-cancel close" type="button">취소</button>
      <button class="btn-sub" type="button" data-modal="apply">초기화</button>
      <button class="btn-submit" type="button" data-modal="apply">적용</button>
    </div>
  </div>
</div>
{% endblock %}