{% extends "base.html" %} {% block content %} {% import 'aside.html' as menu %} {{menu.active('bidGmarket')}}
<script>
  $(function () {
    var dateFormat = "mm/dd/yy",
      from = $("#from")
        .datepicker()
        .on("change", function () {
          to.datepicker("option", "minDate", getDate(this));
        }),
      to = $("#to")
        .datepicker()
        .on("change", function () {
          from.datepicker("option", "maxDate", getDate(this));
        });

    function getDate(element) {
      var date;
      try {
        date = $.datepicker.parseDate(dateFormat, element.value);
      } catch (error) {
        date = null;
      }

      return date;
    }
  });
</script>
<main class="content-bidding gmarket">
  <header class="content-header">
    <div class="title">
      <h1>지마켓 파워클릭</h1>
      <div class="filters">
        <ul class="my-plan" data-title="나의 입찰 플랜">
          <li>
            <span class="tag dropdown">
              Live
              <nav>
                <ul>
                  <li data-title="타입">
                    E (제공 키워드 500개, 잔여 키워드 300개)
                  </li>
                  <li data-title="등급">레드(입찰주기 10분)</li>
                  <li data-title="기간">
                    <span class="tag d-day">24</span>
                    2023-03-03 ~ 2023-04-01
                  </li>
                </ul>
              </nav>
            </span>
            <span>300 / 500</span>
          </li>
          <li>
            <span class="tag dropdown">
              Regular
              <nav>
                <ul>
                  <li data-title="개수">
                    제한 없음
                  </li>
                  <li data-title="기간">
                    <span class="tag d-day">24</span>
                    2023-03-03 ~ 2023-04-01
                  </li>
                </ul>
              </nav>
            </span>
            <span>199 / 300</span>
          </li>
        </ul>
        {% include "account.html" %}
      </div>
    </div>
  </header>
  <div class="wrapper">
    <aside class="sections">
      <section>
        <div class="sync">
          <div class="selectbox">
            <select name="sync-account" id="">
              <option value="">3scoltd</option>
              <option value="">cjlion2004</option>
            </select>
          </div>
          <button class="ico-sync" type="button"></button>
        </div>
        <ul>
          <li>
            <div class="ico-update">2022-12-07 오전 10:06:38</div>
          </li>
          <li>
            <div>동기화 건수</div>
            <div class="times">144</div>
          </li>
          <li>
            <div>비즈머니</div>
            <div class="price">3,529,904</div>
          </li>
        </ul>
      </section>
      <section>
        <div class="selector">
          <input
            id="account-powerlink-all"
            type="radio"
            name="accountTabs-powerlink"
            checked>
          <label for="account-powerlink-all">전체</label>
          <input
            id="account-powerlink-live"
            type="radio"
            name="accountTabs-powerlink">
          <label for="account-powerlink-live">라이브</label>
          <input
            id="account-powerlink-regular"
            type="radio"
            name="accountTabs-powerlink">
          <label for="account-powerlink-regular">레귤러</label>
        </div>
        <ul class="bidding">
          <li>
            <div>전체</div>
            <div class="times">
              <strong>144</strong>
            </div>
          <li>
            <div>입찰실행</div>
            <div class="times"></div>
          </li>
          <li>
            <div>입찰성공</div>
            <div class="times">3</div>
          </li>
          <li>
            <div>입찰실패</div>
            <div class="times">4</div>
          </li>
          <li>
            <div>최대입찰가도달</div>
            <div class="times"></div>
          </li>
          <li>
            <div>희망순위미도달</div>
            <div class="times"></div>
          </li>
        </ul>
        <small>※ 건수를 클릭하면 해당 리스트만 불러옵니다.</small>
      </section>
      <section>
        <h3>계정별 입찰 현황</h3>
        <ul class="accounts" data-empty="입찰 현황이 없습니다.">
          <li>
            <header>
              <div class="account">bokdanjie</div>
              <div><strong class="times">0</strong></div>
            </header>
            <div class="filters">
              <div>라이브</div>
              <div>69/300(23%)</div>
            </div>
            <div class="filters">
              <div>레귤러</div>
              <div class="times">121</div>
            </div>
          </li>
          <li>
            <header>
              <div class="account">briall</div>
              <div><strong class="times">0</strong></div>
            </header>
            <div class="filters">
              <div>라이브</div>
              <div>69/300(23%)</div>
            </div>
            <div class="filters">
              <div>레귤러</div>
              <div class="times">121</div>
            </div>
          </li>
          <li>
            <header>
              <div class="account">cheum</div>
              <div><strong class="times">0</strong></div>
            </header>
            <div class="filters">
              <div>라이브</div>
              <div>69/300(23%)</div>
            </div>
            <div class="filters">
              <div>레귤러</div>
              <div class="times">121</div>
            </div>
          </li>
          <li>
            <header>
              <div class="account">ckdhc</div>
              <div><strong class="times">0</strong></div>
            </header>
            <div class="filters">
              <div>라이브</div>
              <div>69/300(23%)</div>
            </div>
            <div class="filters">
              <div>레귤러</div>
              <div class="times">121</div>
            </div>
          </li>
          <li>
            <header>
              <div class="account">coolicecm1</div>
              <div><strong class="times">9</strong></div>
            </header>
            <div class="filters">
              <div>라이브</div>
              <div>69/300(23%)</div>
            </div>
            <div class="filters">
              <div>레귤러</div>
              <div class="times">121</div>
            </div>
          </li>
          <li>
            <header>
              <div class="account">ecpartners</div>
              <div><strong class="times">0</strong></div>
            </header>
            <div class="filters">
              <div>라이브</div>
              <div>69/300(23%)</div>
            </div>
            <div class="filters">
              <div>레귤러</div>
              <div class="times">121</div>
            </div>
          </li>
          <li>
            <header>
              <div class="account">rwhit</div>
              <div><strong class="times">0</strong></div>
            </header>
            <div class="filters">
              <div>라이브</div>
              <div>69/300(23%)</div>
            </div>
            <div class="filters">
              <div>레귤러</div>
              <div class="times">121</div>
            </div>
          </li>
          <li>
            <header>
              <div class="account">ssy863555</div>
              <div><strong class="times">0</strong></div>
            </header>
            <div class="filters">
              <div>라이브</div>
              <div>69/300(23%)</div>
            </div>
            <div class="filters">
              <div>레귤러</div>
              <div class="times">121</div>
            </div>
          </li>
          <li>
            <header>
              <div class="account">sy967967</div>
              <div><strong class="times">10</strong></div>
            </header>
            <div class="filters">
              <div>라이브</div>
              <div>69/300(23%)</div>
            </div>
            <div class="filters">
              <div>레귤러</div>
              <div class="times">121</div>
            </div>
          </li>
        </ul>
      </section>
    </aside>
    <section>
      <header>
        <div class="title">
          <div>
            <button class="ico-eye" title="사용자 지정 보기" data-modal="selectColumns"></button>
            <button class="btn-advanced-search" type="button">상세검색</button>
          </div>
          <div class="buttons">
            <button type="button" data-modal="searchGroup">분류조회</button>
            <button type="button" data-modal="setLocation">지역설정</button>
            <button class="ico-download" type="button">엑셀다운</button>
            <button type="button" data-modal="uploadAnExcelFile">주문통계(엑셀업로드)</button>
          </div>
        </div>
        {% include "advanced_search_bidding.html" %}
        <div class="filters">
          <div>
            <div class="search">
              <div class="selectbox">
                <select name="" id="">
                  <option value="keyword">키워드</option>
                  <option value="keyword">키워드</option>
                  <option value="keyword">키워드</option>
                </select>
              </div>
              <input type="search" />
              <button type="button"></button>
            </div>
            <div class="filters">
              <strong data-title="선택" class="times">0</strong>
              <strong data-title="전체" class="times">9,206</strong>
            </div>
          </div>
          <div class="buttons">
            <div class="dropdown">
              <button type="button">선택한 키워드 관리</button>
              <nav>
                <ul data-title="라이브">
                  <li data-modal="settingsLiveNormal">일반설정</li>
                  <li data-modal="settingsLiveNormalPart">일반부분설정</li>
                  <li data-modal="settingsLiveAdvanced">고급설정</li>
                  <li data-modal="settingsLiveAdvancedPart">고급부분설정</li>
                </ul>
                <ul data-title="레귤러">
                  <li data-modal="settingsRegularNormal">일반설정</li>
                  <li data-modal="settingsRegularNormalPart">일반부분설정</li>
                </ul>
                <ul>
                  <li>입찰실행</li>
                  <li>입찰정지</li>
                  <li>입찰삭제</li>
                </ul>
              </nav>
            </div>
            <button type="button" data-modal="">분류해제</button>
            <button type="button" data-modal="">분류지정</button>
            <button type="button" data-modal="biddingHistory">입찰이력</button>
            <div class="selectbox">
              <select name="" id="">
                <option value="filter-100">100개씩 보기</option>
                <option value="filter-50">50개씩 보기</option>
                <option value="filter-20">20개씩 보기</option>
                <option value="filter-10">10개씩 보기</option>
              </select>
            </div>
          </div>
        </div>
      </header>
      <div class="list sticky">
        <ul class="row title">
          <li class="col-check">
            <div class="checkbox">
              <input id="checkAll" class="check-all" name="select-item" type="checkbox" />
              <label for="checkAll"></label>
            </div>
          </li>
          <li class="col-title ico-sort">상품</li>
          <li class="col-keyword ico-sort">키워드</li>
          <li class="ico-sort">입찰상태</li>
          <li>입찰설정</li>
          <li>입찰주기</li>
          <li class="ico-sort">입찰대상</li>
          <li class="ico-sort">최대입찰가</li>
          <li class="ico-sort">입찰가감액</li>
          <li class="ico-sort">희망순위</li>
          <li class="ico-sort">입찰가</li>
          <li class="ico-sort">현재순위</li>
          <li class="ico-sort">최대입찰가 도달여부</li>
          <li class="ico-sort">희망순위 도달여부</li>
          <li class="ico-sort">
            입찰
            <div class="type2" data-tooltip="bidding"></div>
          </li>
          <li class="ico-sort">입찰결과</li>
          <li class="ico-sort">키워드등록</li>
          <li class="ico-sort">분류명</li>
          <li class="ico-sort">키워드상태</li>
          <li class="ico-sort">광고그룹</li>
          <li class="ico-sort">그룹상태</li>
          <li class="ico-sort">캠페인</li>
          <li class="ico-sort">캠페인상태</li>
          <li class="ico-sort">입찰등록일</li>
          <li class="ico-sort">입찰수정일</li>
        </ul>
        <div class="rows" data-empty="상품을 등록해주세요">
          <ul class="row">
            <li class="col-check">
              <div class="checkbox">
                <input id="check-01" name="select-item" type="checkbox" />
                <label for="check-01"></label>
              </div>
            </li>
            <li title="상품" class="col-title item">
              <div class="image" onclick="location.href='ranking_details.html'">
                <img src="http://image.11st.co.kr/pd/v2/3/8/3/2/0/0/ukCEp/1392383200_L300.jpg" alt="" />
              </div>
              <div class="information">
                <div class="title">킹썰 스포츠 등산 자전거 겨울 방한 장갑 휴대폰터치가능</div>
              </div>
            </li>
            <li title="키워드" class="col-keyword">
              <div class="keyword">등산장갑</div>
            </li>
            <li title="입찰상태">
              <div class="toggle-switch">
                <input id="toggle-bidding" type="checkbox">
                <label for="toggle-bidding"></label>
              </div>
            </li>
            <li title="입찰설정">
              <button data-modal="settingsLiveAdvanced">고급설정</button>
            </li>
            <li title="입찰주기">
              5
            </li>
            <li title="입찰대상">
              PC일반
            </li>
            <li title="최대입찰가">
              <div class="price">
                1,000
              </div>
            </li>
            <li title="입찰가감액">
              <div class="price"></div>
            </li>
            <li title="희망순위">
              3
            </li>
            <li title="입찰가">
              <div class="price"></div>
            </li>
            <li title="현재순위"></li>
            <li title="최대입찰가 도달여부">
              미도달
            </li>
            <li title="희망순위 도달여부">
              미도달
            </li>
            <li title="입찰">
              <div>
                <span>성공</span>
                <button data-modal="biddingHistory">이력</button>
              </div>
            </li>
            <li title="입찰결과">
              입찰진행
            </li>
            <li title="키워드등록">직접</li>
            <li title="분류명"></li>
            <li title="키워드상태">
              <div class="tag type-text">노출가능</div>
              <span>ON</span>
            </li>
            <li title="광고그룹">
              #3s299...600
            </li>
            <li title="그룹상태">
              <div class="tag type-text">노출가능</div>
              <span>ON</span>
            </li>
            <li title="캠페인">
              수동입찰
            </li>
            <li title="캠페인상태">
              <div class="tag type-text">노출가능</div>
              <span>ON</span>
            </li>
            <li title="입찰등록일">
              2022-04-12
            </li>
            <li title="입찰수정일">
              2022-11-08
            </li>
          </ul>
        </div>
      </div>
      <footer class="section-footer">
        <div class="pagination">
          <button onclick="" type="button">
            <div class="arrow double left"></div>
          </button>
          <button onclick="" type="button">
            <div class="arrow left"></div>
          </button>
          <div class="pages">
            <button class="is-active" onclick="" type="button">1</button>
            <button onclick="" type="button">2</button>
            <button onclick="" type="button">3</button>
            <button onclick="" type="button">4</button>
            <button onclick="" type="button">5</button>
          </div>
          <button onclick="" type="button">
            <div class="arrow right"></div>
          </button>
          <button onclick="" type="button">
            <div class="arrow double right"></div>
          </button>
        </div>
      </footer>
    </section>
  </div>
</main>
{% include "modals.html" %}
{% endblock %}