{% extends "base.html" %} {% block content %} {% import 'aside.html' as menu %} {{menu.active('bidding')}}
<main class="content-bidding">
  <header class="content-header">
    <div class="title">
      <h1>
        <span>자동입찰</span>
        <div data-tooltip=""></div>
      </h1>
      {% include "account.html" %}
    </div>
  </header>
  <section class="section-main">
    <header>
      <h2>자동입찰 이용 현황</h2>
      <a href="">서비스 이용 내역 보기</a>
    </header>
    <div class="articles">
      <article data-brand="naver">
        <header>
          <h3>
            네이버
            <span class="service-type">C</span>
          </h3>
          <span class="tag d-day">183</span>
        </header>
        <div class="progress">
          <div class="title">
            <small>
              2022-12-22 ~ 2023-06-30
            </small>
            <ul>
              <li data-title="제공량">
                <strong class="times">100</strong>
              </li>
              <li data-title="잔여량">
                <strong class="times">14</strong>
              </li>
            </ul>
          </div>
          <progress value="14" max="100"></progress>
        </div>
      </article>
      <article data-brand="eleventh">
        <header>
          <h3>
            11번가
            <span class="service-type">C</span>
          </h3>
          <span class="tag d-day">28</span>
        </header>
        <div class="progress">
          <div class="title">
            <small>
              2022-10-29 ~ 2023-01-26
            </small>
            <ul>
              <li data-title="제공량">
                <strong class="times">30</strong>
              </li>
              <li data-title="잔여량">
                <strong class="times">27</strong>
              </li>
            </ul>
          </div>
          <progress value="27" max="30"></progress>
        </div>
      </article>
      <article data-brand="gmarket">
        <header>
          <h3>
            지마켓
            <span class="service-type">D</span>
          </h3>
          <span class="tag d-day">13</span>
        </header>
        <div class="progress">
          <div class="title">
            <small>
              2022-12-13 ~ 2023-01-11
            </small>
            <ul>
              <li data-title="제공량">
                <strong class="times">300</strong>
              </li>
              <li data-title="잔여량">
                <strong class="times">20</strong>
              </li>
            </ul>
          </div>
          <progress value="20" max="300"></progress>
        </div>
      </article>
      <article data-brand="google">
        <header>
          <h3>
            구글
          </h3>
          <a href="">신청하기</a>
        </header>
        <small>
          서비스 기간이 만료되었거나 서비스 정보가 존재하지 않습니다. 신청 후 사용 해 주세요
        </small>
      </article>
    </div>
  </section>
  <section>
    <header>
      <h2>매체별 현황</h2>
      <div class="filters">
        <strong class="times" data-title="전체">0</strong>
      </div>
    </header>
    <div class="list">
      <ul class="row title">
        <li class="col-check">
          <div class="checkbox">
            <input id="checkAll" class="check-all" name="select-item" type="checkbox" />
            <label for="checkAll"></label>
          </div>
        </li>
        <li class="ico-sort">매체</li>
        <li class="ico-sort">광고상품</li>
        <li class="ico-sort">계정선택</li>
        <li class="ico-sort">키워드개수</li>
        <li class="ico-sort">비율</li>
        <li class="ico-sort">전체</li>
        <li class="ico-sort">입찰실행</li>
        <li class="ico-sort">입찰대기</li>
        <li class="ico-sort">입찰진행</li>
        <li class="ico-sort">목표달성</li>
        <li class="ico-sort">하향입찰</li>
        <li class="ico-sort">최대입찰가도달</li>
        <li class="ico-sort">입찰불가</li>
        <li class="ico-sort">입찰실패</li>
      </ul>
      <div class="rows" data-empty="상품을 등록해주세요">
        <ul class="row">
          <li class="col-check">
            <div class="checkbox">
              <input id="check-01" name="select-item" type="checkbox" />
              <label for="check-01"></label>
            </div>
          </li>
          <li title="매체">네이버</li>
          <li title="광고상품">검색광고</li>
          <li title="계정선택">
            <div class="accounts">
              <div class="selectbox">
                <select name="" id="">
                  <option value="">전체</option>
                </select>
              </div>
              <button type="button">선택</button>
            </div>
          </li>
          <li title="키워드개수">
            <div class="times">69</div>
          </li>
          <li title="비율">
            <div class="percent">23</div>
          </li>
          <li title="전체">
            <div class="times">1,885</div>
          </li>
          <li title="입찰실행">
            <div class="times">69</div>
          </li>
          <li title="입찰대기">
            <div class="times">16</div>
          </li>
          <li title="입찰진행">
            <div class="times">53</div>
          </li>
          <li title="목표달성">
            <div class="times">33</div>
          </li>
          <li title="하향입찰">
            <div class="times">38</div>
          </li>
          <li title="최대입찰가도달">
            <div class="times">33</div>
          </li>
          <li title="입찰불가">
            <div class="times">27</div>
          </li>
          <li title="입찰실패">
            <div class="times">24</div>
          </li>
        </ul>
        <ul class="row">
          <li class="col-check">
            <div class="checkbox">
              <input id="check-02" name="select-item" type="checkbox" />
              <label for="check-02"></label>
            </div>
          </li>
          <li title="매체">네이버</li>
          <li title="광고상품">쇼핑검색광고</li>
          <li title="계정선택">
            <div class="accounts">
              <div class="selectbox">
                <select name="" id="">
                  <option value="">전체</option>
                </select>
              </div>
              <button type="button">선택</button>
            </div>
          </li>
          <li title="키워드개수">
            <div class="times">33</div>
          </li>
          <li title="비율">
            <div class="percent">11</div>
          </li>
          <li title="전체">
            <div class="times">453</div>
          </li>
          <li title="입찰실행">
            <div class="times">69</div>
          </li>
          <li title="입찰대기">
            <div class="times">16</div>
          </li>
          <li title="입찰진행">
            <div class="times">53</div>
          </li>
          <li title="목표달성">
            <div class="times">33</div>
          </li>
          <li title="하향입찰">
            <div class="times">38</div>
          </li>
          <li title="최대입찰가도달">
            <div class="times">33</div>
          </li>
          <li title="입찰불가">
            <div class="times">27</div>
          </li>
          <li title="입찰실패">
            <div class="times">24</div>
          </li>
        </ul>
        <ul class="row">
          <li class="col-check">
            <div class="checkbox">
              <input id="check-03" name="select-item" type="checkbox" />
              <label for="check-03"></label>
            </div>
          </li>
          <li title="매체">네이버</li>
          <li title="광고상품">파워컨텐츠</li>
          <li title="계정선택">
            <div class="accounts">
              <div class="selectbox">
                <select name="" id="">
                  <option value="">전체</option>
                </select>
              </div>
              <button type="button">선택</button>
            </div>
          </li>
          <li title="키워드개수">
            <div class="times"></div>
          </li>
          <li title="비율">
            <div class="percent"></div>
          </li>
          <li title="전체">
            <div class="times"></div>
          </li>
          <li title="입찰실행">
            <div class="times">69</div>
          </li>
          <li title="입찰대기">
            <div class="times">16</div>
          </li>
          <li title="입찰진행">
            <div class="times">53</div>
          </li>
          <li title="목표달성">
            <div class="times">33</div>
          </li>
          <li title="하향입찰">
            <div class="times">38</div>
          </li>
          <li title="최대입찰가도달">
            <div class="times">33</div>
          </li>
          <li title="입찰불가">
            <div class="times">27</div>
          </li>
          <li title="입찰실패">
            <div class="times">24</div>
          </li>
        </ul>
        <ul class="row">
          <li class="col-check">
            <div class="checkbox">
              <input id="check-04" name="select-item" type="checkbox" />
              <label for="check-04"></label>
            </div>
          </li>
          <li title="매체">11번가</li>
          <li title="광고상품">포커스클릭</li>
          <li title="계정선택">
            <div class="accounts">
              <div class="selectbox">
                <select name="" id="">
                  <option value="">전체</option>
                </select>
              </div>
              <button type="button">선택</button>
            </div>
          </li>
          <li title="키워드개수">
            <div class="times">811</div>
          </li>
          <li title="비율">
            <div class="percent">81</div>
          </li>
          <li title="전체">
            <div class="times">980</div>
          </li>
          <li title="입찰실행">
            <div class="times">69</div>
          </li>
          <li title="입찰대기">
            <div class="times">16</div>
          </li>
          <li title="입찰진행">
            <div class="times">53</div>
          </li>
          <li title="목표달성">
            <div class="times">33</div>
          </li>
          <li title="하향입찰">
            <div class="times">38</div>
          </li>
          <li title="최대입찰가도달">
            <div class="times">33</div>
          </li>
          <li title="입찰불가">
            <div class="times">27</div>
          </li>
          <li title="입찰실패">
            <div class="times">24</div>
          </li>
        </ul>
        <ul class="row">
          <li class="col-check">
            <div class="checkbox">
              <input id="check-05" name="select-item" type="checkbox" />
              <label for="check-05"></label>
            </div>
          </li>
          <li title="매체">11번가</li>
          <li title="광고상품">브랜드검색</li>
          <li title="계정선택">
            <div class="accounts">
              <div class="selectbox">
                <select name="" id="">
                  <option value="">전체</option>
                </select>
              </div>
              <button type="button">선택</button>
            </div>
          </li>
          <li title="키워드개수">
            <div class="times"></div>
          </li>
          <li title="비율">
            <div class="percent"></div>
          </li>
          <li title="전체">
            <div class="times"></div>
          </li>
          <li title="입찰실행">
            <div class="times">69</div>
          </li>
          <li title="입찰대기">
            <div class="times">16</div>
          </li>
          <li title="입찰진행">
            <div class="times">53</div>
          </li>
          <li title="목표달성">
            <div class="times">33</div>
          </li>
          <li title="하향입찰">
            <div class="times">38</div>
          </li>
          <li title="최대입찰가도달">
            <div class="times">33</div>
          </li>
          <li title="입찰불가">
            <div class="times">27</div>
          </li>
          <li title="입찰실패">
            <div class="times">24</div>
          </li>
        </ul>
        <ul class="row">
          <li class="col-check">
            <div class="checkbox">
              <input id="check-06" name="select-item" type="checkbox" />
              <label for="check-06"></label>
            </div>
          </li>
          <li title="매체">위메프</li>
          <li title="광고상품">타겟클릭</li>
          <li title="계정선택">
            <div class="accounts">
              <div class="selectbox">
                <select name="" id="">
                  <option value="">전체</option>
                </select>
              </div>
              <button type="button">선택</button>
            </div>
          </li>
          <li title="키워드개수">
            <div class="times"></div>
          </li>
          <li title="비율">
            <div class="percent"></div>
          </li>
          <li title="전체">
            <div class="times">500</div>
          </li>
          <li title="입찰실행">
            <div class="times">69</div>
          </li>
          <li title="입찰대기">
            <div class="times">16</div>
          </li>
          <li title="입찰진행">
            <div class="times">53</div>
          </li>
          <li title="목표달성">
            <div class="times">33</div>
          </li>
          <li title="하향입찰">
            <div class="times">38</div>
          </li>
          <li title="최대입찰가도달">
            <div class="times">33</div>
          </li>
          <li title="입찰불가">
            <div class="times">27</div>
          </li>
          <li title="입찰실패">
            <div class="times">24</div>
          </li>
        </ul>
        <ul class="row">
          <li class="col-check">
            <div class="checkbox">
              <input id="check-07" name="select-item" type="checkbox" />
              <label for="check-07"></label>
            </div>
          </li>
          <li title="매체">이베이</li>
          <li title="광고상품">파워클릭</li>
          <li title="계정선택">
            <div class="accounts">
              <div class="selectbox">
                <select name="" id="">
                  <option value="">전체</option>
                </select>
              </div>
              <button type="button">선택</button>
            </div>
          </li>
          <li title="키워드개수">
            <div class="times">1322</div>
          </li>
          <li title="비율">
            <div class="percent">88</div>
          </li>
          <li title="전체">
            <div class="times">3,264</div>
          </li>
          <li title="입찰실행">
            <div class="times">69</div>
          </li>
          <li title="입찰대기">
            <div class="times">16</div>
          </li>
          <li title="입찰진행">
            <div class="times">53</div>
          </li>
          <li title="목표달성">
            <div class="times">33</div>
          </li>
          <li title="하향입찰">
            <div class="times">38</div>
          </li>
          <li title="최대입찰가도달">
            <div class="times">33</div>
          </li>
          <li title="입찰불가">
            <div class="times">27</div>
          </li>
          <li title="입찰실패">
            <div class="times">24</div>
          </li>
        </ul>
        <ul class="row">
          <li class="col-check">
            <div class="checkbox">
              <input id="check-08" name="select-item" type="checkbox" />
              <label for="check-08"></label>
            </div>
          </li>
          <li title="매체">구글</li>
          <li title="광고상품">검색광고</li>
          <li title="계정선택">
            <div class="accounts">
              <div class="selectbox">
                <select name="" id="">
                  <option value="">전체</option>
                </select>
              </div>
              <button type="button">선택</button>
            </div>
          </li>
          <li title="키워드개수">
            <div class="times"></div>
          </li>
          <li title="비율">
            <div class="percent"></div>
          </li>
          <li title="전체">
            <div class="times"></div>
          </li>
          <li title="입찰실행">
            <div class="times">69</div>
          </li>
          <li title="입찰대기">
            <div class="times">16</div>
          </li>
          <li title="입찰진행">
            <div class="times">53</div>
          </li>
          <li title="목표달성">
            <div class="times">33</div>
          </li>
          <li title="하향입찰">
            <div class="times">38</div>
          </li>
          <li title="최대입찰가도달">
            <div class="times">33</div>
          </li>
          <li title="입찰불가">
            <div class="times">27</div>
          </li>
          <li title="입찰실패">
            <div class="times">24</div>
          </li>
        </ul>
      </div>
    </div>
    <footer class="section-footer">
      <div class="pagination">
        <button onclick="" type="button">
          <div class="arrow double left"></div>
        </button>
        <button onclick="" type="button">
          <div class="arrow left"></div>
        </button>
        <div class="pages">
          <button class="is-active" onclick="" type="button">1</button>
          <button onclick="" type="button">2</button>
          <button onclick="" type="button">3</button>
          <button onclick="" type="button">4</button>
          <button onclick="" type="button">5</button>
        </div>
        <button onclick="" type="button">
          <div class="arrow right"></div>
        </button>
        <button onclick="" type="button">
          <div class="arrow double right"></div>
        </button>
      </div>
    </footer>
  </section>
</main>
{% endblock %}