{% extends "base.html" %} {% block content %} {% import 'aside.html' as menu %} {{menu.active('bidding')}}
<style>
  .chart canvas {
    max-height: none !important;
  }
</style>
<div class="content content-tracking">
  <header class="main-header">
    <section class="title">
      <h1>
        <span>자동입찰</span>
        <div class="tooltip">
          <article class="tooltip-content">
            <dl>
              <dd></dd>
            </dl>
          </article>
        </div>
      </h1>
    </section>
    <section class="section-main">
      <div class="services">
        <header class="section-header">
          <h3>자동입찰 이용 현황</h3>
          <a class="right-arrow" href="">서비스 이용 내역 보기</a>
        </header>
        <ul>
          <li>
            <div class="service-type">
              <strong>C</strong>
            </div>
            <div>
              네이버
              <span class="tag d-day">183</span>
            </div>
            <small>2022-12-22 ~ 2023-06-30</small>
            <dl>
              <dt>
                <div class="grade black">K</div>                
              </dt>
              <dd>제한없음</dd>
              <dt>제공량</dt>
              <dd class="times">100</dd>
              <dt>잔여량</dt>
              <dd class="times">14</dd>
            </dl>
          </li>
          <li>
            <div class="service-type">
              <strong>A</strong>
            </div>
            <div>
              11번가
              <span class="tag d-day">28</span>
            </div>
            <small>2022-10-29 ~ 2023-01-26</small>
            <dl>
              <dt>
                <div class="grade blue">B</div>                
              </dt>
              <dd>30분</dd>
              <dt>제공량</dt>
              <dd class="times">30</dd>
              <dt>잔여량</dt>
              <dd class="times">27</dd>
            </dl>
          </li>
          <li>
            <div class="service-type">
              <strong>D</strong>
            </div>
            <div>
              지마켓
              <span class="tag d-day">13</span>
            </div>
            <small>2022-12-13 ~ 2023-01-11</small>
            <dl>
              <dt>
                <div class="grade purple">P</div>                
              </dt>
              <dd>제한없음</dd>
              <dt>제공량</dt>
              <dd class="times">300</dd>
              <dt>잔여량</dt>
              <dd class="times">20</dd>
            </dl>
          </li>
          <li>
            <div class="service-type button">
              <strong onclick="window.open('https://diad.co.kr/Mypage/PaymentView')">신청</strong>
            </div>
            <div>
              구글
            </div>
            <small>서비스 기간이 만료되었거나 서비스 정보가 존재하지 않습니다. 신청 후 사용 해 주세요
            </small>
          </li>
        </ul>
      </div>
    </section>
  </header>
  <div class="wrapper">
    <section>
      <div class="list-header">
        <h3>매체별 현황</h3>
        <ul class="list-count">
          <li>
            <span class="total">0</span>
          </li>
        </ul>
      </div>
      <div class="list">
        <ul class="row title">
          <li class="col-check">
            <div class="checkbox">
              <input id="checkAll" class="check-all" name="select-item" type="checkbox" />
              <label for="checkAll"></label>
            </div>
          </li>
          <li class="ico-sort">매체</li>
          <li class="ico-sort">광고상품</li>
          <li class="ico-sort">계정선택</li>
          <li class="ico-sort">키워드개수</li>
          <li class="ico-sort">비율</li>
          <li class="ico-sort">전체</li>
          <li class="ico-sort">입찰실행</li>
          <li class="ico-sort">입찰성공</li>
          <li class="ico-sort">입찰실패</li>
          <li class="ico-sort">최대입찰가도달</li>
          <li class="ico-sort">희망순위미도달</li>
        </ul>
        <div class="rows" data-empty="상품을 등록해주세요">
          <ul class="row">
            <li class="col-check">
              <div class="checkbox">
                <input id="check-01" name="select-item" type="checkbox" />
                <label for="check-01"></label>
              </div>
            </li>
            <li title="매체">네이버</li>
            <li title="광고상품">검색광고</li>
            <li title="계정선택">
              <div class="accounts">
                <div class="selectbox">
                  <select name="" id="">
                    <option value="">전체</option>
                  </select>
                </div>
                <button class="btn-sub">선택</button>
              </div>
            </li>
            <li title="키워드개수">
              <div class="times">69</div>
            </li>
            <li title="비율">
              <div class="percent">23</div>
            </li>
            <li title="전체">
              <div class="times">1,885</div>
            </li>
            <li title="입찰실행">
              <div class="times">69</div>
            </li>
            <li title="입찰성공">
              <div class="times">16</div>
            </li>
            <li title="입찰실패">
              <div class="times">53</div>
            </li>
            <li title="최대입찰가도달">
              <div class="times">33</div>
            </li>
            <li title="희망순위미도달">
              <div class="times">38</div>
            </li>
          </ul>
          <ul class="row">
            <li class="col-check">
              <div class="checkbox">
                <input id="check-02" name="select-item" type="checkbox" />
                <label for="check-02"></label>
              </div>
            </li>
            <li title="매체">네이버</li>
            <li title="광고상품">쇼핑검색광고</li>
            <li title="계정선택">
              <div class="accounts">
                <div class="selectbox">
                  <select name="" id="">
                    <option value="">전체</option>
                  </select>
                </div>
                <button class="btn-sub">선택</button>
              </div>
            </li>
            <li title="키워드개수">
              <div class="times">33</div>
            </li>
            <li title="비율">
              <div class="percent">11</div>
            </li>
            <li title="전체">
              <div class="times">453</div>
            </li>
            <li title="입찰실행">
              <div class="times">33</div>
            </li>
            <li title="입찰성공">
              <div class="times">6</div>
            </li>
            <li title="입찰실패">
              <div class="times">27</div>
            </li>
            <li title="최대입찰가도달">
              <div class="times">5</div>
            </li>
            <li title="희망순위미도달">
              <div class="times">10</div>
            </li>
          </ul>
          <ul class="row">
            <li class="col-check">
              <div class="checkbox">
                <input id="check-03" name="select-item" type="checkbox" />
                <label for="check-03"></label>
              </div>
            </li>
            <li title="매체">네이버</li>
            <li title="광고상품">파워컨텐츠</li>
            <li title="계정선택">
              <div class="accounts">
                <div class="selectbox">
                  <select name="" id="">
                    <option value="">전체</option>
                  </select>
                </div>
                <button class="btn-sub">선택</button>
              </div>
            </li>
            <li title="키워드개수">
              <div class="times"></div>
            </li>
            <li title="비율">
              <div class="percent"></div>
            </li>
            <li title="전체">
              <div class="times"></div>
            </li>
            <li title="입찰실행">
              <div class="times"></div>
            </li>
            <li title="입찰성공">
              <div class="times"></div>
            </li>
            <li title="입찰실패">
              <div class="times"></div>
            </li>
            <li title="최대입찰가도달">
              <div class="times"></div>
            </li>
            <li title="희망순위미도달">
              <div class="times"></div>
            </li>
          </ul>
          <ul class="row">
            <li class="col-check">
              <div class="checkbox">
                <input id="check-04" name="select-item" type="checkbox" />
                <label for="check-04"></label>
              </div>
            </li>
            <li title="매체">11번가</li>
            <li title="광고상품">포커스클릭</li>
            <li title="계정선택">
              <div class="accounts">
                <div class="selectbox">
                  <select name="" id="">
                    <option value="">전체</option>
                  </select>
                </div>
                <button class="btn-sub">선택</button>
              </div>
            </li>
            <li title="키워드개수">
              <div class="times">811</div>
            </li>
            <li title="비율">
              <div class="percent">81</div>
            </li>
            <li title="전체">
              <div class="times">980</div>
            </li>
            <li title="입찰실행">
              <div class="times">811</div>
            </li>
            <li title="입찰성공">
              <div class="times">496</div>
            </li>
            <li title="입찰실패">
              <div class="times">315</div>
            </li>
            <li title="최대입찰가도달">
              <div class="times">188</div>
            </li>
            <li title="희망순위미도달">
              <div class="times">6</div>
            </li>
          </ul>
          <ul class="row">
            <li class="col-check">
              <div class="checkbox">
                <input id="check-05" name="select-item" type="checkbox" />
                <label for="check-05"></label>
              </div>
            </li>
            <li title="매체">11번가</li>
            <li title="광고상품">브랜드검색</li>
            <li title="계정선택">
              <div class="accounts">
                <div class="selectbox">
                  <select name="" id="">
                    <option value="">전체</option>
                  </select>
                </div>
                <button class="btn-sub">선택</button>
              </div>
            </li>
            <li title="키워드개수">
              <div class="times"></div>
            </li>
            <li title="비율">
              <div class="percent"></div>
            </li>
            <li title="전체">
              <div class="times"></div>
            </li>
            <li title="입찰실행">
              <div class="times"></div>
            </li>
            <li title="입찰성공">
              <div class="times"></div>
            </li>
            <li title="입찰실패">
              <div class="times"></div>
            </li>
            <li title="최대입찰가도달">
              <div class="times"></div>
            </li>
            <li title="희망순위미도달">
              <div class="times"></div>
            </li>
          </ul>
          <ul class="row">
            <li class="col-check">
              <div class="checkbox">
                <input id="check-06" name="select-item" type="checkbox" />
                <label for="check-06"></label>
              </div>
            </li>
            <li title="매체">위메프</li>
            <li title="광고상품">타겟클릭</li>
            <li title="계정선택">
              <div class="accounts">
                <div class="selectbox">
                  <select name="" id="">
                    <option value="">전체</option>
                  </select>
                </div>
                <button class="btn-sub">선택</button>
              </div>
            </li>
            <li title="키워드개수">
              <div class="times"></div>
            </li>
            <li title="비율">
              <div class="percent"></div>
            </li>
            <li title="전체">
              <div class="times">500</div>
            </li>
            <li title="입찰실행">
              <div class="times"></div>
            </li>
            <li title="입찰성공">
              <div class="times"></div>
            </li>
            <li title="입찰실패">
              <div class="times"></div>
            </li>
            <li title="최대입찰가도달">
              <div class="times"></div>
            </li>
            <li title="희망순위미도달">
              <div class="times"></div>
            </li>
          </ul>
          <ul class="row">
            <li class="col-check">
              <div class="checkbox">
                <input id="check-07" name="select-item" type="checkbox" />
                <label for="check-07"></label>
              </div>
            </li>
            <li title="매체">이베이</li>
            <li title="광고상품">파워클릭</li>
            <li title="계정선택">
              <div class="accounts">
                <div class="selectbox">
                  <select name="" id="">
                    <option value="">전체</option>
                  </select>
                </div>
                <button class="btn-sub">선택</button>
              </div>
            </li>
            <li title="키워드개수">
              <div class="times">1322</div>
            </li>
            <li title="비율">
              <div class="percent">88</div>
            </li>
            <li title="전체">
              <div class="times">3,264</div>
            </li>
            <li title="입찰실행">
              <div class="times">1,322</div>
            </li>
            <li title="입찰성공">
              <div class="times">1,034</div>
            </li>
            <li title="입찰실패">
              <div class="times">288</div>
            </li>
            <li title="최대입찰가도달">
              <div class="times">246</div>
            </li>
            <li title="희망순위미도달">
              <div class="times">243</div>
            </li>
          </ul>
          <ul class="row">
            <li class="col-check">
              <div class="checkbox">
                <input id="check-08" name="select-item" type="checkbox" />
                <label for="check-08"></label>
              </div>
            </li>
            <li title="매체">구글</li>
            <li title="광고상품">검색광고</li>
            <li title="계정선택">
              <div class="accounts">
                <div class="selectbox">
                  <select name="" id="">
                    <option value="">전체</option>
                  </select>
                </div>
                <button class="btn-sub">선택</button>
              </div>
            </li>
            <li title="키워드개수">
              <div class="times"></div>
            </li>
            <li title="비율">
              <div class="percent"></div>
            </li>
            <li title="전체">
              <div class="times"></div>
            </li>
            <li title="입찰실행">
              <div class="times"></div>
            </li>
            <li title="입찰성공">
              <div class="times"></div>
            </li>
            <li title="입찰실패">
              <div class="times"></div>
            </li>
            <li title="최대입찰가도달">
              <div class="times"></div>
            </li>
            <li title="희망순위미도달">
              <div class="times"></div>
            </li>
          </ul>
        </div>
      </div>
      <footer class="section-footer">
        <div class="pagination">
          <button onclick="" type="button">
            <div class="arrow double left"></div>
          </button>
          <button onclick="" type="button">
            <div class="arrow left"></div>
          </button>
          <div class="pages">
            <button class="is-active" onclick="" type="button">1</button>
            <button onclick="" type="button">2</button>
            <button onclick="" type="button">3</button>
            <button onclick="" type="button">4</button>
            <button onclick="" type="button">5</button>
          </div>
          <button onclick="" type="button">
            <div class="arrow right"></div>
          </button>
          <button onclick="" type="button">
            <div class="arrow double right"></div>
          </button>
        </div>
      </footer>
    </section>
  </div>
</div>
{% endblock %}