{% extends "base.html" %}
{% block content %}
{% import 'aside.html' as menu %}
{{menu.active("calendar")}}
<script src='https://cdn.jsdelivr.net/npm/@fullcalendar/core@6.1.8/index.global.min.js'></script>
<script src='https://cdn.jsdelivr.net/npm/@fullcalendar/web-component@6.1.8/index.global.min.js'></script>
<script src='https://cdn.jsdelivr.net/npm/@fullcalendar/daygrid@6.1.8/index.global.min.js'></script>
<script src="https://cdn.jsdelivr.net/npm/@fullcalendar/list@6.1.8/index.global.min.js"></script>
<main class="content-calendar">
  <header class="content-header">
    <div class="title">
      <h1>
        다이애드 캘린더
      </h1>
      {% include "account.html" %}
    </div>
    <div class="title">
      <ul class="tabs main-tabs">
        <li data-tab="calendar" class="is-active">
          달력 보기
        </li>
        <li data-tab="calendar">
          목록 보기
        </li>
      </ul>
      <button class="btn-main">
        이벤트 추가
      </button>
    </div>
  </header>
  <div class="tab-content is-active" data-tab="calendar">
    <section>
      <full-calendar id="calendar" />
    </section>
  </div>
  <div class="tab-content" data-tab="calendar">
    <section>
      <list id="list" />
    </section>
  </div>
</main>
<script>
  document.addEventListener("DOMContentLoaded", () => {
    const calendarEl = document.querySelector("full-calendar");
    calendarEl.options = {
      headerToolbar: {
        left: "title",
        center: "",
        right: "dayGridMonth, listMonth"
      },
      events: [
        {
          title: "전체 회의",
          start: "2023-07-14",
          end: "2023-07-14",
          color: "#5048d7"
        },
        {
          title: "키워드 검색광고 관리",
          start: "2023-07-20",
          end: "2023-07-22",
          color: "#5048d7"
        },
        {
          title: "매체별 광고현황 보고서 작성",
          start: "2023-07-18",
          end: "2023-07-21",
          color: "#7682f8"
        },
      ],
      eventColor: "#7682f8",
    }

    var listEl = document.querySelector("list");
    listEl.options = {
      headerToolbar: {
        left: "title",
        center: "",
        right: "dayGridMonth, listMonth"
      },
      events: [
        {
          title: "전체 회의",
          start: "2023-07-14",
          end: "2023-07-14",
        },
        {
          title: "키워드 검색광고 관리",
          start: "2023-07-20",
          end: "2023-07-22",
        },
        {
          title: "매체별 광고현황 보고서 작성",
          start: "2023-07-18",
          end: "2023-07-21",
        },
      ],
      eventColor: "#7682f8"
    }
  })
</script>
{% endblock %}