{% extends "base.html" %} {% block content %}

<div class="content content-error">
  <div class="emoji emoji-sad">
    <div class="emoji-face">
      <div class="emoji-eyebrows"></div>
      <div class="emoji-eyes"></div>
      <div class="emoji-mouth"></div>
    </div>
  </div>
  <h1>서비스 이용이 원활하지 않습니다.</h1>
  <p>
    서비스 이용에 불편을 드려 죄송합니다.<br>
    현재 페이지를 표시할 수 없습니다.<br>
    운영팀에 문의하거나 잠시 후 다시 이용해 주시기 바랍니다.
  </p>
  <ul class="contact-us">
    <li>1644-4527</li>
    <li>diad@gabiacns.com</li>
  </ul>
  <button class="btn-main">홈으로 이동</button>
</div>

{% endblock %}