{% extends "base.html" %} {% block content %} {% import 'aside.html' as menu %} {{menu.active('keyword')}}
<script>
  $(function () {
    var dateFormat = "mm/dd/yy",
      from = $("#from")
        .datepicker()
        .on("change", function () {
          to.datepicker("option", "minDate", getDate(this))
        }),
      to = $("#to")
        .datepicker()
        .on("change", function () {
          from.datepicker("option", "maxDate", getDate(this))
        })

    function getDate(element) {
      var date
      try {
        date = $.datepicker.parseDate(dateFormat, element.value)
      } catch (error) {
        date = null
      }

      return date
    }
  })
</script>

<div class="content content-keyword-trend">
  <header class="main-header">
    <section class="title">
      <h1>
        <span>키워드 트렌드</span>
        <div class="tooltip">
          <article class="tooltip-content">
            <dl>
              <dd>
                상품, 콘텐츠, 연관 키워드 등 클릭 한번으로 흩어진 정보를 모아 키워드의 트렌드를 한눈에 확인할 수
                있습니다.
              </dd>
              <dd>키워드 트렌드의 데이터는 네이버를 기준으로 제공합니다.</dd>
            </dl>
          </article>
        </div>
      </h1>
    </section>
    <section class="section-main">
      <div class="search">
        <input type="search" placeholder=" 조회할 키워드를 입력해주세요." />
        <button class="btn-sub ico-search" type="button" data-modal="searchKeyword"></button>
      </div>
    </section>
  </header>
  <div class="wrapper">
    <section class="section-list">
      <header class="section-header">
        <ul class="tabs">
          <li class="tab" data-tab="keyword-main">
            최근 조회 키워드
          </li>
          <li class="tab" data-tab="keyword-main">
            즐겨찾기
          </li>
        </ul>
      </header>
      <div class="tab-content list" data-tab="keyword-main" data-empty="조회 키워드가 없습니다.">
        <ul class="row title">
          <li class="col-2x">즐겨찾기</li>
          <li>키워드</li>
          <li>월간 검색</li>
          <li>등록 상품</li>
          <li>콘텐츠</li>
          <li>최근 조회일시</li>
          <li class="col-2x">삭제</li>
        </ul>
        <ul class="row">
          <li class="col-2x">
            <div class="ico-star toggle is-active"></div>
          </li>
          <li>
            <div class="keyword" onclick="location.href='keyword_details.html'">커피원두</div>
          </li>
          <li>27,420</li>
          <li>888,376</li>
          <li>10,000</li>
          <li>2022-03-01 00:00</li>
          <li class="col-2x">
            <button class="btn-grayscale ico-delete"></button>
          </li>
        </ul>
        <ul class="row">
          <li class="col-2x">
            <div class="ico-star toggle"></div>
          </li>
          <li>
            <div class="keyword">나이키</div>
          </li>
          <li>3,015,300</li>
          <li>4,718,162</li>
          <li>99,999</li>
          <li>2022-02-28 16:30</li>
          <li class="col-2x">
            <button class="btn-grayscale ico-delete"></button>
          </li>
        </ul>
        <ul class="row">
          <li class="col-2x">
            <div class="ico-star toggle is-active"></div>
          </li>
          <li>
            <div class="keyword">원두커피</div>
          </li>
          <li>27,100</li>
          <li>787,265</li>
          <li>99,999</li>
          <li>2022-02-28 09:12</li>
          <li class="col-2x">
            <button class="btn-grayscale ico-delete"></button>
          </li>
        </ul>
        <ul class="row">
          <li class="col-2x">
            <div class="ico-star toggle is-active"></div>
          </li>
          <li>
            <div class="keyword">커피머신</div>
          </li>
          <li>217,600</li>
          <li>1,112,202</li>
          <li>99,999</li>
          <li>2022-02-26 23:00</li>
          <li class="col-2x">
            <button class="btn-grayscale ico-delete"></button>
          </li>
        </ul>
        <ul class="row">
          <li class="col-2x">
            <div class="ico-star toggle"></div>
          </li>
          <li>
            <div class="keyword">원두</div>
          </li>
          <li>37,570</li>
          <li>51,259</li>
          <li>99,999</li>
          <li>2022-02-26 15:00</li>
          <li class="col-2x">
            <button class="btn-grayscale ico-delete"></button>
          </li>
        </ul>
        <ul class="row">
          <li class="col-2x">
            <div class="ico-star toggle is-active"></div>
          </li>
          <li>
            <div class="keyword">커피원두</div>
          </li>
          <li>27,420</li>
          <li>888,376</li>
          <li>10,000</li>
          <li>2022-03-01 00:00</li>
          <li class="col-2x">
            <button class="btn-grayscale ico-delete"></button>
          </li>
        </ul>
        <ul class="row">
          <li class="col-2x">
            <div class="ico-star toggle"></div>
          </li>
          <li>
            <div class="keyword">나이키</div>
          </li>
          <li>3,015,300</li>
          <li>4,718,162</li>
          <li>99,999</li>
          <li>2022-02-28 16:30</li>
          <li class="col-2x">
            <button class="btn-grayscale ico-delete"></button>
          </li>
        </ul>
        <ul class="row">
          <li class="col-2x">
            <div class="ico-star toggle is-active"></div>
          </li>
          <li>
            <div class="keyword">원두커피</div>
          </li>
          <li>27,100</li>
          <li>787,265</li>
          <li>99,999</li>
          <li>2022-02-28 09:12</li>
          <li class="col-2x">
            <button class="btn-grayscale ico-delete"></button>
          </li>
        </ul>
        <ul class="row">
          <li class="col-2x">
            <div class="ico-star toggle is-active"></div>
          </li>
          <li>
            <div class="keyword">커피머신</div>
          </li>
          <li>217,600</li>
          <li>1,112,202</li>
          <li>99,999</li>
          <li>2022-02-26 23:00</li>
          <li class="col-2x">
            <button class="btn-grayscale ico-delete"></button>
          </li>
        </ul>
        <ul class="row">
          <li class="col-2x">
            <div class="ico-star toggle"></div>
          </li>
          <li>
            <div class="keyword">원두</div>
          </li>
          <li>37,570</li>
          <li>51,259</li>
          <li>99,999</li>
          <li>2022-02-26 15:00</li>
          <li class="col-2x">
            <button class="btn-grayscale ico-delete"></button>
          </li>
        </ul>
        <ul class="row">
          <li class="col-2x">
            <div class="ico-star toggle is-active"></div>
          </li>
          <li>
            <div class="keyword">커피원두</div>
          </li>
          <li>27,420</li>
          <li>888,376</li>
          <li>10,000</li>
          <li>2022-03-01 00:00</li>
          <li class="col-2x">
            <button class="btn-grayscale ico-delete"></button>
          </li>
        </ul>
        <ul class="row">
          <li class="col-2x">
            <div class="ico-star toggle"></div>
          </li>
          <li>
            <div class="keyword">나이키</div>
          </li>
          <li>3,015,300</li>
          <li>4,718,162</li>
          <li>99,999</li>
          <li>2022-02-28 16:30</li>
          <li class="col-2x">
            <button class="btn-grayscale ico-delete"></button>
          </li>
        </ul>
      </div>
      <div class="tab-content list" data-tab="keyword-main" data-empty="즐겨찾기 키워드가 없습니다.">
        <ul class="row title">
          <li class="col-2x">즐겨찾기</li>
          <li>키워드</li>
          <li>월간 검색</li>
          <li>등록 상품</li>
          <li>콘텐츠</li>
          <li>최근 조회일시</li>
          <li class="col-2x">삭제</li>
        </ul>
        <ul class="row">
          <li class="col-2x">
            <div class="ico-star toggle is-active"></div>
          </li>
          <li>
            <div class="keyword">커피원두</div>
          </li>
          <li>27,420</li>
          <li>888,376</li>
          <li>10,000</li>
          <li>2022-03-01 00:00</li>
          <li class="col-2x">
            <button class="btn-grayscale ico-delete"></button>
          </li>
        </ul>
        <ul class="row">
          <li class="col-2x">
            <div class="ico-star toggle is-active"></div>
          </li>
          <li>
            <div class="keyword">나이키</div>
          </li>
          <li>3,015,300</li>
          <li>4,718,162</li>
          <li>99,999</li>
          <li>2022-02-28 16:30</li>
          <li class="col-2x">
            <button class="btn-grayscale ico-delete"></button>
          </li>
        </ul>
        <ul class="row">
          <li class="col-2x">
            <div class="ico-star toggle is-active"></div>
          </li>
          <li>
            <div class="keyword">원두커피</div>
          </li>
          <li>27,100</li>
          <li>787,265</li>
          <li>99,999</li>
          <li>2022-02-28 09:12</li>
          <li class="col-2x">
            <button class="btn-grayscale ico-delete"></button>
          </li>
        </ul>
        <ul class="row">
          <li class="col-2x">
            <div class="ico-star toggle is-active"></div>
          </li>
          <li>
            <div class="keyword">커피머신</div>
          </li>
          <li>217,600</li>
          <li>1,112,202</li>
          <li>99,999</li>
          <li>2022-02-26 23:00</li>
          <li class="col-2x">
            <button class="btn-grayscale ico-delete"></button>
          </li>
        </ul>
        <ul class="row">
          <li class="col-2x">
            <div class="ico-star toggle is-active"></div>
          </li>
          <li>
            <div class="keyword">원두</div>
          </li>
          <li>37,570</li>
          <li>51,259</li>
          <li>99,999</li>
          <li>2022-02-26 15:00</li>
          <li class="col-2x">
            <button class="btn-grayscale ico-delete"></button>
          </li>
        </ul>
        <ul class="row">
          <li class="col-2x">
            <div class="ico-star toggle is-active"></div>
          </li>
          <li>
            <div class="keyword">커피원두</div>
          </li>
          <li>27,420</li>
          <li>888,376</li>
          <li>10,000</li>
          <li>2022-03-01 00:00</li>
          <li class="col-2x">
            <button class="btn-grayscale ico-delete"></button>
          </li>
        </ul>
        <ul class="row">
          <li class="col-2x">
            <div class="ico-star toggle is-active"></div>
          </li>
          <li>
            <div class="keyword">나이키</div>
          </li>
          <li>3,015,300</li>
          <li>4,718,162</li>
          <li>99,999</li>
          <li>2022-02-28 16:30</li>
          <li class="col-2x">
            <button class="btn-grayscale ico-delete"></button>
          </li>
        </ul>
        <ul class="row">
          <li class="col-2x">
            <div class="ico-star toggle is-active"></div>
          </li>
          <li>
            <div class="keyword">원두커피</div>
          </li>
          <li>27,100</li>
          <li>787,265</li>
          <li>99,999</li>
          <li>2022-02-28 09:12</li>
          <li class="col-2x">
            <button class="btn-grayscale ico-delete"></button>
          </li>
        </ul>
      </div>
    </section>
  </div>
</div>
{% endblock %}