{% extends "base.html" %} {% block content %} {% import 'aside.html' as menu %} {{menu.active('lowestPrice')}}
<style>
  .chart canvas {
    width: auto !important;
    max-height: none;
  }
</style>
<script>
  $(function () {
    var dateFormat = "yy-mm-dd",
      from = $("#lowestPriceChartFrom, #dailyLowestPriceChartFrom")
        .datepicker()
        .on("change", function () {
          to.datepicker("option", "minDate", getDate(this));
        }),
      to = $("#lowestPriceChartTo, #dailyLowestPriceChartTo")
        .datepicker()
        .on("change", function () {
          from.datepicker("option", "maxDate", getDate(this));
        });

    function getDate(element) {
      var date;
      try {
        date = $.datepicker.parseDate(dateFormat, element.value);
      } catch (error) {
        date = null;
      }

      return date;
    }
  });
</script>
<script>
  am5.ready(function () {
    var root = am5.Root.new("priceChart");
    root.setThemes([am5themes_Animated.new(root)]);

    var chart = root.container.children.push(am5xy.XYChart.new(root, {}));

    var cursor = chart.set(
      "cursor",
      am5xy.XYCursor.new(root, {
        behavior: "none",
      })
    );
    cursor.lineY.set("visible", false);

    // Generate random data
    var date = new Date();
    date.setHours(0, 0, 0, 0);
    var value = 9900;
    var previousValue = value;
    var downColor = root.interfaceColors.get("negative");
    var upColor = root.interfaceColors.get("positive");
    var color;
    var previousColor;
    var previousDataObj;

    function generateData() {
      value = Math.round(Math.random() * 10 - 5 + value);
      am5.time.add(date, "day", 1);

      if (value >= previousValue) {
        color = upColor;
      } else {
        color = downColor;
      }
      previousValue = value;

      var dataObj = { date: date.getTime(), value: value, color: color }; // color will be used for tooltip background

      // only if changed
      if (color != previousColor) {
        if (!previousDataObj) {
          previousDataObj = dataObj;
        }
        previousDataObj.strokeSettings = { stroke: color };
      }

      previousDataObj = dataObj;
      previousColor = color;

      return dataObj;
    }

    function generateDatas(count) {
      var data = [];
      for (var i = 0; i < count; ++i) {
        data.push(generateData());
      }
      return data;
    }

    // Create axes
    // https://www.amcharts.com/docs/v5/charts/xy-chart/axes/
    var xAxis = chart.xAxes.push(
      am5xy.DateAxis.new(root, {
        baseInterval: { timeUnit: "day", count: 1 },
        renderer: am5xy.AxisRendererX.new(root, {}),
        tooltip: am5.Tooltip.new(root, {}),
      })
    );
    xAxis.get("dateFormats")["day"] = "yyyy MM.dd";

    var yAxis = chart.yAxes.push(
      am5xy.ValueAxis.new(root, {
        renderer: am5xy.AxisRendererY.new(root, {}),
      })
    );

    // Add series
    // https://www.amcharts.com/docs/v5/charts/xy-chart/series/
    var series = chart.series.push(
      am5xy.LineSeries.new(root, {
        name: "Series",
        xAxis: xAxis,
        yAxis: yAxis,
        valueYField: "value",
        valueXField: "date",
      })
    );

    series.strokes.template.set("templateField", "strokeSettings");

    var tooltip = series.set(
      "tooltip",
      am5.Tooltip.new(root, {
        labelText: "{valueY}",
      })
    );

    // this is added in ored adapter to be triggered each time position changes
    tooltip.on("pointTo", function () {
      var background = tooltip.get("background");
      background.set("fill", background.get("fill"));
    });

    // tooltip bacground takes color from data item
    tooltip.get("background").adapters.add("fill", function (fill) {
      if (tooltip.dataItem) {
        return tooltip.dataItem.dataContext.color;
      }
      return fill;
    });

    // Create axis ranges
    function createRange(value, endValue, color) {
      var rangeDataItem = yAxis.makeDataItem({
        value: value,
        endValue: endValue,
      });

      var range = yAxis.createAxisRange(rangeDataItem);

      if (endValue) {
        rangeDataItem.get("axisFill").setAll({
          fill: color,
          fillOpacity: 0.2,
          visible: true,
        });

        rangeDataItem.get("label").setAll({
          fill: am5.color(0xffffff),
          text: value + "-" + endValue,
          location: 1,
          background: am5.RoundedRectangle.new(root, {
            fill: color,
          }),
        });
      } else {
        rangeDataItem.get("label").setAll({
          fill: am5.color(0xffffff),
          text: value,
          background: am5.RoundedRectangle.new(root, {
            fill: color,
          }),
        });
      }

      rangeDataItem.get("grid").setAll({
        stroke: color,
        strokeOpacity: 1,
        location: 1,
      });
    }

    createRange(9900, undefined, am5.color(0x7682f8));

    var data = generateDatas(100);
    series.data.setAll(data);

    series.appear(1000);
    chart.appear(1000, 100);
  }); // end am5.ready()
</script>
<script>
  am5.ready(function () {
    var root = am5.Root.new("priceChart2");
    root.setThemes([am5themes_Animated.new(root)]);

    var chart = root.container.children.push(am5xy.XYChart.new(root, {}));

    var cursor = chart.set(
      "cursor",
      am5xy.XYCursor.new(root, {
        behavior: "none",
      })
    );
    cursor.lineY.set("visible", false);

    // Generate random data
    var date = new Date();
    date.setHours(0, 0, 0, 0);
    var value = 9900;
    var previousValue = value;
    var downColor = root.interfaceColors.get("negative");
    var upColor = root.interfaceColors.get("positive");
    var color;
    var previousColor;
    var previousDataObj;

    function generateData() {
      value = Math.round(Math.random() * 10 - 5 + value);
      am5.time.add(date, "day", 1);

      if (value >= previousValue) {
        color = upColor;
      } else {
        color = downColor;
      }
      previousValue = value;

      var dataObj = { date: date.getTime(), value: value, color: color }; // color will be used for tooltip background

      // only if changed
      if (color != previousColor) {
        if (!previousDataObj) {
          previousDataObj = dataObj;
        }
        previousDataObj.strokeSettings = { stroke: color };
      }

      previousDataObj = dataObj;
      previousColor = color;

      return dataObj;
    }

    function generateDatas(count) {
      var data = [];
      for (var i = 0; i < count; ++i) {
        data.push(generateData());
      }
      return data;
    }

    // Create axes
    // https://www.amcharts.com/docs/v5/charts/xy-chart/axes/
    var xAxis = chart.xAxes.push(
      am5xy.DateAxis.new(root, {
        baseInterval: { timeUnit: "day", count: 1 },
        renderer: am5xy.AxisRendererX.new(root, {}),
        tooltip: am5.Tooltip.new(root, {}),
      })
    );
    xAxis.get("dateFormats")["day"] = "yyyy MM.dd";

    var yAxis = chart.yAxes.push(
      am5xy.ValueAxis.new(root, {
        renderer: am5xy.AxisRendererY.new(root, {}),
      })
    );

    // Add series
    // https://www.amcharts.com/docs/v5/charts/xy-chart/series/
    var series = chart.series.push(
      am5xy.LineSeries.new(root, {
        name: "Series",
        xAxis: xAxis,
        yAxis: yAxis,
        valueYField: "value",
        valueXField: "date",
      })
    );

    series.strokes.template.set("templateField", "strokeSettings");

    var tooltip = series.set(
      "tooltip",
      am5.Tooltip.new(root, {
        labelText: "{valueY}",
      })
    );

    // this is added in ored adapter to be triggered each time position changes
    tooltip.on("pointTo", function () {
      var background = tooltip.get("background");
      background.set("fill", background.get("fill"));
    });

    // tooltip bacground takes color from data item
    tooltip.get("background").adapters.add("fill", function (fill) {
      if (tooltip.dataItem) {
        return tooltip.dataItem.dataContext.color;
      }
      return fill;
    });

    // Create axis ranges
    function createRange(value, endValue, color) {
      var rangeDataItem = yAxis.makeDataItem({
        value: value,
        endValue: endValue,
      });

      var range = yAxis.createAxisRange(rangeDataItem);

      if (endValue) {
        rangeDataItem.get("axisFill").setAll({
          fill: color,
          fillOpacity: 0.2,
          visible: true,
        });

        rangeDataItem.get("label").setAll({
          fill: am5.color(0xffffff),
          text: value + "-" + endValue,
          location: 1,
          background: am5.RoundedRectangle.new(root, {
            fill: color,
          }),
        });
      } else {
        rangeDataItem.get("label").setAll({
          fill: am5.color(0xffffff),
          text: value,
          background: am5.RoundedRectangle.new(root, {
            fill: color,
          }),
        });
      }

      rangeDataItem.get("grid").setAll({
        stroke: color,
        strokeOpacity: 1,
        location: 1,
      });
    }

    createRange(9900, undefined, am5.color(0x7682f8));

    var data = generateDatas(100);
    series.data.setAll(data);

    series.appear(1000);
    chart.appear(1000, 100);
  }); // end am5.ready()
</script>
<script>
  am5.ready(function () {
    var root = am5.Root.new("priceChart3");
    root.setThemes([am5themes_Animated.new(root)]);

    var chart = root.container.children.push(am5xy.XYChart.new(root, {}));

    var cursor = chart.set(
      "cursor",
      am5xy.XYCursor.new(root, {
        behavior: "none",
      })
    );
    cursor.lineY.set("visible", false);

    // Generate random data
    var date = new Date();
    date.setHours(0, 0, 0, 0);
    var value = 9900;
    var previousValue = value;
    var downColor = root.interfaceColors.get("negative");
    var upColor = root.interfaceColors.get("positive");
    var color;
    var previousColor;
    var previousDataObj;

    function generateData() {
      value = Math.round(Math.random() * 10 - 5 + value);
      am5.time.add(date, "day", 1);

      if (value >= previousValue) {
        color = upColor;
      } else {
        color = downColor;
      }
      previousValue = value;

      var dataObj = { date: date.getTime(), value: value, color: color }; // color will be used for tooltip background

      // only if changed
      if (color != previousColor) {
        if (!previousDataObj) {
          previousDataObj = dataObj;
        }
        previousDataObj.strokeSettings = { stroke: color };
      }

      previousDataObj = dataObj;
      previousColor = color;

      return dataObj;
    }

    function generateDatas(count) {
      var data = [];
      for (var i = 0; i < count; ++i) {
        data.push(generateData());
      }
      return data;
    }

    // Create axes
    // https://www.amcharts.com/docs/v5/charts/xy-chart/axes/
    var xAxis = chart.xAxes.push(
      am5xy.DateAxis.new(root, {
        baseInterval: { timeUnit: "day", count: 1 },
        renderer: am5xy.AxisRendererX.new(root, {}),
        tooltip: am5.Tooltip.new(root, {}),
      })
    );
    xAxis.get("dateFormats")["day"] = "yyyy MM.dd";

    var yAxis = chart.yAxes.push(
      am5xy.ValueAxis.new(root, {
        renderer: am5xy.AxisRendererY.new(root, {}),
      })
    );

    // Add series
    // https://www.amcharts.com/docs/v5/charts/xy-chart/series/
    var series = chart.series.push(
      am5xy.LineSeries.new(root, {
        name: "Series",
        xAxis: xAxis,
        yAxis: yAxis,
        valueYField: "value",
        valueXField: "date",
      })
    );

    series.strokes.template.set("templateField", "strokeSettings");

    var tooltip = series.set(
      "tooltip",
      am5.Tooltip.new(root, {
        labelText: "{valueY}",
      })
    );

    // this is added in ored adapter to be triggered each time position changes
    tooltip.on("pointTo", function () {
      var background = tooltip.get("background");
      background.set("fill", background.get("fill"));
    });

    // tooltip bacground takes color from data item
    tooltip.get("background").adapters.add("fill", function (fill) {
      if (tooltip.dataItem) {
        return tooltip.dataItem.dataContext.color;
      }
      return fill;
    });

    // Create axis ranges
    function createRange(value, endValue, color) {
      var rangeDataItem = yAxis.makeDataItem({
        value: value,
        endValue: endValue,
      });

      var range = yAxis.createAxisRange(rangeDataItem);

      if (endValue) {
        rangeDataItem.get("axisFill").setAll({
          fill: color,
          fillOpacity: 0.2,
          visible: true,
        });

        rangeDataItem.get("label").setAll({
          fill: am5.color(0xffffff),
          text: value + "-" + endValue,
          location: 1,
          background: am5.RoundedRectangle.new(root, {
            fill: color,
          }),
        });
      } else {
        rangeDataItem.get("label").setAll({
          fill: am5.color(0xffffff),
          text: value,
          background: am5.RoundedRectangle.new(root, {
            fill: color,
          }),
        });
      }

      rangeDataItem.get("grid").setAll({
        stroke: color,
        strokeOpacity: 1,
        location: 1,
      });
    }

    createRange(9900, undefined, am5.color(0x7682f8));

    var data = generateDatas(100);
    series.data.setAll(data);

    series.appear(1000);
    chart.appear(1000, 100);
  }); // end am5.ready()
</script>
<script>
  am5.ready(function () {
    var root = am5.Root.new("priceChart4");
    root.setThemes([am5themes_Animated.new(root)]);

    var chart = root.container.children.push(am5xy.XYChart.new(root, {}));

    var cursor = chart.set(
      "cursor",
      am5xy.XYCursor.new(root, {
        behavior: "none",
      })
    );
    cursor.lineY.set("visible", false);

    // Generate random data
    var date = new Date();
    date.setHours(0, 0, 0, 0);
    var value = 9900;
    var previousValue = value;
    var downColor = root.interfaceColors.get("negative");
    var upColor = root.interfaceColors.get("positive");
    var color;
    var previousColor;
    var previousDataObj;

    function generateData() {
      value = Math.round(Math.random() * 10 - 5 + value);
      am5.time.add(date, "day", 1);

      if (value >= previousValue) {
        color = upColor;
      } else {
        color = downColor;
      }
      previousValue = value;

      var dataObj = { date: date.getTime(), value: value, color: color }; // color will be used for tooltip background

      // only if changed
      if (color != previousColor) {
        if (!previousDataObj) {
          previousDataObj = dataObj;
        }
        previousDataObj.strokeSettings = { stroke: color };
      }

      previousDataObj = dataObj;
      previousColor = color;

      return dataObj;
    }

    function generateDatas(count) {
      var data = [];
      for (var i = 0; i < count; ++i) {
        data.push(generateData());
      }
      return data;
    }

    // Create axes
    // https://www.amcharts.com/docs/v5/charts/xy-chart/axes/
    var xAxis = chart.xAxes.push(
      am5xy.DateAxis.new(root, {
        baseInterval: { timeUnit: "day", count: 1 },
        renderer: am5xy.AxisRendererX.new(root, {}),
        tooltip: am5.Tooltip.new(root, {}),
      })
    );
    xAxis.get("dateFormats")["day"] = "yyyy MM.dd";

    var yAxis = chart.yAxes.push(
      am5xy.ValueAxis.new(root, {
        renderer: am5xy.AxisRendererY.new(root, {}),
      })
    );

    // Add series
    // https://www.amcharts.com/docs/v5/charts/xy-chart/series/
    var series = chart.series.push(
      am5xy.LineSeries.new(root, {
        name: "Series",
        xAxis: xAxis,
        yAxis: yAxis,
        valueYField: "value",
        valueXField: "date",
      })
    );

    series.strokes.template.set("templateField", "strokeSettings");

    var tooltip = series.set(
      "tooltip",
      am5.Tooltip.new(root, {
        labelText: "{valueY}",
      })
    );

    // this is added in ored adapter to be triggered each time position changes
    tooltip.on("pointTo", function () {
      var background = tooltip.get("background");
      background.set("fill", background.get("fill"));
    });

    // tooltip bacground takes color from data item
    tooltip.get("background").adapters.add("fill", function (fill) {
      if (tooltip.dataItem) {
        return tooltip.dataItem.dataContext.color;
      }
      return fill;
    });

    // Create axis ranges
    function createRange(value, endValue, color) {
      var rangeDataItem = yAxis.makeDataItem({
        value: value,
        endValue: endValue,
      });

      var range = yAxis.createAxisRange(rangeDataItem);

      if (endValue) {
        rangeDataItem.get("axisFill").setAll({
          fill: color,
          fillOpacity: 0.2,
          visible: true,
        });

        rangeDataItem.get("label").setAll({
          fill: am5.color(0xffffff),
          text: value + "-" + endValue,
          location: 1,
          background: am5.RoundedRectangle.new(root, {
            fill: color,
          }),
        });
      } else {
        rangeDataItem.get("label").setAll({
          fill: am5.color(0xffffff),
          text: value,
          background: am5.RoundedRectangle.new(root, {
            fill: color,
          }),
        });
      }

      rangeDataItem.get("grid").setAll({
        stroke: color,
        strokeOpacity: 1,
        location: 1,
      });
    }

    createRange(9900, undefined, am5.color(0x7682f8));

    var data = generateDatas(100);
    series.data.setAll(data);

    series.appear(1000);
    chart.appear(1000, 100);
  }); // end am5.ready()
</script>
<script>
  am5.ready(function () {
    var root = am5.Root.new("priceChart5");
    root.setThemes([am5themes_Animated.new(root)]);

    var chart = root.container.children.push(am5xy.XYChart.new(root, {}));

    var cursor = chart.set(
      "cursor",
      am5xy.XYCursor.new(root, {
        behavior: "none",
      })
    );
    cursor.lineY.set("visible", false);

    // Generate random data
    var date = new Date();
    date.setHours(0, 0, 0, 0);
    var value = 9900;
    var previousValue = value;
    var downColor = root.interfaceColors.get("negative");
    var upColor = root.interfaceColors.get("positive");
    var color;
    var previousColor;
    var previousDataObj;

    function generateData() {
      value = Math.round(Math.random() * 10 - 5 + value);
      am5.time.add(date, "day", 1);

      if (value >= previousValue) {
        color = upColor;
      } else {
        color = downColor;
      }
      previousValue = value;

      var dataObj = { date: date.getTime(), value: value, color: color }; // color will be used for tooltip background

      // only if changed
      if (color != previousColor) {
        if (!previousDataObj) {
          previousDataObj = dataObj;
        }
        previousDataObj.strokeSettings = { stroke: color };
      }

      previousDataObj = dataObj;
      previousColor = color;

      return dataObj;
    }

    function generateDatas(count) {
      var data = [];
      for (var i = 0; i < count; ++i) {
        data.push(generateData());
      }
      return data;
    }

    // Create axes
    // https://www.amcharts.com/docs/v5/charts/xy-chart/axes/
    var xAxis = chart.xAxes.push(
      am5xy.DateAxis.new(root, {
        baseInterval: { timeUnit: "day", count: 1 },
        renderer: am5xy.AxisRendererX.new(root, {}),
        tooltip: am5.Tooltip.new(root, {}),
      })
    );
    xAxis.get("dateFormats")["day"] = "yyyy MM.dd";

    var yAxis = chart.yAxes.push(
      am5xy.ValueAxis.new(root, {
        renderer: am5xy.AxisRendererY.new(root, {}),
      })
    );

    // Add series
    // https://www.amcharts.com/docs/v5/charts/xy-chart/series/
    var series = chart.series.push(
      am5xy.LineSeries.new(root, {
        name: "Series",
        xAxis: xAxis,
        yAxis: yAxis,
        valueYField: "value",
        valueXField: "date",
      })
    );

    series.strokes.template.set("templateField", "strokeSettings");

    var tooltip = series.set(
      "tooltip",
      am5.Tooltip.new(root, {
        labelText: "{valueY}",
      })
    );

    // this is added in ored adapter to be triggered each time position changes
    tooltip.on("pointTo", function () {
      var background = tooltip.get("background");
      background.set("fill", background.get("fill"));
    });

    // tooltip bacground takes color from data item
    tooltip.get("background").adapters.add("fill", function (fill) {
      if (tooltip.dataItem) {
        return tooltip.dataItem.dataContext.color;
      }
      return fill;
    });

    // Create axis ranges
    function createRange(value, endValue, color) {
      var rangeDataItem = yAxis.makeDataItem({
        value: value,
        endValue: endValue,
      });

      var range = yAxis.createAxisRange(rangeDataItem);

      if (endValue) {
        rangeDataItem.get("axisFill").setAll({
          fill: color,
          fillOpacity: 0.2,
          visible: true,
        });

        rangeDataItem.get("label").setAll({
          fill: am5.color(0xffffff),
          text: value + "-" + endValue,
          location: 1,
          background: am5.RoundedRectangle.new(root, {
            fill: color,
          }),
        });
      } else {
        rangeDataItem.get("label").setAll({
          fill: am5.color(0xffffff),
          text: value,
          background: am5.RoundedRectangle.new(root, {
            fill: color,
          }),
        });
      }

      rangeDataItem.get("grid").setAll({
        stroke: color,
        strokeOpacity: 1,
        location: 1,
      });
    }

    createRange(9900, undefined, am5.color(0x7682f8));

    var data = generateDatas(100);
    series.data.setAll(data);

    series.appear(1000);
    chart.appear(1000, 100);
  }); // end am5.ready()
</script>
<main class="content-lowest-price-details">
  <header class="content-header">
    <div class="title">
      <h1>
        <span>상품 최저가 리포트</span>
      </h1>
    </div>
  </header>
  <div class="wrapper">
    <aside>
      <section class="section-main">
        <div class="information">
          <div class="categories">
            <span>식품</span>
            <span>음료</span>
            <span>커피</span>
            <span>원두/생두</span>
          </div>
          <div class="image">
            <img src="https://shopping-phinf.pstatic.net/main_1212654/12126547821.9.jpg?type=f160" alt="" />
          </div>
          <div class="name">
            1kg 커피창고 에티오피아 예가체프 케냐AA 콜롬비아 수프리모 과테말라 안티구아 브라질 세하도...
          </div>
        </div>
        <ul>
          <li>
            <div>MID</div>
            <div>12126547821</div>
          </li>
          <li>
            <div>판매가</div>
            <div class="price">9,900</div>
          </li>
          <li>
            <div>브랜드</div>
            <div>커피창고</div>
          </li>
          <li>
            <div>제조사</div>
            <div>주식회사 커피창고</div>
          </li>
        </ul>
        <a href="https://search.shopping.naver.com/gate.nhn?id=12126547821" target="_blank">
          <button> 가격비교 상품페이지로 이동 </button>
        </a>
      </section>
    </aside>
    <div class="sections">
      <section id="sectionChart" class="section-chart">
        <header>
          <div class="title">
            <h2>
              <span>최저가 차트</span>
              <div class="tooltip">
                <div data-tooltip="lowestPriceChart"></div>
              </div>
            </h2>
            <div class="buttons">
              <button class="ico-download" type="button">엑셀다운</button>
            </div>
          </div>
          <div class="filters">
            <div>
              <div class="selector">
                <input type="radio" id="select-1day" name="keyword-chart" checked />
                <label for="select-1day">1일</label>
                <input type="radio" id="select-1week" name="keyword-chart" />
                <label for="select-1week">1주</label>
                <input type="radio" id="select-1month" name="keyword-chart" />
                <label for="select-1month">1개월</label>
                <input type="radio" id="select-6months" name="keyword-chart" />
                <label for="select-6months">6개월</label>
                <input type="radio" id="select-1year" name="keyword-chart" />
                <label for="select-1year">1년</label>
              </div>
              <div class="calendar">
                <input type="text" id="lowestPriceChartFrom" name="" autocomplete="off" />
                <span>~</span>
                <input type="text" id="lowestPriceChartTo" name="" autocomplete="off" />
              </div>
              <button class="btn-main ico-search" type="button"></button>
            </div>
          </div>
        </header>
        <div class="chart-container" data-empty="데이터 갱신 전입니다.">
          <div id="priceChart" class="chart"></div>
        </div>
      </section>
      <section>
        <header>
          <div class="title">
            <h2>
              <span>일별 최저가</span>
              <div class="tooltip">
                <div data-tooltip="dailyLowestPrice"></div>
              </div>
            </h2>
            <div class="buttons">
              <button class="ico-download" type="button">엑셀다운</button>
            </div>
          </div>
          <div class="filters">
            <div>
              <div class="selector">
                <input type="radio" id="daily-select-1week" name="daily-lowest-price-chart" checked />
                <label for="daily-select-1week">1주</label>
                <input type="radio" id="daily-select-1month" name="daily-lowest-price-chart" />
                <label for="daily-select-1month">1개월</label>
                <input type="radio" id="daily-select-6months" name="daily-lowest-price-chart" />
                <label for="daily-select-6months">6개월</label>
                <input type="radio" id="daily-select-1year" name="daily-lowest-price-chart" />
                <label for="daily-select-1year">1년</label>
              </div>
              <div class="calendar">
                <input type="text" id="dailyLowestPriceChartFrom" name="" autocomplete="off" />
                <span>~</span>
                <input type="text" id="dailyLowestPriceChartTo" name="" autocomplete="off" />
              </div>
              <button class="btn-main ico-search" type="button"></button>
            </div>
          </div>
        </header>
        <div class="list list-daily-lowest-price">
          <ul class="row title">
            <li class="ico-sort">날짜</li>
            <li class="col-chart ico-sort">차트</li>
            <li class="ico-sort">평균</li>
            <li class="ico-sort">전일대비</li>
            <li class="ico-sort">등락율</li>
            <li class="ico-sort">고가</li>
            <li class="ico-sort">저가</li>
          </ul>
          <ul class="row failed">
            <li>2022-03-01</li>
            <li class="col-chart">
              <a href="#sectionChart">
                <div id="priceChart2" class="chart"></div>
              </a>
            </li>
            <li title="평균">
              <div class="price"></div>
            </li>
            <li title="전일대비">
              <div class="tag"></div>
            </li>
            <li title="등락율">
              <div class="percent"></div>
            </li>
            <li title="고가">
              <div class="price"></div>
            </li>
            <li title="저가">
              <div class="price"></div>
            </li>
          </ul>
          <ul class="row">
            <li>2022-02-28</li>
            <li class="col-chart">
              <a href="#sectionChart">
                <div id="priceChart3" class="chart"></div>
              </a>
            </li>
            <li title="평균">
              <div class="price">9,800</div>
            </li>
            <li title="전일대비">
              <div class="tag type-bg down">90</div>
            </li>
            <li title="등락율">
              <div class="percent down">0.91</div>
            </li>
            <li title="고가">
              <div class="price">9,920</div>
            </li>
            <li title="저가">
              <div class="price">9,880</div>
            </li>
          </ul>
          <ul class="row">
            <li>2022-02-27</li>
            <li class="col-chart">
              <a href="#sectionChart">
                <div id="priceChart4" class="chart"></div>
              </a>
            </li>
            <li title="평균">
              <div class="price">9,890</div>
            </li>
            <li title="전일대비">
              <div class="tag type-bg same"></div>
            </li>
            <li title="등락율">
              <div class="percent up">0.00</div>
            </li>
            <li title="고가">
              <div class="price">9,920</div>
            </li>
            <li title="저가">
              <div class="price">9,880</div>
            </li>
          </ul>
          <ul class="row">
            <li>2022-02-26</li>
            <li class="col-chart">
              <a href="#sectionChart">
                <div id="priceChart5" class="chart"></div>
              </a>
            </li>
            <li title="평균">
              <div class="price">9,890</div>
            </li>
            <li title="전일대비">
              <div class="tag type-bg down">100</div>
            </li>
            <li title="등락율">
              <div class="percent down">1.00</div>
            </li>
            <li title="고가">
              <div class="price">9,880</div>
            </li>
            <li title="저가">
              <div class="price">9,920</div>
            </li>
          </ul>
        </div>
      </section>
    </div>
  </div>
</main>
{% endblock %}