{% extends "base_chart.html" %} {% block content %}
<style>
  .chart {
    width: 100%;
    height: 250px;
    max-width: 100%;
  }
</style>
<script>
  $(function () {
    var dateFormat = "mm/dd/yy",
      from = $("#from")
        .datepicker({
          defaultDate: "+1w",
          changeMonth: true,
          numberOfMonths: 3,
        })
        .on("change", function () {
          to.datepicker("option", "minDate", getDate(this));
        }),
      to = $("#to")
        .datepicker({
          defaultDate: "+1w",
          changeMonth: true,
          numberOfMonths: 3,
        })
        .on("change", function () {
          from.datepicker("option", "maxDate", getDate(this));
        });

    function getDate(element) {
      var date;
      try {
        date = $.datepicker.parseDate(dateFormat, element.value);
      } catch (error) {
        date = null;
      }

      return date;
    }
  });
</script>
<script>
  am5.ready(function () {
    var root = am5.Root.new("keywordChart");
    root.setThemes([am5themes_Animated.new(root)]);

    var chart = root.container.children.push(am5xy.XYChart.new(root, {}));

    // Generate random data
    var date = new Date();
    date.setHours(0, 0, 0, 0);
    var value = 100;

    function generateData() {
      value = Math.round(Math.random() * 10 - 5 + value);
      am5.time.add(date, "day", 1);
      return {
        date: date.getTime(),
        value: value,
      };
    }

    function generateDatas(count) {
      var data = [];
      for (var i = 0; i < count; ++i) {
        data.push(generateData());
      }
      return data;
    }

    var xAxis = chart.xAxes.push(
      am5xy.DateAxis.new(root, {
        maxDeviation: 0.2,
        baseInterval: {
          timeUnit: "day",
          count: 1,
        },
        renderer: am5xy.AxisRendererX.new(root, {}),
        tooltip: am5.Tooltip.new(root, {}),
      })
    );

    var yAxis = chart.yAxes.push(
      am5xy.ValueAxis.new(root, {
        renderer: am5xy.AxisRendererY.new(root, {}),
      })
    );

    // Add series
    // https://www.amcharts.com/docs/v5/charts/xy-chart/series/
    for (var i = 0; i < 4; i++) {
      var series = chart.series.push(
        am5xy.LineSeries.new(root, {
          name: "키워드 " + i,
          xAxis: xAxis,
          yAxis: yAxis,
          valueYField: "value",
          valueXField: "date",
          legendValueText: "{valueY}",
          tooltip: am5.Tooltip.new(root, {
            pointerOrientation: "horizontal",
            labelText: "{valueY}",
          }),
        })
      );

      date = new Date();
      date.setHours(0, 0, 0, 0);
      value = 0;

      var data = generateDatas(100);
      series.data.setAll(data);
      series.appear();
    }

    var cursor = chart.set(
      "cursor",
      am5xy.XYCursor.new(root, {
        behavior: "none",
      })
    );
    cursor.lineY.set("visible", false);

    var legend = chart.rightAxesContainer.children.push(
      am5.Legend.new(root, {
        width: 150,
        paddingLeft: 15,
        height: am5.percent(100),
      })
    );

    // When legend item container is hovered, dim all the series except the hovered one
    legend.itemContainers.template.events.on("pointerover", function (e) {
      var itemContainer = e.target;

      // As series list is data of a legend, dataContext is series
      var series = itemContainer.dataItem.dataContext;

      chart.series.each(function (chartSeries) {
        if (chartSeries != series) {
          chartSeries.strokes.template.setAll({
            strokeOpacity: 0.15,
            stroke: am5.color(0x000000),
          });
        } else {
          chartSeries.strokes.template.setAll({
            strokeWidth: 3,
          });
        }
      });
    });

    // When legend item container is unhovered, make all series as they are
    legend.itemContainers.template.events.on("pointerout", function (e) {
      var itemContainer = e.target;
      var series = itemContainer.dataItem.dataContext;

      chart.series.each(function (chartSeries) {
        chartSeries.strokes.template.setAll({
          strokeOpacity: 1,
          strokeWidth: 1,
          stroke: chartSeries.get("fill"),
        });
      });
    });

    legend.itemContainers.template.set("width", am5.p100);
    legend.valueLabels.template.setAll({
      width: am5.p100,
      textAlign: "right",
    });

    legend.data.setAll(chart.series.values);
    chart.appear(1000, 100);
  }); // end am5.ready()
</script>
<script>
  am5.ready(function () {
    var root = am5.Root.new("priceChart");
    root.setThemes([am5themes_Animated.new(root)]);

    var chart = root.container.children.push(am5xy.XYChart.new(root, {}));

    var cursor = chart.set(
      "cursor",
      am5xy.XYCursor.new(root, {
        behavior: "none",
      })
    );
    cursor.lineY.set("visible", false);

    // Generate random data
    var date = new Date();
    date.setHours(0, 0, 0, 0);
    var value = 100;
    var previousValue = value;
    var downColor = root.interfaceColors.get("negative");
    var upColor = root.interfaceColors.get("positive");
    var color;
    var previousColor;
    var previousDataObj;

    function generateData() {
      value = Math.round(Math.random() * 10 - 5 + value);
      am5.time.add(date, "day", 1);

      if (value >= previousValue) {
        color = upColor;
      } else {
        color = downColor;
      }
      previousValue = value;

      var dataObj = { date: date.getTime(), value: value, color: color }; // color will be used for tooltip background

      // only if changed
      if (color != previousColor) {
        if (!previousDataObj) {
          previousDataObj = dataObj;
        }
        previousDataObj.strokeSettings = { stroke: color };
      }

      previousDataObj = dataObj;
      previousColor = color;

      return dataObj;
    }

    function generateDatas(count) {
      var data = [];
      for (var i = 0; i < count; ++i) {
        data.push(generateData());
      }
      return data;
    }

    // Create axes
    // https://www.amcharts.com/docs/v5/charts/xy-chart/axes/
    var xAxis = chart.xAxes.push(
      am5xy.DateAxis.new(root, {
        baseInterval: { timeUnit: "day", count: 1 },
        renderer: am5xy.AxisRendererX.new(root, {}),
        tooltip: am5.Tooltip.new(root, {}),
      })
    );

    var yAxis = chart.yAxes.push(
      am5xy.ValueAxis.new(root, {
        renderer: am5xy.AxisRendererY.new(root, {}),
      })
    );

    // Add series
    // https://www.amcharts.com/docs/v5/charts/xy-chart/series/
    var series = chart.series.push(
      am5xy.LineSeries.new(root, {
        name: "Series",
        xAxis: xAxis,
        yAxis: yAxis,
        valueYField: "value",
        valueXField: "date",
      })
    );

    series.strokes.template.set("templateField", "strokeSettings");

    var tooltip = series.set(
      "tooltip",
      am5.Tooltip.new(root, {
        labelText: "{valueY}",
      })
    );

    // this is added in ored adapter to be triggered each time position changes
    tooltip.on("pointTo", function () {
      var background = tooltip.get("background");
      background.set("fill", background.get("fill"));
    });

    // tooltip bacground takes color from data item
    tooltip.get("background").adapters.add("fill", function (fill) {
      if (tooltip.dataItem) {
        return tooltip.dataItem.dataContext.color;
      }
      return fill;
    });

    var data = generateDatas(100);
    series.data.setAll(data);

    series.appear(1000);
    chart.appear(1000, 100);
  }); // end am5.ready()
</script>
<div class="content content-ranking-details">
  <header class="main-header">
    <section class="title">
      <h1>
        <span>상품 순위 리포트</span>
      </h1>
    </section>
    <section class="section-main">
      <div class="section-title">
        <h3></h3>
        <a href="">상품페이지로 이동</a>
      </div>
      <div class="information">
        <div class="image">
          <img
            src="https://images.unsplash.com/photo-1625021659159-f63f546d74a7?ixlib=rb-1.2.1&amp;ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTd8fGNvZmZlfGVufDB8fDB8fA%3D%3D&amp;auto=format&amp;fit=crop&amp;w=500&amp;q=60"
            alt=""
          />
        </div>
        <div class="list">
          <ul class="row">
            <li class="title">상품 MID</li>
            <li>12126547821</li>
          </ul>
          <ul class="row">
            <li class="title">상품명</li>
            <li>1kg 커피창고 에티오피아 예가체프 ...</li>
            <li class="title">스토어명</li>
            <li>커피창고</li>
          </ul>
          <ul class="row">
            <li class="title">판매가</li>
            <li>9,900원</li>
          </ul>
          <ul class="row">
            <li class="title">브랜드</li>
            <li>커피창고</li>
            <li class="title">제조사</li>
            <li>주식회사 커피창고</li>
          </ul>
          <ul class="row">
            <li class="title">카테고리</li>
            <li>식품 > 음료 > 커피 > 원두/생두</li>
          </ul>
        </div>
      </div>
    </section>
  </header>
  <div class="wrapper">
    <section>
      <header class="section-header">
        <div>
          <h3>
            <span>키워드별 순위 차트</span>
            <div class="tooltip">
              <div class="ico-tooltip"></div>
              <article class="tooltip-content">
                <ul>
                  <li>키워드별 순위를 한눈에 확인할 수 있는 차트입니다.</li>
                  <li>
                    기간과 간격을 설정하여 원하는 데이터를 얻을 수 있습니다.
                  </li>
                  <li>
                    등록일부터 데이터가 갱신됨으로 등록 후 초반에는 기간 설정에
                    제한이 있을 수 있습니다.
                  </li>
                </ul>
              </article>
            </div>
          </h3>
        </div>
        <div>
          <button class="ico-download" type="button">엑셀다운</button>
          <button type="button">키워드편집</button>
        </div>
      </header>
      <div class="keyword-chart">
        <div class="filters">
          <div>
            <div class="period">
              <input
                type="radio"
                id="select-1day"
                name="keyword-chart"
                checked
              />
              <label for="select-1day">1일</label>
              <input type="radio" id="select-1week" name="keyword-chart" />
              <label for="select-1week">1주</label>
              <input type="radio" id="select-1month" name="keyword-chart" />
              <label for="select-1month">1개월</label>
              <input type="radio" id="select-6months" name="keyword-chart" />
              <label for="select-6months">6개월</label>
              <input type="radio" id="select-1year" name="keyword-chart" />
              <label for="select-1year">1년</label>
            </div>
            <div class="calendar">
              <input type="text" id="from" name="from" />
              <span>~</span>
              <input type="text" id="to" name="to" />
            </div>
            <button type="button">조회</button>
          </div>
          <div class="selectbox">
            <select name="" id="">
              <option value="갱신시간">갱신시간</option>
              <option value="갱신시간">갱신시간</option>
              <option value="갱신시간">갱신시간</option>
            </select>
          </div>
        </div>
        <div id="keywordChart" class="chart"></div>
      </div>
    </section>
    <section class="section-keyword-history">
      <header class="section-header">
        <div>
          <h3>
            <span>키워드별 순위 이력</span>
            <div class="tooltip">
              <div class="ico-tooltip"></div>
              <article class="tooltip-content">
                <ul>
                  <li>키워드별 순위를 한눈에 확인할 수 있는 차트입니다.</li>
                  <li>
                    기간과 간격을 설정하여 원하는 데이터를 얻을 수 있습니다.
                  </li>
                  <li>
                    등록일부터 데이터가 갱신됨으로 등록 후 초반에는 기간 설정에
                    제한이 있을 수 있습니다.
                  </li>
                </ul>
              </article>
            </div>
          </h3>
        </div>
        <div>
          <button class="ico-download" type="button">엑셀다운</button>
        </div>
      </header>
      <div class="filters">
        <div>
          <div class="period">
            <input type="radio" id="select-1day-02" name="keyword-history" />
            <label for="select-1day-02">1일</label>
            <input
              type="radio"
              id="select-1week-02"
              name="keyword-history"
              checked
            />
            <label for="select-1week-02">1주</label>
            <input type="radio" id="select-1month-02" name="keyword-history" />
            <label for="select-1month-02">1개월</label>
            <input type="radio" id="select-6months-02" name="keyword-history" />
            <label for="select-6months-02">6개월</label>
            <input type="radio" id="select-1year-02" name="keyword-history" />
            <label for="select-1year-02">1년</label>
          </div>
          <div class="calendar">
            <input type="text" id="from" name="from" />
            <span>~</span>
            <input type="text" id="to" name="to" />
          </div>
          <button type="button">조회</button>
        </div>
        <div class="selectbox">
          <select name="" id="">
            <option value="갱신시간">갱신시간</option>
            <option value="갱신시간">갱신시간</option>
            <option value="갱신시간">갱신시간</option>
          </select>
        </div>
      </div>
      <div class="list">
        <div class="columns">
          <ul class="row title">
            <li>키워드</li>
          </ul>
          <ul class="row title scroll-horizontal-01">
            <li>
              <div class="date">2022-03-05 18:00</div>
            </li>
            <li>
              <div class="date">2022-03-05 15:00</div>
              <button class="notification new" type="button">2</button>
              <article class="notification-details">
                <div class="title">
                  <span>변경사항</span>
                  <div class="close ico-close"></div>
                </div>
                <div class="list">
                  <ul class="row">
                    <li>상품명</li>
                    <li>
                      <div class="row">
                        <div class="date">2022-03-01 18:00</div>
                        <div class="current">
                          1kg 커피창고 에티오피아 예가체프 케냐AAA 싱글오리진
                        </div>
                      </div>
                      <div class="row">
                        <div class="date">2022-03-01 17:00</div>
                        <div>커피창고 원두 1kg 에티오피아</div>
                      </div>
                    </li>
                  </ul>
                  <ul class="row">
                    <li>스토어명</li>
                    <li>커피창고</li>
                  </ul>
                  <ul class="row">
                    <li>판매가</li>
                    <li>
                      <div class="row">
                        <div class="date">2022-03-01 18:00</div>
                        <div class="current price">10,900</div>
                      </div>
                      <div class="row">
                        <div class="date">2022-03-01 17:00</div>
                        <div class="price">9,900</div>
                      </div>
                    </li>
                  </ul>
                  <ul class="row">
                    <li>브랜드</li>
                    <li>커피창고</li>
                  </ul>
                  <ul class="row">
                    <li>제조사</li>
                    <li>주식회사 커피창고</li>
                  </ul>
                  <ul class="row">
                    <li>카테고리</li>
                    <li>식품 &gt; 음료 &gt; 커피 &gt; 원두/생두</li>
                  </ul>
                </div>
              </article>
            </li>
            <li>
              <div class="date">2022-03-05 12:00</div>
            </li>
            <li>
              <div class="date">2022-03-05 15:00</div>
            </li>
            <li>
              <div class="date">2022-03-05 12:00</div>
            </li>
            <li>
              <div class="date">2022-03-05 15:00</div>
            </li>
            <li>
              <div class="date">2022-03-05 12:00</div>
            </li>
            <li>
              <div class="date">2022-03-05 15:00</div>
            </li>
            <li>
              <div class="date">2022-03-05 12:00</div>
            </li>
          </ul>
        </div>
        <div class="columns">
          <div class="rows rows-keyword scroll-vertical-01">
            <ul class="row">
              <li>
                <div>싱글오리진</div>
                <div class="toggle is-active"></div>
              </li>
            </ul>
            <ul class="row">
              <li>
                <div>커피원두</div>
                <div class="toggle is-active"></div>
              </li>
            </ul>
            <ul class="row">
              <li>
                <div>스타벅스</div>
                <div class="toggle is-active"></div>
              </li>
            </ul>
            <ul class="row">
              <li>
                <div>원두커피</div>
                <div class="toggle"></div>
              </li>
            </ul>
            <ul class="row">
              <li>
                <div>커피</div>
                <div class="toggle"></div>
              </li>
            </ul>
          </div>
          <div class="rows scroll-horizontal-02 scroll-vertical-02">
            <ul class="row">
              <li>
                <div class="rank-current">
                  <span>1위</span>
                  <span>1위/1페이지</span>
                </div>
                <div class="rank up">44</div>
              </li>
              <li>
                <div class="rank-current">
                  <span>45위</span>
                  <span>5위/2페이지</span>
                </div>
                <div class="rank up">35</div>
              </li>
              <li>
                <div class="rank-current">
                  <span>80위</span>
                  <span>40위/2페이지</span>
                </div>
                <div class="rank down">5</div>
              </li>
              <li>
                <div class="rank-current">
                  <span>45위</span>
                  <span>5위/2페이지</span>
                </div>
                <div class="rank up">35</div>
              </li>
              <li>
                <div class="rank-current">
                  <span>80위</span>
                  <span>40위/2페이지</span>
                </div>
                <div class="rank down">5</div>
              </li>
              <li>
                <div class="rank-current">
                  <span>45위</span>
                  <span>5위/2페이지</span>
                </div>
                <div class="rank up">35</div>
              </li>
              <li>
                <div class="rank-current">
                  <span>80위</span>
                  <span>40위/2페이지</span>
                </div>
                <div class="rank down">5</div>
              </li>
              <li>
                <div class="rank-current">
                  <span>45위</span>
                  <span>5위/2페이지</span>
                </div>
                <div class="rank up">35</div>
              </li>
              <li>
                <div class="rank-current">
                  <span>80위</span>
                  <span>40위/2페이지</span>
                </div>
                <div class="rank down">5</div>
              </li>
            </ul>
            <ul class="row">
              <li>
                <div class="rank-current">
                  <span>1위</span>
                  <span>1위/1페이지</span>
                </div>
                <div class="rank up">44</div>
              </li>
              <li>
                <div class="rank-current">
                  <span>45위</span>
                  <span>5위/2페이지</span>
                </div>
                <div class="rank up">35</div>
              </li>
              <li>
                <div class="rank-current">
                  <span>80위</span>
                  <span>40위/2페이지</span>
                </div>
                <div class="rank down">5</div>
              </li>
              <li>
                <div class="rank-current">
                  <span>45위</span>
                  <span>5위/2페이지</span>
                </div>
                <div class="rank up">35</div>
              </li>
              <li>
                <div class="rank-current">
                  <span>80위</span>
                  <span>40위/2페이지</span>
                </div>
                <div class="rank down">5</div>
              </li>
              <li>
                <div class="rank-current">
                  <span>45위</span>
                  <span>5위/2페이지</span>
                </div>
                <div class="rank up">35</div>
              </li>
              <li>
                <div class="rank-current">
                  <span>80위</span>
                  <span>40위/2페이지</span>
                </div>
                <div class="rank down">5</div>
              </li>
              <li>
                <div class="rank-current">
                  <span>45위</span>
                  <span>5위/2페이지</span>
                </div>
                <div class="rank up">35</div>
              </li>
              <li>
                <div class="rank-current">
                  <span>80위</span>
                  <span>40위/2페이지</span>
                </div>
                <div class="rank down">5</div>
              </li>
            </ul>
            <ul class="row">
              <li>
                <div class="rank-current">
                  <span>1위</span>
                  <span>1위/1페이지</span>
                </div>
                <div class="rank up">4</div>
              </li>
              <li>
                <div class="rank-current">
                  <span>5위</span>
                  <span>5위/1페이지</span>
                </div>
                <div class="rank up">3</div>
              </li>
              <li>
                <div class="rank-current">
                  <span>80위</span>
                  <span>8위/1페이지</span>
                </div>
                <div class="rank down">5</div>
              </li>
              <li>
                <div class="rank-current">
                  <span>45위</span>
                  <span>5위/2페이지</span>
                </div>
                <div class="rank up">35</div>
              </li>
              <li>
                <div class="rank-current">
                  <span>80위</span>
                  <span>40위/2페이지</span>
                </div>
                <div class="rank down">5</div>
              </li>
              <li>
                <div class="rank-current">
                  <span>45위</span>
                  <span>5위/2페이지</span>
                </div>
                <div class="rank up">35</div>
              </li>
              <li>
                <div class="rank-current">
                  <span>80위</span>
                  <span>40위/2페이지</span>
                </div>
                <div class="rank down">5</div>
              </li>
              <li>
                <div class="rank-current">
                  <span>45위</span>
                  <span>5위/2페이지</span>
                </div>
                <div class="rank up">35</div>
              </li>
              <li>
                <div class="rank-current">
                  <span>80위</span>
                  <span>40위/2페이지</span>
                </div>
                <div class="rank down">5</div>
              </li>
            </ul>
            <ul class="row">
              <li>
                <div class="rank-current">
                  <span>43위</span>
                  <span>3위/2페이지</span>
                </div>
                <div class="rank up">44</div>
              </li>
              <li>
                <div class="rank-current">
                  <span>42위</span>
                  <span>2위/2페이지</span>
                </div>
                <div class="rank up">35</div>
              </li>
              <li>
                <div class="rank-current">
                  <span>40위</span>
                  <span>40위/1페이지</span>
                </div>
                <div class="rank down">5</div>
              </li>
              <li>
                <div class="rank-current">
                  <span>40위</span>
                  <span>40위/1페이지</span>
                </div>
                <div class="rank same"></div>
              </li>
              <li>
                <div class="rank-current">
                  <span>80위</span>
                  <span>40위/2페이지</span>
                </div>
                <div class="rank down">5</div>
              </li>
              <li>
                <div class="rank-current">
                  <span>45위</span>
                  <span>5위/2페이지</span>
                </div>
                <div class="rank up">35</div>
              </li>
              <li>
                <div class="rank-current">
                  <span>80위</span>
                  <span>40위/2페이지</span>
                </div>
                <div class="rank down">5</div>
              </li>
              <li>
                <div class="rank-current">
                  <span>45위</span>
                  <span>5위/2페이지</span>
                </div>
                <div class="rank up">35</div>
              </li>
              <li>
                <div class="rank-current">
                  <span>80위</span>
                  <span>40위/2페이지</span>
                </div>
                <div class="rank down">5</div>
              </li>
            </ul>
            <ul class="row">
              <li>
                <div class="rank-current">
                  <span>3위</span>
                  <span>3위/1페이지</span>
                </div>
                <div class="rank up">44</div>
              </li>
              <li>
                <div class="rank-current">
                  <span>15위</span>
                  <span>2위/2페이지</span>
                </div>
                <div class="rank up">35</div>
              </li>
              <li>
                <div class="rank-current">
                  <span>40위</span>
                  <span>40위/1페이지</span>
                </div>
                <div class="rank down">5</div>
              </li>
              <li>
                <div class="rank-current">
                  <span>40위</span>
                  <span>40위/1페이지</span>
                </div>
                <div class="rank same"></div>
              </li>
              <li>
                <div class="rank-current">
                  <span>80위</span>
                  <span>40위/2페이지</span>
                </div>
                <div class="rank down">5</div>
              </li>
              <li>
                <div class="rank-current">
                  <span>45위</span>
                  <span>5위/2페이지</span>
                </div>
                <div class="rank up">35</div>
              </li>
              <li>
                <div class="rank-current">
                  <span>80위</span>
                  <span>40위/2페이지</span>
                </div>
                <div class="rank down">5</div>
              </li>
              <li>
                <div class="rank-current">
                  <span>45위</span>
                  <span>5위/2페이지</span>
                </div>
                <div class="rank up">35</div>
              </li>
              <li>
                <div class="rank-current">
                  <span>80위</span>
                  <span>40위/2페이지</span>
                </div>
                <div class="rank down">5</div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <section>
      <header class="section-header">
        <div>
          <h3>
            <span>판매가 차트</span>
            <div class="tooltip">
              <div class="ico-tooltip"></div>
              <article class="tooltip-content"></article>
            </div>
          </h3>
        </div>
        <div>
          <button class="ico-download" type="button">엑셀다운</button>
          <button type="button">키워드편집</button>
        </div>
      </header>
      <div class="keyword-chart">
        <div class="filters">
          <div>
            <div class="period">
              <input
                type="radio"
                id="select-1day-03"
                name="keyword-chart"
                checked
              />
              <label for="select-1day-03">1일</label>
              <input type="radio" id="select-1week-03" name="keyword-chart" />
              <label for="select-1week-03">1주</label>
              <input type="radio" id="select-1month-03" name="keyword-chart" />
              <label for="select-1month-03">1개월</label>
              <input type="radio" id="select-6months-03" name="keyword-chart" />
              <label for="select-6months-03">6개월</label>
              <input type="radio" id="select-1year-03" name="keyword-chart" />
              <label for="select-1year-03">1년</label>
            </div>
            <div class="calendar">
              <input type="text" id="from" name="from" />
              <span>~</span>
              <input type="text" id="to" name="to" />
            </div>
            <button type="button">조회</button>
          </div>
          <div class="selectbox">
            <select name="" id="">
              <option value="갱신시간">갱신시간</option>
              <option value="갱신시간">갱신시간</option>
              <option value="갱신시간">갱신시간</option>
            </select>
          </div>
        </div>
        <div id="priceChart" class="chart"></div>
      </div>
    </section>
    <section>
      <header class="section-header">
        <div>
          <h3>
            <span>순위 변동 주간 TOP</span>
            <div class="tooltip">
              <div class="ico-tooltip"></div>
              <div class="tooltip-content"></div>
            </div>
          </h3>
        </div>
        <div class="selectbox">
          <select name="" id="">
            <option value="">3월 1주차 (2022-03-01 12:00 기준)</option>
          </select>
        </div>
      </header>
      <div class="ranking-fluctuations">
        <div class="ranking-chart">
          <div class="title">순위 상승 TOP</div>
          <div class="list">
            <ul class="row title">
              <li>순위</li>
              <li>키워드</li>
              <li>전주대비변동</li>
            </ul>
            <!-- rows 내부에 소스코드가 아무것도 없으면 data-empty 텍스트 출력(띄어쓰기도 X) -->
            <div class="rows" data-empty="데이터 갱신 전입니다.">
              <ul class="row">
                <li>1</li>
                <li>싱글오리진</li>
                <li>
                  <div class="rank up">6</div>
                </li>
              </ul>
              <ul class="row">
                <li>2</li>
                <li>커피원두</li>
                <li>
                  <div class="rank up">4</div>
                </li>
              </ul>
              <ul class="row">
                <li>3</li>
                <li>원두커피 케냐AAA</li>
                <li>
                  <div class="rank up">3</div>
                </li>
              </ul>
              <ul class="row">
                <li>4</li>
                <li>예가체프</li>
                <li>
                  <div class="rank up">1</div>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="ranking-chart">
          <div class="title">순위 하락 TOP</div>
          <div class="list">
            <ul class="row title">
              <li>순위</li>
              <li>키워드</li>
              <li>전주대비변동</li>
            </ul>
            <!-- rows 내부에 소스코드가 아무것도 없으면 data-empty 텍스트 출력(띄어쓰기도 X) -->
            <div class="rows" data-empty="데이터 갱신 전입니다.">
              <ul class="row">
                <li>1</li>
                <li>스페셜커피</li>
                <li>
                  <div class="rank down">6</div>
                </li>
              </ul>
              <ul class="row">
                <li>2</li>
                <li>스타벅스원두</li>
                <li>
                  <div class="rank down">5</div>
                </li>
              </ul>
              <ul class="row">
                <li>3</li>
                <li>커피</li>
                <li>
                  <div class="rank down">2</div>
                </li>
              </ul>
              <ul class="row">
                <li>4</li>
                <li>맛 좋은 커피</li>
                <li>
                  <div class="rank down">1</div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
{% endblock %}
