{% extends "base.html" %} {% block content %}

<div class="content content-settings">
  <header class="main-header">
    <div class="title">
      <h1>알림설정</h1>
      <div class="subline">
        <button type="button">
          <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0z" fill="none"/><path d="M17.65 6.35C16.2 4.9 14.21 4 12 4c-4.42 0-7.99 3.58-7.99 8s3.57 8 7.99 8c3.73 0 6.84-2.55 7.73-6h-2.08c-.82 2.33-3.04 4-5.65 4-3.31 0-6-2.69-6-6s2.69-6 6-6c1.66 0 3.14.69 4.22 1.78L13 11h7V4l-2.35 2.35z"/></svg>
        </button>
        <button class="btn-main" type="button">적용</button>
      </div>
    </div>
  </header>
  <div class="wrapper">
    <section class="section-alarm-services">
      <header class="section-header">
        <h3>알림 서비스 설정</h3>
        <div class="toggle toggle-controller is-active" data-toggle="alarm-services"></div>
      </header>
      <div class="list">
        <div class="row">
          <div>상품 순위 조회</div>
          <div class="toggle is-active" data-toggle="alarm-services"></div>
        </div>
        <div class="row">
          <div>최저가 알림</div>
          <div class="toggle" data-toggle="alarm-services"></div>
        </div>
        <div class="row">
          <div>상위 상품 분석</div>
          <div class="toggle" data-toggle="alarm-services"></div>
        </div>
        <div class="row">
          <div>키워드 트렌드</div>
          <div class="toggle" data-toggle="alarm-services"></div>
        </div>
      </div>
    </section>
    <section class="section-alarm-time">
      <header class="section-header">
        <h3>알림 시간대 설정</h3>
      </header>
      <div class="list">
        <ul class="row">
          <li>
            <div>심야 시간에도(21시 ~ 8시) 알림을 받겠습니다.</div>
            <div class="toggle is-active"></div>
          </li>
        </ul>
      </div>
    </section>
    <section class="section-alarm-type">
      <header class="section-header">
        <h3>알림 매체 설정</h3>
      </header>
      <div class="select-alarm-type">
        <div class="select default-information">
          <div class="title">
            <div>
              <input id="select-defalt-information" name="select-type" type="radio" checked />
              <label for="select-defalt-information">
                가입 시 입력한 이메일 / 휴대전화 번호(카카오 알림톡)로 알림 받기
              </label>
            </div>
            <a href="#">가입 정보 변경</a>
          </div>
          <div class="details">
            <ul class="row">
              <li>
                <span>휴대전화 번호</span>
                <span>010-1234-***</span>
              <li>
              <li>
                <div class="toggle"></div>
              </li>
            </ul>
            <ul class="row">
              <li>
                <span>이메일</span>
                <span>gabia***@gabiacns.com</span>
              <li>
              <li>
                <div class="toggle"></div>
              </li>
            </ul>
          </div>
        </div>
        <div class="select change-information">
          <input id="select-change-information" name="select-type" type="radio" />
          <label for="select-change-information">
            지정한 이메일 / 휴대전화 번호(카카오 알림톡)로 알림 받기
          </label>
        </div>
      </div>
    </section>
  </div>
</div>
{% endblock %}
</style>
