{% extends "base.html" %} {% block content %} {% import 'aside.html' as menu %} {{menu.active('sales')}}
<style>
  .chart canvas {
    width: auto !important;
    max-height: none;
  }
</style>
<script>
  $(function () {
    var dateFormat = "mm/dd/yy",
      from = $("#from")
        .datepicker()
        .on("change", function () {
          to.datepicker("option", "minDate", getDate(this));
        }),
      to = $("#to")
        .datepicker()
        .on("change", function () {
          from.datepicker("option", "maxDate", getDate(this));
        });

    function getDate(element) {
      var date;
      try {
        date = $.datepicker.parseDate(dateFormat, element.value);
      } catch (error) {
        date = null;
      }

      return date;
    }
  });
</script>
<script>
  am5.ready(function () {
    var root = am5.Root.new("gmarketChart");
    root.setThemes([am5themes_Animated.new(root)]);

    var chart = root.container.children.push(am5xy.XYChart.new(root, { layout: root.verticalLayout }));

    // Generate random data
    var date = new Date();
    date.setHours(0, 0, 0, 0);
    var value = 100;

    var data = [
      {
        date: new Date(2021, 2, 1).getTime(),
        devTest: 1,
        serverData: 5,
        daeshin: 3,
        checkError: 24,
      },
      {
        date: new Date(2021, 2, 2).getTime(),
        devTest: 1,
        serverData: 2,
        daeshin: 6,
        checkError: 25
      },
      {
        date: new Date(2021, 2, 3).getTime(),
        devTest: 2,
        serverData: 3,
        daeshin: 1,
        checkError: 28
      },
      {
        date: new Date(2021, 2, 4).getTime(),
        devTest: 3,
        serverData: 4,
        daeshin: 1,
        checkError: 26
      },
      {
        date: new Date(2021, 2, 5).getTime(),
        devTest: 5,
        serverData: 1,
        daeshin: 2,
        checkError: 20
      },
      {
        date: new Date(2021, 2, 6).getTime(),
        devTest: 3,
        serverData: 2,
        daeshin: 1,
        checkError: 7
      },
      {
        date: new Date(2021, 2, 7).getTime(),
        devTest: 1,
        serverData: 2,
        daeshin: 3,
        checkError: 2
      },
      {
        date: new Date(2021, 2, 8).getTime(),
        devTest: 2,
        serverData: 1,
        daeshin: 5,
        checkError: 9
      },
      {
        date: new Date(2021, 2, 9).getTime(),
        devTest: 3,
        serverData: 5,
        daeshin: 2,
        checkError: 6
      },
    ];


    var xRenderer = am5xy.AxisRendererX.new(root, {});
    xRenderer.grid.template.set("location", 0.5);
    xRenderer.labels.template.setAll({
      location: 0.5,
      multiLocation: 0.5,
    });

    var xAxis = chart.xAxes.push(
      am5xy.DateAxis.new(root, {
        baseInterval: { timeUnit: "day", count: 1 },
        renderer: xRenderer,
        tooltip: am5.Tooltip.new(root, {}),
      })
    );
    xAxis.get("dateFormats")["day"] = "yyyy MM.dd";

    var yAxis = chart.yAxes.push(
      am5xy.ValueAxis.new(root, {
        min: 1,
        max: 40,
        renderer: am5xy.AxisRendererY.new(root, {
          inversed: true,
        }),
      })
    );

    function createSeries(name, field, color) {
      var series = chart.series.push(
        am5xy.LineSeries.new(root, {
          name: name,
          xAxis: xAxis,
          yAxis: yAxis,
          valueYField: field,
          valueXField: "date",
          stroke: color,
          fill: color,
          tooltip: am5.Tooltip.new(root, {
            pointerOrientation: "horizontal",
            labelText: "[bold]{name} {valueY}[/]위",
          }),
        })
      );

      series.bullets.push(function () {
        return am5.Bullet.new(root, {
          sprite: am5.Circle.new(root, {
            radius: 3,
            fill: color,
          }),
        });
      });
      series.set("setStateOnChildren", true);
      series.states.create("hover", {});

      series.mainContainer.set("setStateOnChildren", true);
      series.mainContainer.states.create("hover", {});

      series.strokes.template.states.create("hover", {
        strokeWidth: 4,
      });

      series.data.setAll(data);
      series.appear(1000, 100);
    }

    createSeries("데브테스트", "devTest", am5.color(0x5B54C6));
    createSeries("실운영데이터", "serverData", am5.color(0xa298f2));
    createSeries("대신_G_스타킹", "daeshin", am5.color(0x3f8cff));
    createSeries("오류확인", "checkError", am5.color(0xffa1bf));

    var cursor = chart.set(
      "cursor",
      am5xy.XYCursor.new(root, {
        behavior: "none",
      })
    );
    cursor.lineY.set("visible", false);

    var legend = chart.rightAxesContainer.children.push(
      am5.Legend.new(root, {
        width: 150,
        paddingLeft: 15,
        height: am5.percent(100),
      })
    );

    // When legend item container is hovered, dim all the series except the hovered one
    legend.itemContainers.template.events.on("pointerover", function (e) {
      var itemContainer = e.target;

      // As series list is data of a legend, dataContext is series
      var series = itemContainer.dataItem.dataContext;

      chart.series.each(function (chartSeries) {
        if (chartSeries != series) {
          chartSeries.strokes.template.setAll({
            strokeOpacity: 0.15,
            stroke: am5.color(0x000000),
          });
        } else {
          chartSeries.strokes.template.setAll({
            strokeWidth: 3,
          });
        }
      });
    });

    // When legend item container is unhovered, make all series as they are
    legend.itemContainers.template.events.on("pointerout", function (e) {
      var itemContainer = e.target;
      var series = itemContainer.dataItem.dataContext;

      chart.series.each(function (chartSeries) {
        chartSeries.strokes.template.setAll({
          strokeOpacity: 1,
          strokeWidth: 1,
          stroke: chartSeries.get("fill"),
        });
      });
    });

    legend.itemContainers.template.set("width", am5.p100);
    legend.valueLabels.template.setAll({
      width: am5.p100,
      textAlign: "right",
    });

    legend.data.setAll(chart.series.values);
    chart.appear(1000, 100);
  }); // end am5.ready()
</script>
<script>
  am5.ready(function () {
    var root = am5.Root.new("gmarketChart2");
    root.setThemes([am5themes_Animated.new(root)]);

    var chart = root.container.children.push(am5xy.XYChart.new(root, { layout: root.verticalLayout }));

    // Generate random data
    var date = new Date();
    date.setHours(0, 0, 0, 0);
    var value = 100;

    var data = [
      {
        date: new Date(2021, 2, 1).getTime(),
        devTest: 1,
        serverData: 5,
        daeshin: 3,
        checkError: 24,
      },
      {
        date: new Date(2021, 2, 2).getTime(),
        devTest: 1,
        serverData: 2,
        daeshin: 6,
        checkError: 25
      },
      {
        date: new Date(2021, 2, 3).getTime(),
        devTest: 2,
        serverData: 3,
        daeshin: 1,
        checkError: 28
      },
      {
        date: new Date(2021, 2, 4).getTime(),
        devTest: 3,
        serverData: 4,
        daeshin: 1,
        checkError: 26
      },
      {
        date: new Date(2021, 2, 5).getTime(),
        devTest: 5,
        serverData: 1,
        daeshin: 2,
        checkError: 20
      },
      {
        date: new Date(2021, 2, 6).getTime(),
        devTest: 3,
        serverData: 2,
        daeshin: 1,
        checkError: 7
      },
      {
        date: new Date(2021, 2, 7).getTime(),
        devTest: 1,
        serverData: 2,
        daeshin: 3,
        checkError: 2
      },
      {
        date: new Date(2021, 2, 8).getTime(),
        devTest: 2,
        serverData: 1,
        daeshin: 5,
        checkError: 9
      },
      {
        date: new Date(2021, 2, 9).getTime(),
        devTest: 3,
        serverData: 5,
        daeshin: 2,
        checkError: 6
      },
    ];


    var xRenderer = am5xy.AxisRendererX.new(root, {});
    xRenderer.grid.template.set("location", 0.5);
    xRenderer.labels.template.setAll({
      location: 0.5,
      multiLocation: 0.5,
    });

    var xAxis = chart.xAxes.push(
      am5xy.DateAxis.new(root, {
        baseInterval: { timeUnit: "day", count: 1 },
        renderer: xRenderer,
        tooltip: am5.Tooltip.new(root, {}),
      })
    );
    xAxis.get("dateFormats")["day"] = "yyyy MM.dd";

    var yAxis = chart.yAxes.push(
      am5xy.ValueAxis.new(root, {
        min: 1,
        max: 40,
        renderer: am5xy.AxisRendererY.new(root, {
          inversed: true,
        }),
      })
    );

    function createSeries(name, field, color) {
      var series = chart.series.push(
        am5xy.LineSeries.new(root, {
          name: name,
          xAxis: xAxis,
          yAxis: yAxis,
          valueYField: field,
          valueXField: "date",
          stroke: color,
          fill: color,
          tooltip: am5.Tooltip.new(root, {
            pointerOrientation: "horizontal",
            labelText: "[bold]{name} {valueY}[/]위",
          }),
        })
      );

      series.bullets.push(function () {
        return am5.Bullet.new(root, {
          sprite: am5.Circle.new(root, {
            radius: 3,
            fill: color,
          }),
        });
      });
      series.set("setStateOnChildren", true);
      series.states.create("hover", {});

      series.mainContainer.set("setStateOnChildren", true);
      series.mainContainer.states.create("hover", {});

      series.strokes.template.states.create("hover", {
        strokeWidth: 4,
      });

      series.data.setAll(data);
      series.appear(1000, 100);
    }

    createSeries("데브테스트", "devTest", am5.color(0x5B54C6));
    createSeries("실운영데이터", "serverData", am5.color(0xa298f2));
    createSeries("대신_G_스타킹", "daeshin", am5.color(0x3f8cff));
    createSeries("오류확인", "checkError", am5.color(0xffa1bf));

    var cursor = chart.set(
      "cursor",
      am5xy.XYCursor.new(root, {
        behavior: "none",
      })
    );
    cursor.lineY.set("visible", false);

    var legend = chart.rightAxesContainer.children.push(
      am5.Legend.new(root, {
        width: 150,
        paddingLeft: 15,
        height: am5.percent(100),
      })
    );

    // When legend item container is hovered, dim all the series except the hovered one
    legend.itemContainers.template.events.on("pointerover", function (e) {
      var itemContainer = e.target;

      // As series list is data of a legend, dataContext is series
      var series = itemContainer.dataItem.dataContext;

      chart.series.each(function (chartSeries) {
        if (chartSeries != series) {
          chartSeries.strokes.template.setAll({
            strokeOpacity: 0.15,
            stroke: am5.color(0x000000),
          });
        } else {
          chartSeries.strokes.template.setAll({
            strokeWidth: 3,
          });
        }
      });
    });

    // When legend item container is unhovered, make all series as they are
    legend.itemContainers.template.events.on("pointerout", function (e) {
      var itemContainer = e.target;
      var series = itemContainer.dataItem.dataContext;

      chart.series.each(function (chartSeries) {
        chartSeries.strokes.template.setAll({
          strokeOpacity: 1,
          strokeWidth: 1,
          stroke: chartSeries.get("fill"),
        });
      });
    });

    legend.itemContainers.template.set("width", am5.p100);
    legend.valueLabels.template.setAll({
      width: am5.p100,
      textAlign: "right",
    });

    legend.data.setAll(chart.series.values);
    chart.appear(1000, 100);
  }); // end am5.ready()
</script>

<div class="content content-tracking gmarket">
  <header class="main-header">
    <section class="title">
      <h1>
        <span>지마켓 판매량 추적</span>
        <div class="tooltip">
          <article class="tooltip-content">
            <dl>
              <dd></dd>
            </dl>
          </article>
        </div>
      </h1>

      <div class="subline status">
        <ul class="services">
          <li>서비스 제공량</li>
          <li>
            <span class="count">30</span>
          </li>
        </ul>
        <ul class="service-period">
          <li>서비스 이용기간</li>
          <li>
            2022-03-01 ~ 2023-02-28
            <span class="tag d-day">310</span>
          </li>
        </ul>
      </div>
    </section>
  </header>
  <div class="wrapper">
    <section>
      <header class="section-header multi-line">
        <div class="title">
          <h3>데브테스트</h3>
          <div class="buttons">
            <button class="btn-sub" class="ico-download" type="button">엑셀다운</button>
            <button class="btn-main" type="button" data-modal="createItem">상품등록</button>
          </div>
        </div>
        <div class="filters">
          <div>
            <div class="selector">
              <input type="radio" id="select-1day" name="keyword-chart" checked />
              <label for="select-1day">1일</label>
              <input type="radio" id="select-1week" name="keyword-chart" />
              <label for="select-1week">1주</label>
              <input type="radio" id="select-2weeks" name="keyword-chart" />
              <label for="select-2weeks">2주</label>
              <input type="radio" id="select-1month" name="keyword-chart" />
              <label for="select-1month">1개월</label>
            </div>
            <div class="calendar">
              <input type="text" id="from" name="" placeholder="비교일" autocomplete="off" />
              <span>~</span>
              <input type="text" id="to" name="" placeholder="기준일" autocomplete="off" />
            </div>
            <div class="search">
              <button class="btn-main ico-search" type="button"></button>
            </div>
            <ul class="list-count">
              <li>
                <span class="selected">0</span>
              </li>
              <li>
                <span class="total">0</span>
              </li>
            </ul>
          </div>
          <div class="buttons">
            <button type="button" data-modal="deleteItem">선택삭제</button>
            <div class="selectbox">
              <select name="" id="">
                <option value="filter-100">100개씩 보기</option>
                <option value="filter-50">50개씩 보기</option>
                <option value="filter-20">20개씩 보기</option>
                <option value="filter-10">10개씩 보기</option>
              </select>
            </div>
          </div>
        </div>
      </header>
      <div class="list">
        <ul class="row title">
          <li class="col-check">
            <div class="checkbox">
              <input id="checkAll" class="check-all" name="select-item" type="checkbox" />
              <label for="checkAll"></label>
            </div>
          </li>
          <li class="ico-sort col-100">상품코드</li>
          <li class="ico-sort col-title">상품명</li>
          <li class="ico-sort">플랫폼</li>
          <li class="ico-sort">가격</li>
          <li class="ico-sort">배송비</li>
          <li class="ico-sort">
            전일(D-1)
            <div class="date d-1">2023-01-10 09:00</div>
          </li>
          <li class="ico-sort">
            전주(D-7)
            <div class="date d-7">2023-01-04 09:00</div>
          </li>
          <li class="ico-sort">
            2주(D-14)
            <div class="date d-14">2022-12-28 09:00</div>
          </li>
          <li class="ico-sort">
            전월(D-30)
            <div class="date d-30">2022-12-12 09:00</div>
          </li>
          <li class="ico-sort">가격 변경</li>
          <li class="ico-sort">배송비 변경</li>
          <li class="ico-sort">상품명 변경</li>
          <li class="ico-sort">검색 실패</li>
        </ul>
        <div class="rows" data-empty="상품을 등록해주세요">
          <ul class="row">
            <li class="col-check">
              <div class="checkbox">
                <input id="check-01" name="select-item" type="checkbox" />
                <label for="check-01"></label>
              </div>
            </li>
            <li title="상품코드" class="col-100">
              C422539488
            </li>
            <li title="상품명" class="col-title">4색 위장크림</li>
            <li title="플랫폼">
              옥션
            </li>
            <li title="가격">
              <div class="price"></div>
            </li>
            <li title="배송비">
              <div class="price"></div>
            </li>
            <li title="전일(D-1)"></li>
            <li title="전주(D-7)"></li>
            <li title="2주(D-14)"></li>
            <li title="전월(D-30)"></li>
            <li title="가격 변경"></li>
            <li title="배송비 변경"></li>
            <li title="상품명 변경"></li>
            <li title="검색 실패"></li>
          </ul>
          <ul class="row">
            <li class="col-check">
              <div class="checkbox">
                <input id="check-02" name="select-item" type="checkbox" />
                <label for="check-02"></label>
              </div>
            </li>
            <li title="상품코드" class="col-100">
              C422298544
            </li>
            <li title="상품명" class="col-title">보급형 위장크림 3색</li>
            <li title="플랫폼">
              옥션
            </li>
            <li title="가격">
              <div class="price"></div>
            </li>
            <li title="배송비">
              <div class="price"></div>
            </li>
            <li title="전일(D-1)"></li>
            <li title="전주(D-7)"></li>
            <li title="2주(D-14)"></li>
            <li title="전월(D-30)"></li>
            <li title="가격 변경"></li>
            <li title="배송비 변경"></li>
            <li title="상품명 변경"></li>
            <li title="검색 실패"></li>
          </ul>
          <ul class="row">
            <li class="col-check">
              <div class="checkbox">
                <input id="check-03" name="select-item" type="checkbox" />
                <label for="check-03"></label>
              </div>
            </li>
            <li title="상품코드" class="col-100">
              C421525933
            </li>
            <li title="상품명" class="col-title">4색 위장크림</li>
            <li title="플랫폼">
              옥션
            </li>
            <li title="가격">
              <div class="price"></div>
            </li>
            <li title="배송비">
              <div class="price"></div>
            </li>
            <li title="전일(D-1)"></li>
            <li title="전주(D-7)"></li>
            <li title="2주(D-14)"></li>
            <li title="전월(D-30)"></li>
            <li title="가격 변경"></li>
            <li title="배송비 변경"></li>
            <li title="상품명 변경"></li>
            <li title="검색 실패"></li>
          </ul>
          <ul class="row">
            <li class="col-check">
              <div class="checkbox">
                <input id="check-04" name="select-item" type="checkbox" />
                <label for="check-04"></label>
              </div>
            </li>
            <li title="상품코드" class="col-100">
              C420945193
            </li>
            <li title="상품명" class="col-title">보급형 위장크림 3색</li>
            <li title="플랫폼">
              옥션
            </li>
            <li title="가격">
              <div class="price"></div>
            </li>
            <li title="배송비">
              <div class="price"></div>
            </li>
            <li title="전일(D-1)"></li>
            <li title="전주(D-7)"></li>
            <li title="2주(D-14)"></li>
            <li title="전월(D-30)"></li>
            <li title="가격 변경"></li>
            <li title="배송비 변경"></li>
            <li title="상품명 변경"></li>
            <li title="검색 실패"></li>
          </ul>
          <ul class="row">
            <li class="col-check">
              <div class="checkbox">
                <input id="check-05" name="select-item" type="checkbox" />
                <label for="check-05"></label>
              </div>
            </li>
            <li title="상품코드" class="col-100">
              C420793602
            </li>
            <li title="상품명" class="col-title">4색 위장크림</li>
            <li title="플랫폼">
              옥션
            </li>
            <li title="가격">
              <div class="price"></div>
            </li>
            <li title="배송비">
              <div class="price"></div>
            </li>
            <li title="전일(D-1)"></li>
            <li title="전주(D-7)"></li>
            <li title="2주(D-14)"></li>
            <li title="전월(D-30)"></li>
            <li title="가격 변경"></li>
            <li title="배송비 변경"></li>
            <li title="상품명 변경"></li>
            <li title="검색 실패"></li>
          </ul>
          <ul class="row">
            <li class="col-check">
              <div class="checkbox">
                <input id="check-06" name="select-item" type="checkbox" />
                <label for="check-06"></label>
              </div>
            </li>
            <li title="상품코드" class="col-100">
              C419418112
            </li>
            <li title="상품명" class="col-title">남성케어 퍼펙트선스크린 선크림
              백탁없는무기자차</li>
            <li title="플랫폼">
              옥션
            </li>
            <li title="가격">
              <div class="price"></div>
            </li>
            <li title="배송비">
              <div class="price"></div>
            </li>
            <li title="전일(D-1)"></li>
            <li title="전주(D-7)"></li>
            <li title="2주(D-14)"></li>
            <li title="전월(D-30)"></li>
            <li title="가격 변경"></li>
            <li title="배송비 변경"></li>
            <li title="상품명 변경"></li>
            <li title="검색 실패"></li>
          </ul>
        </div>
      </div>
      <footer class="section-footer">
        <div class="pagination">
          <button onclick="" type="button">
            <div class="arrow double left"></div>
          </button>
          <button onclick="" type="button">
            <div class="arrow left"></div>
          </button>
          <div class="pages">
            <button class="is-active" onclick="" type="button">1</button>
            <button onclick="" type="button">2</button>
            <button onclick="" type="button">3</button>
            <button onclick="" type="button">4</button>
            <button onclick="" type="button">5</button>
          </div>
          <button onclick="" type="button">
            <div class="arrow right"></div>
          </button>
          <button onclick="" type="button">
            <div class="arrow double right"></div>
          </button>
        </div>
      </footer>
    </section>
    <section>
      <header class="section-header">
        <div class="title">
          <h3>
            <span>데브테스트 판매량 변동</span>
          </h3>
        </div>
      </header>
      <div class="keyword-chart">
        <div class="chart-container" data-empty="데이터 갱신 전입니다.">
          <div id="gmarketChart" class="chart"></div>
        </div>
      </div>
    </section>
    <section>
      <header class="section-header">
        <div class="title">
          <h3>
            <span>데브테스트 누적 판매량</span>
          </h3>
        </div>
      </header>
      <div class="keyword-chart">
        <div class="chart-container" data-empty="데이터 갱신 전입니다.">
          <div id="gmarketChart2" class="chart"></div>
        </div>
      </div>
    </section>
  </div>
</div>

<div id="createItem" class="modal create-item">
  <div class="dialog">
    <header class="modal-header">
      <h3>상품등록</h3>
      <div class="close"></div>
    </header>
    <div class="modal-content">
      <section class="section-impact">
        <div class="title">현재 상품 순위 추적 소재 잔여량은 <span class="main-color">10</span>개 입니다.</div>
        <a href="#" class="right-arrow">소재 제공량 추가방법</a>
      </section>
      <section>
        <div class="search inputs">
          <div class="title">
            <div>등록하실 상품의 URL을 입력해주세요.</div>
            <a href="#" class="right-arrow">URL 확인방법</a>
          </div>
          <div class="input">
            <input type="url" placeholder="URL을 입력해주세요" required />
            <span class="x"></span>
          </div>
        </div>
      </section>
    </div>
    <div class="buttons">
      <button class="btn-submit" type="submit" data-modal="searchItem">조회</button>
    </div>
  </div>
</div>

<div class="modal search-item">
  <div class="dialog">
    <header class="modal-header no-title">
      <h3>상품조회완료</h3>
      <div class="close"></div>
    </header>
    <div class="modal-content">
      <section>
        <div class="title">상품 조회가 완료되었습니다. 키워드 등록을 진행하시겠습니까?</div>
      </section>
      <section class="section-item item">
        <div class="image">
          <img src="https://source.unsplash.com/random/100x100/?coffee/4" alt="test" />
        </div>
        <div class="information">
          <small class="item-mid">12126547821</small>
          <div class="title">1kg 커피창고 에티오피아 예가체프 test test test test test test</div>
          <div class="store">커피창고</div>
        </div>
      </section>
    </div>
    <div class="buttons">
      <button class="btn-cancel close" type="button">취소</button>
      <button class="btn-submit" type="button" data-modal="createKeyword">확인</button>
    </div>
  </div>
</div>
{% endblock %}